[Desktop Entry]
Name=Archive Mail Agent
Name[ar]=وكيل أرشفة البريد
Name[bs]=Arhiva poštanskih agenata
Name[ca]=Agent per arxivar el correu
Name[ca@valencia]=Agent per arxivar el correu
Name[cs]=Agent archivace pošty
Name[da]=Agent til mail-arkivering
Name[de]=Agent zur E-Mail-Archivierung
Name[el]=Πράκτορας αρχειοθέτησης αλληλογραφίας
Name[en_GB]=Archive Mail Agent
Name[es]=Agente de archivado de correo
Name[et]=Kirjade arhiveerimise agent
Name[fi]=Postin arkistointiagentti
Name[fr]=Agent d'archivage de courriel
Name[gl]=Axente Arquivar o correo
Name[hu]=Levélarchiváló ügynök
Name[ia]=Agente de Archivar posta
Name[it]=Agente di archiviazione della posta
Name[kk]=Поштаны архивтеу агенті
Name[km]=ទុក​ភ្នាក់ងារ​សំបុត្រ​ក្នុង​ប័ណ្ណសារ
Name[ko]=메일 보관 에이전트
Name[lt]=Pašto archyvavimo agentas
Name[mr]=संग्रह मेल प्रतिनिधी
Name[nb]=Postarkiv-agent
Name[nds]=Nettpost-Archiveerhölper
Name[nl]=E-mailagent voor archiveren
Name[pl]=Usługa archiwizacji poczty
Name[pt]=Agente de Arquivo de E-Mail
Name[pt_BR]=Agente de Arquivamento de E-mails
Name[ro]=Agent de arhivare a poștei
Name[ru]=Агент архивирования почты
Name[sk]=Archivovať agenta pošty
Name[sl]=Posrednik za arhiviranje pošte
Name[sr]=Агент за архивирање поште
Name[sr@ijekavian]=Агент за архивирање поште
Name[sr@ijekavianlatin]=Agent za arhiviranje pošte
Name[sr@latin]=Agent za arhiviranje pošte
Name[sv]=E-postarkiveringsmodul
Name[tr]=Posta Arşivleme Aracı
Name[uk]=Агент архівування пошти
Name[wa]=Adjint d' årtchivaedje d' emiles
Name[x-test]=xxArchive Mail Agentxx
Name[zh_CN]=邮件归档代理
Name[zh_TW]=歸檔郵件代理程式
Comment=Archive Mail Agent
Comment[ar]=وكيل أرشفة البريد
Comment[bs]=Arhiva poštanskih agenata
Comment[ca]=Agent per arxivar el correu
Comment[ca@valencia]=Agent per arxivar el correu
Comment[cs]=Agent archivace pošty
Comment[da]=Agent til mail-arkivering
Comment[de]=Agent zur E-Mail-Archivierung
Comment[el]=Πράκτορας αρχειοθέτησης αλληλογραφίας
Comment[en_GB]=Archive Mail Agent
Comment[es]=Agente de archivado de correo
Comment[et]=Kirjade arhiveerimise agent
Comment[fi]=Postin arkistointiagentti
Comment[fr]=Agent d'archivage de courriel
Comment[gl]=Axente Arquivar o correo
Comment[hu]=Levélarchiváló ügynök
Comment[ia]=Agente de Archivar posta
Comment[it]=Agente di archiviazione della posta
Comment[kk]=Поштаны архивтеу агенті
Comment[km]=ទុក​ភ្នាក់ងារ​សំបុត្រ​ក្នុង​ប័ណ្ណសារ
Comment[ko]=메일 보관 에이전트
Comment[lt]=Pašto archyvavimo agentas
Comment[mr]=संग्रह मेल प्रतिनिधी
Comment[nb]=Postarkiv-agent
Comment[nds]=Nettpost-Archiveerhölper
Comment[nl]=E-mailagent voor archiveren
Comment[pl]=Usługa archiwizacji poczty
Comment[pt]=Agente de Arquivo de E-Mail
Comment[pt_BR]=Agente de Arquivamento de E-mails
Comment[ro]=Agent de arhivare a poștei
Comment[ru]=Агент архивирования почты
Comment[sk]=Archivovať agenta pošty
Comment[sl]=Posrednik za arhiviranje pošte
Comment[sr]=Агент за архивирање поште
Comment[sr@ijekavian]=Агент за архивирање поште
Comment[sr@ijekavianlatin]=Agent za arhiviranje pošte
Comment[sr@latin]=Agent za arhiviranje pošte
Comment[sv]=E-postarkiveringsmodul
Comment[tr]=Arşiv Posta Aracı
Comment[uk]=Агент архівування пошти
Comment[wa]=Adjint d' årtchivaedje d' emiles
Comment[x-test]=xxArchive Mail Agentxx
Comment[zh_CN]=邮件归档代理
Comment[zh_TW]=歸檔郵件代理程式
Type=AkonadiAgent
Exec=akonadi_archivemail_agent
Icon=kmail
X-DocPath=akonadi_archivemail_agent/index.html
X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_archivemail_agent
