[Desktop Entry]
Name=Archive Mail Agent
Name[ca]=Agent d'arxivat de correu
Name[nl]=E-mailagent voor archiveren
Comment=Archive Mail Agent
Comment[ca]=Agent d'arxivat de correu
Comment[nl]=E-mailagent voor archiveren
Type=AkonadiAgent
Exec=akonadi_archivemail_agent
Icon=kmail
X-DocPath=akonadi_archivemail_agent/index.html
X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_archivemail_agent
