[Misc]
Name=Application Octetstream
Comment=A bodypart formatter plugin for application/octet-stream
Comment[de]=Ein Bodypart-Formatiermodul für application/octet-stream

[Plugin]
Type=application/octet-stream
X-KDE-Library=kmail_bodypartformatter_application_octetstream
