[Misc]
Encoding=UTF-8
Name=Application Octetstream
Name[fr]=Application (flux d'octets)
Name[x-test]=xxApplication Octetstreamxx
Comment=A bodypart formatter plugin for application/octet-stream
Comment[fr]=Un module formateur de corps pour application (flux d'octets)
Comment[x-test]=xxA bodypart formatter plugin for application/octet-streamxx

[Plugin]
Type=application/octet-stream
X-KDE-Library=libkmail_bodypartformatter_application_octetstream
