[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DBUS/ResourceBackend/IMAP
Comment=Mail program with a DBUS interface
Comment[x-test]=xxMail program with a DBUS interfacexx
