[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=DBUS/ResourceBackend/IMAP
Comment=Mail program with a D-Bus interface
Comment[de]=E-Mail-Programm mit D-Bus-Schnittstelle
Comment[el]=Πρόγραμμα αλληλογραφίας με διασύνδεση D-Bus
Comment[es]=Programa de correo con una interfaz D-Bus
Comment[et]=E-posti rakendus D-Busi liidesega
Comment[ga]=Clár ríomhphoist a bhfuil comhéadan D-Bus aige
Comment[gl]=Programa de correo electrónico cunha interface D-BUS
Comment[ja]=D-Bus インターフェースを持つメールクライアント
Comment[nb]=E-postprogram med D-Bus-grensesnitt
Comment[nds]=Nettpostprogramm mit en D-Bus-Koppelsteed
Comment[nn]=E-postprogram med eit D-Bus-grensesnitt
Comment[pt]=Um programa de correio electrónico com uma interface D-Bus
Comment[pt_BR]=Programa de e-mail com interface D-Bus
Comment[sv]=E-postprogram med D-Bus gränssnitt
Comment[tr]=D-Bus arayüzü olan e-posta uygulaması
Comment[uk]=Програма ел. пошти з інтерфейсом D-Bus
Comment[x-test]=xxMail program with a D-Bus interfacexx
Comment[zh_TW]=有 D-Bus 介面的郵件程式
