[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=DBUS/ResourceBackend/IMAP
Comment=Mail program with a DBUS interface
Comment[de]=Mail-Programm mit D-Bus-Schnittstelle
