[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=DBUS/Mailer
Comment=Mail program with a D-Bus interface
Comment[et]=E-posti rakendus D-Busi liidesega
Comment[ga]=Clár ríomhphoist a bhfuil comhéadan D-Bus aige
Comment[pt]=Um programa de correio electrónico com uma interface D-Bus
Comment[pt_BR]=Programa de e-mail com interface D-Bus
Comment[sv]=E-postprogram med D-Bus gränssnitt
Comment[uk]=Програма ел. пошти з інтерфейсом D-Bus
Comment[zh_TW]=有 D-Bus 介面的郵件程式
