[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DCOP/ResourceBackend/IMAP
Comment=Mail program with a DCOP interface
Comment[be]=Паштовая праграма з DCOP інтэрфэйсам
Comment[bg]=Клиент на електронна поща за КДЕ
Comment[bs]=Mail program sa DCOP interfejsom
Comment[ca]=Un programa de correu amb una interfície DCOP
Comment[cs]=Poštvní program s DCOP rozhraním
Comment[cy]=Rhaglen ebost gyda rhyngwyneb DCOP
Comment[da]=E-mail program med en DCOP-grænseflade
Comment[de]=Mail-Programm mit DCOP-Schnittstelle
Comment[el]=Πρόγραμμα mail με ένα περιβάλλον χρήσης DCOP
Comment[es]=Programa de correo con un interfaz DCOP
Comment[et]=E-posti rakendus DCOP-liidesega
Comment[fi]=Sähköpostisovellus DCOP-rajapinnalla
Comment[fr]=Programme de messagerie avec une interface DCOP
Comment[hi]=डीकॉप इंटरफेस सहित एक डाक प्रोग्राम
Comment[hu]=Levelezőprogram DCOP felülettel
Comment[is]=Póstforrit með DCOP tengi
Comment[it]=Programma di posta con un'interfaccia DCOP
Comment[ja]=DCOP インターフェース付のメールプログラム
Comment[nb]=E-postprogram med DCOP grensesnitt
Comment[nl]=E-mailprogramma met een DCOP-interface
Comment[nn]=E-postprogram med eit DCOP-grensesnitt
Comment[pl]=Program pocztowy z interfejsem DCOP
Comment[pt]=Um programa de correio electrónico com uma interface DCOP
Comment[pt_BR]=Programa de e-mail com uma interface DCOP
Comment[ru]=Почтовая программа с интерфейсом DCOP
Comment[se]=E-boastaprográmma mas lea DCOP-lakta
Comment[sk]=Poštový program s DCOP rozhraním
Comment[sl]=Poštni program z vmesnikom DCOP
Comment[sr]=Поштански програм са DCOP интерфејсом
Comment[sr@Latn]=E-poštanski program sa DCOP interfejsom
Comment[sv]=E-postprogram med DCOP-gränssnitt
Comment[ta]=dcop முகப்பு கூடிய அஞ்சல் நிரல்
Comment[tg]=Барномаи почтавӣ бо интерфейси DCOP
Comment[tr]=DCOP arayüzü ile posta programı
Comment[uk]=Програма для роботи з ел. поштою з інтерфейсом DCOP
Comment[xx]=xxMail program with a DCOP interfacexx
Comment[zh_CN]=具有 DCOP 接口的邮件程序
