[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DCOP/ResourceBackend/IMAP
Comment=Mail program with a DCOP interface
Comment[be]=Паштовая праграма з DCOP інтэрфэйсам
Comment[ca]=Un programa de correu amb una interfície DCOP
Comment[cs]=Poštvní program s DCOP rozhraním
Comment[da]=E-mail program med en DCOP-grænseflade
Comment[de]=Mail-Programm mit DCOP-Schnittstelle
Comment[el]=Πρόγραμμα mail με ένα περιβάλλον χρήσης DCOP
Comment[es]=Programa de correo con un interfaz DCOP
Comment[et]=E-posti rakendus DCOP liidesega
Comment[fr]=Programme de messagerie avec une interface DCOP
Comment[hu]=Levelezőprogram DCOP felülettel
Comment[it]=Un programma di posta con un'interfaccia DCOP
Comment[nl]=E-mailprogramma met een DCOP-interface
Comment[pt]=Um programa de correio electrónico com uma interface DCOP
Comment[pt_BR]=Programa de e-mail com uma interface DCOP
Comment[ru]=Почтовая программа с интерфейсом DCOP
Comment[sk]=Poštový program s DCOP rozhraním
Comment[sr]=Програм за имејл са DCOP интерфејсом
Comment[sv]=E-postprogram med DCOP-gränssnitt
Comment[tr]=DCOP arayüzü ile posta programı
Comment[uk]=Програма для роботи з ел. поштою з інтерфейсом DCOP
Comment[xx]=xxMail program with a DCOP interfacexx
