[Desktop Entry]
Encoding=UTF-8
Icon=network
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_network
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Network
Name[ar]=الشبكة
Name[az]=Şəbəkə
Name[be]=Сетка
Name[bg]=Мрежа
Name[br]=Rouedad
Name[bs]=Mreža
Name[ca]=Xarxa
Name[cs]=Síť
Name[cy]=Rhwydwaith
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fr]=Réseau
Name[ga]=Gréasán
Name[gl]=Rede
Name[he]=רשת
Name[hr]=Mreža
Name[hu]=Hálózat
Name[id]=Jaringan
Name[is]=Net
Name[it]=Rete
Name[ja]=ネットワーク
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mi]=Hao
Name[mk]=Мрежа
Name[nb]=Nettverk
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[oc]=Resèu
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Ustawienia sieci
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ru]=Сеть
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sq]=Rrjeta
Name[sr]=Мрежа
Name[sr@Latn]=Mreža
Name[ss]=Luchungechunge
Name[sv]=Nätverk
Name[ta]=பிணையம்
Name[tg]=Шабака
Name[th]=ระบบเครือข่าย
Name[uz]=Тармоқ
Name[ven]=Vhukwamani
Name[vi]=Mạng 
Name[xh]=Umsebenzi womnatha
Name[zh_CN]=网络
Name[zu]=Umsebenzi wokuxhumanisa
Comment=Setup for Sending and Receiving Messages
Comment[bg]=Настройки на мрежата, сървърите и сметките
Comment[bs]=Postavke za slanje i prijem poruka
Comment[ca]=Configuració per enviar i rebre missatges
Comment[cs]=Nastavení odesílání a přijímání zpráv
Comment[da]=Opsætning til at sende og modtage breve
Comment[de]=Einstellungen zum Senden und Empfangen von Nachrichten
Comment[el]=Ρύθμιση για αποστολή και λήψη μηνυμάτων
Comment[es]=Configuración para el envío y recepción de mensajes
Comment[et]=Kirjade saatmise ja saamise seadistused
Comment[fr]=Configuration de l'envoi et de la réception de messages
Comment[he]=הגדרות עבור קבלה ושליחת הודעות
Comment[hu]=Küldési és fogadási beállítások
Comment[it]=Impostazioni per spedire e ricevere messaggi
Comment[ja]=メッセージを送受信する為の設定
Comment[nb]=Oppset for mottak og sending av meldinger
Comment[nl]=Instellingen voor het verzenden en ontvangen van berichten
Comment[nn]=Oppsett av sending og mottak av meldingar
Comment[pl]=Ustawienia wysyłania i odbierania wiadomości
Comment[pt]=Configuração de Envio e Recepção de Mensagens
Comment[pt_BR]=Configura o Envio e Recebimento de Mensagens
Comment[ru]=Настройка отправки и получения сообщений
Comment[sk]=Nastavenie príjmu a odosielania správ
Comment[sl]=Nastavitve za pošiljanje in prejemanje sporočil
Comment[sr]=Подешавање слања и примања порука
Comment[sr@Latn]=Podešavanje slanja i primanja poruka
Comment[sv]=Inställningar för att skicka och ta emot post
Comment[ta]=அனுப்புதல் மற்றும் பெறுதல் தகவல்களுக்கான அமைப்பு
Comment[tg]=Танзимоти фиристодан ва қабул кардани иттилоот
Comment[zh_CN]=收发邮件设置
Keywords=kmail,network
Keywords[be]=K Пошта,сетка,kmail,network
Keywords[bg]=пощенски, клиент, е-поща, мрежа, сървър, сметка, kmail, network
Keywords[bs]=kmail,network,mreža
Keywords[ca]=kmail,xarxa
Keywords[cs]=kmail,síť
Keywords[da]=kmail,netværk
Keywords[de]=KMail,Netzwerk
Keywords[el]=kmail,δίκτυο
Keywords[es]=kmail,red
Keywords[et]=kmail,võrk
Keywords[fr]=kmail,réseau
Keywords[gl]=kmail,rede
Keywords[he]=kmail,רשת
Keywords[hu]=kmail,hálózat
Keywords[is]=kmail,net
Keywords[ja]=kmail,ネットワーク
Keywords[nb]=kmail,nettverk
Keywords[nl]=kmail,netwerk
Keywords[nn]=KMail,nettverk
Keywords[pl]=kmail,sieć,ustawienia sieci
Keywords[pt]=kmail,rede
Keywords[pt_BR]=kmail,rede
Keywords[ru]=kmail,network,сеть
Keywords[sk]=kmail,sieť
Keywords[sl]=kmail,omrežje
Keywords[sr]=kmail,мрежа
Keywords[sr@Latn]=kmail,mreža
Keywords[sv]=kmail,nätverk
Keywords[ta]=கேஅஞ்சல்,பிணையம்
Keywords[tg]=kmail,network,шабақа
Keywords[zh_CN]=kmail,network,网络
