[Desktop Entry]
Encoding=UTF-8
Name=KMail
Name[ar]=البريد
Name[be]=K Пошта
Name[eo]=Retpoŝto
Name[hi]=के-मेल
Name[lv]=KPasts
Name[sv]=Kmail
Name[ta]=Kஅஞ்சல்
Name[th]=จัดการจดหมาย - K
Name[xx]=xxKMailxx
Type=Application
Exec=kmail -caption "%c" %i %m
Icon=kmail
DocPath=kmail/index.html
GenericName=Mail Client
GenericName[ar]=البريد الألكتروني
GenericName[az]=Poçt Alıcısı
GenericName[be]=Паштовы кліент
GenericName[bg]=Пощенски клиент
GenericName[br]=Arval postel
GenericName[bs]=Program za čitanje elektronske pošte
GenericName[ca]=Client de correu
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail klient
GenericName[de]=Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo
GenericName[et]=E-posti klient
GenericName[eu]=Posta Bezeroa
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de messagerie électronique
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[he]=לקוח דוא"ל
GenericName[hi]=डाकिया
GenericName[hr]=Program za čitanje elektronske pošte
GenericName[hu]=Levelezőprogram
GenericName[id]=Klien Mail
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta Klients
GenericName[mk]=Програма за е-пошта
GenericName[mt]=Klijent tal-imejl
GenericName[nb]=E-postklient
GenericName[nl]=E-mailclient
GenericName[nn]=E-postklient
GenericName[pl]=Program pocztowy
GenericName[pt]=Client de E-mail
GenericName[pt_BR]=Cliente de E-mail
GenericName[ro]=Program de poştă electronică
GenericName[ru]=Почтовый клиент
GenericName[se]=E-boastaprográmma
GenericName[sk]=Poštový klient
GenericName[sl]=Poštni odjemalec
GenericName[sr]=Поштански клијент
GenericName[sr@Latn]=E-poštanski klijent
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் பயனர்
GenericName[tg]=Клиенти почтавӣ
GenericName[th]=ไคลเอนต์จดหมายอิเล็กทรอนิกส์
GenericName[tr]=Posta İstemcisi
GenericName[uk]=Поштовий клієнт
GenericName[uz]=Хат-хабар клиенти
GenericName[ven]=Mushumisani na poso
GenericName[xh]=Umxhasi Weposi
GenericName[xx]=xxMail Clientxx
GenericName[zh_CN]=邮件客户程序
GenericName[zu]=Imeyili Yomthengi
Terminal=false

X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kmail
ServiceTypes=DCOP/ResourceBackend/IMAP,DCOP/Mailer
Categories=Qt;KDE;Network;
