[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=sendto;
Icon=kmail

[Desktop Action sendto]
Name=Send To
Name[en_GB]=Send To
Name[pt]=Enviar Para
Name[pt_BR]=Enviar para
Name[sv]=Skicka till
Name[uk]=Надіслати до
Name[x-test]=xxSend Toxx
Name[zh_TW]=傳送到
Exec=kmail --attach %F
