[Desktop Entry]
Name=KMail view
Name[el]=Προβολή KMail
Name[gl]=Vista KMail 
Name[ja]=KMail ビュー
Name[km]=ទិដ្ឋភាព KMail
Name[nb]=KMail-visning
Name[nds]=KMail-Ansicht
Name[nl]=KMail-weergave
Name[nn]=KMail-vising
Name[pt]=Janela do KMail
Name[pt_BR]=Exibição do KMail
Name[sv]=Kmail-vy
Name[tr]=KMail görünümü
Name[uk]=Перегляд KMail
Name[x-test]=xxKMail viewxx
Name[zh_TW]=KMail 檢視
Type=Application
Exec=kmail --view %u
Icon=kmail
X-DocPath=kmail/index.html
NoDisplay=true
MimeType=message/rfc822;application/mbox;application/x-mimearchive;

X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kmail
