[Desktop Entry]
Encoding=UTF-8
Icon=edit
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_composer
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Composer
Name[el]=Συνταξη μηνυμάτων
Name[fr]=Éditeur
Name[x-test]=xxComposerxx
Comment=Phrases & General Behavior
Comment[x-test]=xxPhrases & General Behaviorxx
Keywords=kmail,composer
Keywords[el]=kmail,συντάκτης
Keywords[fr]=KMail,éditeur
Keywords[x-test]=xxkmail,composerxx
