[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_identity
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Identities
Name[be]=Увасабленьні
Name[ca]=Identitats
Name[da]=Identiteter
Name[el]=Ταυτότητες
Name[es]=Identidades
Name[et]=Identiteedid
Name[fr]=Identités
Name[it]=Identità
Name[nl]=Identiteiten
Name[pt]=Identidades
Name[pt_BR]=Identidades
Name[sl]=Identitete
Name[sv]=Identiteter
Name[ta]=அடையாளங்கள்
Name[xx]=xxIdentitiesxx
Name[zh_CN]=身份
Comment=Manage Identities
Comment[be]=Кіраваць увасабленьнямі
Comment[ca]=Gestiona les identitats
Comment[da]=Håndtering af identiteter
Comment[el]=Διαχείριση ταυτοτήτων
Comment[es]=Gestionar identidades
Comment[et]=Identiteetide haldus
Comment[fr]=Gestion des identités
Comment[it]=Gestisce le identità
Comment[nl]=Identiteiten beheren
Comment[pt]=Gerir Identidades
Comment[pt_BR]=Gerenciar Identidades
Comment[sl]=Upravljanje z identitetami
Comment[sv]=Hantera identiteter
Comment[ta]=அடையாளங்களை நிர்வகி
Comment[xx]=xxManage Identitiesxx
Comment[zh_CN]=管理身份
Keywords=kmail,identity
Keywords[be]=K Пошта,увасабленьне,kmail,identity
Keywords[ca]=kmail,identitat
Keywords[da]=kmail,identitet
Keywords[el]=kmail,ταυτότητα
Keywords[es]=kmail,identidad
Keywords[et]=kmail,identiteet
Keywords[fr]=kmail,identités
Keywords[it]=kmail,identità
Keywords[nl]=kmail,identiteit
Keywords[pt]=kmail,identidade
Keywords[pt_BR]=kmail,identidade
Keywords[sl]=kmail,identiteta
Keywords[sv]=kmail,identifiera
Keywords[ta]=கேஅஞ்சல்,அடையாளம்
Keywords[xx]=xxkmail,identityxx
Keywords[zh_CN]=kmail,identity, 身份
