[Desktop Entry]
Icon=accessories-text-editor
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmail
X-KDE-FactoryName=kmail_config_composer
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail
X-KDE-Weight=400

Name=Composer
Name[de]=Komposer
Comment=Phrases & General Behavior
Comment[de]=Vorlagen und allgemeines Verhalten
X-KDE-Keywords=kmail,composer
X-KDE-Keywords[bg]=Keywords=пощенски, клиент, е-поща, редактор, съставител, форматиране, текст, kmail, komposer
X-KDE-Keywords[ca]=kmail,editor
X-KDE-Keywords[cs]=kmail,editor
X-KDE-Keywords[da]=kmail,brevskriver
X-KDE-Keywords[de]=KMail,Komposer
X-KDE-Keywords[el]=kmail,συντάκτης
X-KDE-Keywords[es]=kmail,editor
X-KDE-Keywords[et]=kmail,koostaja
X-KDE-Keywords[eu]=kmail,editorea
X-KDE-Keywords[fa]=kmail، مؤلف
X-KDE-Keywords[fi]=kmail,kirjoitus
X-KDE-Keywords[fr]=KMail,éditeur
X-KDE-Keywords[fy]=kmail,opsteller
X-KDE-Keywords[gl]=kmail,editor
X-KDE-Keywords[he]=kmail,composer,כתבן
X-KDE-Keywords[hu]=kmail,szerkesztő
X-KDE-Keywords[is]=kmail,ritill
X-KDE-Keywords[it]=kmail,compositore
X-KDE-Keywords[ka]=kmail,წერილების რედაქტორი
X-KDE-Keywords[km]=kmail កម្មវិធី​តែង
X-KDE-Keywords[ko]=kmail,작성기
X-KDE-Keywords[lt]=kmail,composer,redaktorius
X-KDE-Keywords[mk]=kmail,composer,кпошта,составувач
X-KDE-Keywords[ms]=kmail,penggubah
X-KDE-Keywords[nb]=kmail,komposer
X-KDE-Keywords[nds]=KMail,Editor,Nettbreefeditor
X-KDE-Keywords[ne]=केडीई पत्र, कम्पोजर
X-KDE-Keywords[nl]=kmail,opsteller
X-KDE-Keywords[pl]=kmail,kompozytor,edytor
X-KDE-Keywords[pt]=kmail,compositor
X-KDE-Keywords[pt_BR]=kmail,editor de mensagens
X-KDE-Keywords[ru]=kmail,composer,письмо
X-KDE-Keywords[sl]=kmail,composer,sestavljalnik
X-KDE-Keywords[sr]=kmail,састављач
X-KDE-Keywords[sr@latin]=kmail,sastavljač
X-KDE-Keywords[sv]=kmail,brevfönster
X-KDE-Keywords[ta]=கேஅஞ்சல்,கம்போசர்
X-KDE-Keywords[tg]=kmail,composer,мактуб
X-KDE-Keywords[tr]=kmail,düzenleyici
X-KDE-Keywords[uk]=kmail,редактор
X-KDE-Keywords[x-test]=xxkmail,composerxx
X-KDE-Keywords[zh_CN]=kmail,composer, 编写器
