[Desktop Entry]
Icon=security-high
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmail
X-KDE-FactoryName=kmail_config_security
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Security
Name[de]=Sicherheit
Comment=Security & Privacy Settings
Comment[de]=Sicherheit und Privatsphäre
X-KDE-Keywords=kmail,security
X-KDE-Keywords[be]=бяспека,kmail,security
X-KDE-Keywords[bg]=Keywords=пощенски, клиент, е-поща, сигурност, поверителност, kmail, security
X-KDE-Keywords[br]=kmail,surentez
X-KDE-Keywords[ca]=kmail,seguretat
X-KDE-Keywords[cs]=kmail,bezpečnost
X-KDE-Keywords[da]=kmail,sikkerhed
X-KDE-Keywords[de]=KMail,Sicherheit
X-KDE-Keywords[el]=kmail,ασφάλεια
X-KDE-Keywords[es]=kmail,seguridad
X-KDE-Keywords[et]=kmail,turvalisus
X-KDE-Keywords[eu]=kmail,sekuritate
X-KDE-Keywords[fa]=kmail، امنیت
X-KDE-Keywords[fi]=kmail,turvallisuus
X-KDE-Keywords[fr]=KMail,sécurité
X-KDE-Keywords[fy]=kmail,feiligens
X-KDE-Keywords[ga]=kmail,slándáil
X-KDE-Keywords[gl]=kmail,seguridade
X-KDE-Keywords[he]=kmail,security,אבטחה
X-KDE-Keywords[hu]=kmail,biztonság
X-KDE-Keywords[is]=kmail,öryggi
X-KDE-Keywords[it]=kmail,sicurezza
X-KDE-Keywords[ja]=kmail,セキュリティ
X-KDE-Keywords[ka]=kmail,უსაფრთხოება
X-KDE-Keywords[km]=kmail,សុវត្ថិភាព
X-KDE-Keywords[ko]=kmail,보안
X-KDE-Keywords[lt]=kmail,security,saugumas
X-KDE-Keywords[mk]=kmail,security,кпошта,безбедност
X-KDE-Keywords[ms]=kmail,keselamatan
X-KDE-Keywords[nb]=kmail,sikkerhet
X-KDE-Keywords[nds]=KMail,Sekerheit,Privaatrebeet
X-KDE-Keywords[ne]=केडीई पत्र, सुरक्षा
X-KDE-Keywords[nl]=kmail,beveiliging
X-KDE-Keywords[pl]=kmail,bezpieczeństwo,prywatność
X-KDE-Keywords[pt]=kmail,segurança
X-KDE-Keywords[pt_BR]=kmail,segurança
X-KDE-Keywords[ru]=kmail,security,безопасность
X-KDE-Keywords[sl]=kmail,varnost
X-KDE-Keywords[sr]=kmail,сигурност
X-KDE-Keywords[sr@latin]=kmail,sigurnost
X-KDE-Keywords[sv]=kmail,säkerhet
X-KDE-Keywords[ta]=கேஅஞ்சல்,பாதுகாப்பு
X-KDE-Keywords[tg]=kmail,security,амният
X-KDE-Keywords[tr]=kmail,güvenlik
X-KDE-Keywords[uk]=kmail,безпека
X-KDE-Keywords[uz]=kmail,хавфсизлик
X-KDE-Keywords[x-test]=xxkmail,securityxx
X-KDE-Keywords[zh_CN]=kmail,security,安全
