[Desktop Entry]
Encoding=UTF-8
Icon=looknfeel
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_appearance
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Appearance
Name[ar]=المظهر
Name[bg]=Външен вид
Name[br]=Neuziadur
Name[ca]=Aparença
Name[cs]=Vzhled
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[ga]=Cuma
Name[gl]=Apariencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=იერსახე
Name[kk]=Сыртқы көрінісі
Name[km]=រូបរាង
Name[lt]=Išvaizda
Name[mk]=Изглед
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=मोहडा
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sl]=Videz
Name[sr]=Изглед
Name[sr@Latn]=Izgled
Name[sv]=Uppträdande
Name[ta]=தோற்றம்
Name[tg]=Намуди зоҳирӣ
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[uz]=Кўриниши
Name[x-test]=xxAppearancexx
Name[zh_TW]=外觀
Comment=Customize Visual Appearance
Comment[af]=Pasmaak die visuele voorkoms
Comment[bg]=Настройки на външния вид
Comment[ca]=Personalitza l'aparença visual
Comment[cs]=Nastavení vzhledu
Comment[cy]=Addasu Golwg
Comment[da]=Brugerindstil visuelt udseende
Comment[de]=Erscheinungsbild anpassen
Comment[el]=Προσαρμογή εμφάνισης
Comment[en_GB]=Customise Visual Appearance
Comment[es]=Apariencia visual personalizada
Comment[et]=Välimuse seadistused
Comment[eu]=Pertsonalizatu itxura
Comment[fa]=سفارشی کردن ظاهر تصویری
Comment[fi]=Ulkonäköasetukset
Comment[fr]=Personnalisation de l'apparence
Comment[gl]=Personalizar a apariencia visual
Comment[he]=הגדרת מראה
Comment[hu]=A grafikai megjelenés testreszabása
Comment[is]=Stilla útlit
Comment[it]=Personalizza l'aspetto
Comment[ja]=外観をカスタマイズ
Comment[ka]=ვიზუალური იერსახის დაყენება
Comment[kk]=Сыртқы көрінісін ыңғайлау
Comment[km]=ប្ដូរ​រូបរាង​មើល​ឃើញ​តាម​បំណង
Comment[lt]=Derinti vizualinę išvaizdą
Comment[mk]=Приспособете ја визуелната појава
Comment[ms]=Suaikan Rupa Visual
Comment[nb]=Tilpass visuelt utseende
Comment[nds]=Utsehn topassen
Comment[ne]=दृश्यात्मक मोहडा अनुकूल गर्नुहोस्
Comment[nl]=Pas het uiterlijk aan
Comment[nn]=Tilpass utsjånad
Comment[pl]=Zmiana wyglądu
Comment[pt]=Personalizar a Aparência Visual
Comment[pt_BR]=Personalizar Aparência Visual
Comment[ru]=Настройка внешнего вида
Comment[se]=Heivet fárdda
Comment[sl]=Prilagodi videz
Comment[sr]=Прилагодите визуелни приказ
Comment[sr@Latn]=Prilagodite vizuelni prikaz
Comment[sv]=Anpassa visuellt uppträdande
Comment[ta]=பார்க்கும் தோற்றத்தை தனிபயனாக்கு
Comment[tg]=Танзимоти намуди зоҳирӣ
Comment[tr]=Görsel Görünümü Özelleştir
Comment[uk]=Налаштування зовнішнього вигляду
Comment[x-test]=xxCustomize Visual Appearancexx
Comment[zh_TW]=調整視覺顯示
Keywords=kmail,appearance
Keywords[bg]=пощенски, клиент, е-поща, външен, вид, външност, появяване kmail, appearance
Keywords[br]=kmail,neuziadur
Keywords[ca]=kmail,aparença
Keywords[cs]=kmail,vzhled
Keywords[da]=kmail,udseende
Keywords[de]=KMail,Erscheinungsbild
Keywords[el]=kmail,εμφάνιση
Keywords[es]=kmail,apariencia
Keywords[et]=kmail,välimus
Keywords[eu]=kmail,itxura
Keywords[fa]=kmail، ظاهر
Keywords[fi]=kmail,ulkonäkö
Keywords[fr]=KMail,apparence
Keywords[ga]=kmail,cuma
Keywords[gl]=kmail,apariencia
Keywords[he]=kmail,appearance, מראה
Keywords[hu]=kmail,megjelenés
Keywords[is]=kmail,útlit
Keywords[it]=kmail,aspetto
Keywords[ja]=kmail,外観
Keywords[ka]=kmail,იერსახე
Keywords[km]=kmail,រូបរាង
Keywords[lt]=kmail,appearance,išvaizda
Keywords[mk]=kmail,appearance,кпошта,појава,изглед,визуелно
Keywords[ms]=kmail,rupa
Keywords[nb]=kmail,utseende
Keywords[nds]=KMail,Utsehn
Keywords[ne]=केडीई मेल, मोहडा
Keywords[nl]=kmail,uiterlijk
Keywords[nn]=KMail,utsjånad
Keywords[pl]=kmail,wygląd
Keywords[pt]=kmail,aparência
Keywords[pt_BR]=kmail,aparência
Keywords[ru]=kmail,внешний вид
Keywords[sl]=kmail,videz,izgled
Keywords[sr]=kmail,изглед
Keywords[sr@Latn]=kmail,izgled
Keywords[sv]=kmail,utseende
Keywords[ta]=கேஅஞ்சல், தோற்றம்
Keywords[tg]=kmail,намуди зоҳирӣ
Keywords[tr]=kmail,görünüm
Keywords[uk]=kmail,вигляд
Keywords[x-test]=xxkmail,appearancexx
