[Desktop Entry]
Encoding=UTF-8
Icon=encrypted
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_security
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Security
Name[af]=Sekuriteit
Name[be]=Бяспека
Name[br]=Surentez
Name[ca]=Seguretat
Name[cs]=Bezpečnost
Name[cy]=Diogelwch
Name[da]=Sikkerhed
Name[de]=Sicherheit
Name[el]=Ασφάλεια
Name[es]=Seguridad
Name[et]=Turvalisus
Name[eu]=Sekuritatea
Name[fa]=امنیت
Name[fi]=Turvallisuus
Name[fr]=Sécurité
Name[ga]=Slándáil
Name[gl]=Seguridade
Name[he]=אבטחה
Name[hu]=Biztonság
Name[is]=Öryggi
Name[it]=Sicurezza
Name[ja]=セキュリティ
Name[ka]=უსაფრთხოება
Name[kk]=Қауіпсіздік
Name[km]=សុវត្ថិភាព
Name[lt]=Saugumas
Name[mk]=Безбедност
Name[ms]=Keselamatan
Name[nb]=Sikkerhet
Name[nds]=Sekerheit
Name[ne]=सूरक्षा
Name[nl]=Beveiliging
Name[nn]=Tryggleik
Name[pa]=ਸੁਰੱਖਿਆ
Name[pl]=Bezpieczeństwo
Name[pt]=Segurança
Name[pt_BR]=Segurança
Name[ru]=Безопасность
Name[se]=Sihkarvuohta
Name[sl]=Varnost
Name[sr]=Сигурност
Name[sr@latin]=Sigurnost
Name[sv]=Säkerhet
Name[ta]=பாதுகாப்பு
Name[tg]=Амният
Name[tr]=Güvenlik
Name[uk]=Безпека
Name[uz]=Хавфсизлик
Name[x-test]=xxSecurityxx
Name[zh_TW]=安全性
Comment=Security & Privacy Settings
Comment[af]=Sekuriteit en provaatheid opstelling
Comment[be]=Настаўленні бяспекі і прыватнасці
Comment[br]=Kefluniadur surentez ar buhez prevez
Comment[ca]=Arranjament de seguretat i privadesa
Comment[cs]=Nastavení soukromí a zabezpečení
Comment[da]=Sikkerheds- & Privathedsindstillinger
Comment[de]=Einstellungen zu Sicherheit und Privatsphäre
Comment[el]=Ρυθμίσεις Ασφάλειας & Προσωπικού απόρρητου
Comment[es]=Opciones de seguridad y privacidad
Comment[et]=Turvalisus- ja privaatsusseadistused
Comment[eu]=Sekuritate & pribakortasun ezarpenak
Comment[fa]=امنیت و تنظیمات محرمانگی
Comment[fi]=Turvallisuus- ja yksityisyysasetukset
Comment[fr]=Paramètres de sécurité et de confidentialité
Comment[gl]=Opcións de Seguridade e Intimidade
Comment[he]=הגדרות אבטחה ופרטיות
Comment[hu]=Biztonsági és adatvédelmi beállítások
Comment[is]=Öryggis & einkalífsstillingar
Comment[it]=Impostazioni sicurezza e privacy
Comment[ja]=セキュリティ & プライバシーの設定
Comment[ka]=უსაფრთხოებისა და პირადულობის პარამეტრები
Comment[kk]=Қауіпсіздігі пен Дербестік параметрлері
Comment[km]=ការ​កំណត់​សុវត្ថិភាព & ភាព​ឯកជន
Comment[lt]=Saugumo ir privatumo nustatymai
Comment[mk]=Поставувања за безбедност и приватност
Comment[ms]=Seting Keselamatan & Peribadi
Comment[nb]=Sikkerhet og personvern-instillinger
Comment[nds]=Sekerheit- un Privaatrebeet-Instellen
Comment[ne]=सुरक्षा र गोप्यता सेटिङ
Comment[nl]=Beveiligings- en privacy-instellingen
Comment[nn]=Innstillingar for tryggleik og personvern
Comment[pl]=Ustawienia bezpieczeństwa i prywatności
Comment[pt]=Configuração de Segurança e Privacidade
Comment[pt_BR]=Configurações de Segurança & Privacidade
Comment[ru]=Настройки безопасности
Comment[se]=Sihkarvuohta- ja iežas suodjalan heivehusat
Comment[sl]=Nastavitve varnosti in zasebnosti
Comment[sr]=Поставке сигурности и приватности
Comment[sr@latin]=Postavke sigurnosti i privatnosti
Comment[sv]=Inställningar för säkerhet och integritet
Comment[ta]=பாதுகாப்பு & தனிப்பட்ட அமைவுகள்
Comment[tg]=Танзимоти амният
Comment[tr]=Güvenlik ve Gizlilik Ayarlar
Comment[uk]=Параметри безпеки і конфіденційності
Comment[x-test]=xxSecurity & Privacy Settingsxx
Comment[zh_TW]=安全性與隱私設定
Keywords=kmail,security
Keywords[be]=бяспека,kmail,security
Keywords[br]=kmail,surentez
Keywords[ca]=kmail,seguretat
Keywords[cs]=kmail,bezpečnost
Keywords[da]=kmail,sikkerhed
Keywords[de]=KMail,Sicherheit
Keywords[el]=kmail,ασφάλεια
Keywords[es]=kmail,seguridad
Keywords[et]=kmail,turvalisus
Keywords[eu]=kmail,sekuritate
Keywords[fa]=kmail، امنیت
Keywords[fi]=kmail,turvallisuus
Keywords[fr]=KMail,sécurité
Keywords[ga]=kmail,slándáil
Keywords[gl]=kmail,seguridade
Keywords[he]=kmail,security,אבטחה
Keywords[hu]=kmail,biztonság
Keywords[is]=kmail,öryggi
Keywords[it]=kmail,sicurezza
Keywords[ja]=kmail,セキュリティ
Keywords[ka]=kmail,უსაფრთხოება
Keywords[km]=kmail,សុវត្ថិភាព
Keywords[lt]=kmail,security,saugumas
Keywords[mk]=kmail,security,кпошта,безбедност
Keywords[ms]=kmail,keselamatan
Keywords[nb]=kmail,sikkerhet
Keywords[nds]=KMail,Sekerheit,Privaatrebeet
Keywords[ne]=केडीई मेल, सुरक्षा
Keywords[nl]=kmail,beveiliging
Keywords[nn]=KMail,tryggleik
Keywords[pl]=kmail,bezpieczeństwo,prywatność
Keywords[pt]=kmail,segurança
Keywords[pt_BR]=kmail,segurança
Keywords[ru]=kmail,security,безопасность
Keywords[sl]=kmail,varnost
Keywords[sr]=kmail,сигурност
Keywords[sr@latin]=kmail,sigurnost
Keywords[sv]=kmail,säkerhet
Keywords[ta]=கேஅஞ்சல்,பாதுகாப்பு
Keywords[tg]=kmail,security,амният
Keywords[tr]=kmail,güvenlik
Keywords[uk]=kmail,безпека
Keywords[uz]=kmail,хавфсизлик
Keywords[x-test]=xxkmail,securityxx
