[Desktop Entry]
Encoding=UTF-8
Icon=network
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_accounts
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Accounts
Name[be]=Рахункі
Name[bg]=Сметки
Name[ca]=Comptes
Name[cs]=Účty
Name[da]=Konti
Name[de]=Konten
Name[es]=Cuentas
Name[et]=Kontod
Name[fr]=Comptes
Name[gl]=Contas
Name[hu]=Fiókok
Name[it]=Account
Name[nb]=Kontoer
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[ru]=Учётные записи
Name[sl]=Računi
Name[sr]=Налози
Name[sr@Latn]=Налози
Name[sv]=Konton
Name[ta]=கணக்குகள்
Name[tg]=Қайдҳои баҳисобгирӣ
Name[uz]=Ҳисоблар
Name[xx]=xxAccountsxx
Name[zh_CN]=账户
Comment=Setup for Sending and Receiving Messages
Keywords=kmail,accounts
Keywords[es]=kmail,cuentas
Keywords[sv]=kmail,konton
