[Desktop Entry]
Encoding=UTF-8
Icon=misc
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_misc
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Misc
Name[be]=Рознае
Name[bg]=Разни
Name[ca]=Varis
Name[cs]=Různé
Name[da]=Diverse
Name[el]=Διάφορα
Name[es]=Varios
Name[et]=Muud
Name[fr]=Divers
Name[hu]=Egyéb
Name[it]=Varie
Name[nl]=Diversen
Name[pt]=Vários
Name[pt_BR]=Extras
Name[ru]=Прочее
Name[sl]=Razno
Name[sv]=Diverse
Name[ta]=இதர
Name[xx]=xxMiscxx
Name[zh_CN]=杂项
Comment=Settings that don't fit elsewhere
Comment[bg]=Разни настройки
Comment[ca]=Opcions que no van bé enlloc
Comment[cs]=Nastavení nehodící se jinam
Comment[da]=Indstillinger der ikke passer ind andre steder
Comment[el]=Ρυθμίσεις που δεν ταιριάζουν κάπου αλλού
Comment[es]=Opciones que no encajan en ningún otro sitio
Comment[et]=Seadistused, mis kuhugi mujale ei sobi
Comment[fr]=Paramètres qui ne rentrent dans aucune autre catégorie
Comment[hu]=A máshová nem besorolható beállítások
Comment[it]=Impostazioni che non rientrano in altre categorie
Comment[nl]=Instellingen die nergens echt passen
Comment[pt]=Outras configurações
Comment[pt_BR]=Preferências que não se encaixam em outros lugares
Comment[ru]=Другие настройки
Comment[sl]=Nastavitve, ki ne spadajo drugam
Comment[sv]=Inställningar som inte passar någon annanstans
Comment[ta]=அமைப்புகள் எந்த இடத்திலும் பொருந்தவில்லை
Comment[xx]=xxSettings that don't fit elsewherexx
Comment[zh_CN]=其它设置
Keywords=kmail,misc
Keywords[be]=K Пошта,рознае,kmail,misc
Keywords[bg]=пощенски, клиент, е-поща, разни, настройки, kmail, misc
Keywords[ca]=kmail,varis
Keywords[cs]=kmail,různé
Keywords[da]=kmail,diverse
Keywords[el]=kmail,διάφορα
Keywords[es]=kmail,varios
Keywords[et]=kmail,muud
Keywords[fr]=kmail,divers
Keywords[hu]=kmail,egyéb
Keywords[it]=kmail,varie
Keywords[nl]=kmail,diversen
Keywords[pt]=kmail,vários
Keywords[pt_BR]=kmail, extras
Keywords[ru]=kmail,misc,прочее,другие
Keywords[sl]=kmail,razno
Keywords[sv]=kmail,diverse
Keywords[ta]=கேஅஞ்சல், இதர
Keywords[xx]=xxkmail,miscxx
Keywords[zh_CN]=kmail,misc,杂项
