[Desktop Entry]
Encoding=UTF-8
Icon=encrypted
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_security
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Security
Name[be]=Бясьпека
Name[bg]=Сигурност
Name[br]=Surentez
Name[ca]=Seguretat
Name[cs]=Bezpečnost
Name[cy]=Diogelwch
Name[da]=Sikkerhed
Name[de]=Sicherheit
Name[el]=Ασφάλεια
Name[es]=Seguridad
Name[et]=Turvalisus
Name[fi]=Turvallisuus
Name[fr]=Sécurité
Name[ga]=Slándáil
Name[gl]=Seguridade
Name[hu]=Biztonság
Name[is]=Öryggi
Name[it]=Sicurezza
Name[ja]=セキュリティ
Name[nb]=Sikkerhet
Name[nl]=Beveiliging
Name[nn]=Tryggleik
Name[pl]=Bezpieczeństwo
Name[pt]=Segurança
Name[pt_BR]=Segurança
Name[ru]=Безопасность
Name[se]=Sihkarvuohta
Name[sk]=Zabezpečenie
Name[sl]=Varnost
Name[sr]=Сигурност
Name[sr@Latn]=Сигурност
Name[sv]=Säkerhet
Name[ta]=பாதுகாப்பு
Name[tg]=Амният
Name[tr]=Güvenlik
Name[uk]=Безпека
Name[uz]=Хавфсизлик
Name[xx]=xxSecurityxx
Name[zh_CN]=安全
Comment=Security & Privacy Settings
Comment[be]=Настройкі бясьпекі і прыватнасьці
Comment[bg]=Настройки на сигурността
Comment[br]=Kefluniadur ar surentez ar buhez prevez
Comment[ca]=Arranjament de seguretat i privacitat
Comment[cs]=Nastavení soukromí a zabezpečení
Comment[da]=Sikkerheds- & Privathedsindstillinger
Comment[de]=Einstellungen zu Sicherheit und Privatsphäre
Comment[el]=Ρυθμίσεις Ασφάλειας & Προσωπικού απόρρητου
Comment[es]=Opciones de seguridad y privacidad
Comment[et]=Turvalisus- ja privaatsusseadistused
Comment[fi]=Turvallisuus- ja yksityisyysasetukset
Comment[fr]=Paramètres de sécurité et de confidentialité
Comment[gl]=Opcións de Seguridade e Intimidade
Comment[hu]=Biztonsági és adatvédelmi beállítások
Comment[it]=Impostazioni sicurezza e privacy
Comment[ja]=セキュリティ & プライバシーの設定
Comment[nb]=Sikkerhet & Personvern instillinger
Comment[nl]=Beveiligings- en privacy-instellingen
Comment[nn]=Innstillingar for tryggleik og personvern
Comment[pl]=Ustawienia bezpieczeństwa i prywatności
Comment[pt]=Configuração de Segurança e Privacidade
Comment[pt_BR]=Configurações de Segurança & Privacidade
Comment[ru]=Настройки безопасности
Comment[se]=Sihkarvuohta- ja iežas suodjalan heivehusat
Comment[sk]=Zabezpečenie a súkromie
Comment[sl]=Nastavitve varnosti in zasebnosti
Comment[sr]=Поставке сигурности и приватности
Comment[sr@Latn]=Поставке сигурности и приватности
Comment[sv]=Inställningar för säkerhet och integritet
Comment[ta]=பாதுகாப்பு & தனிப்பட்ட அமைவுகள்
Comment[tg]=Танзимоти амният
Comment[tr]=Güvenlik ve Gizlilik Ayarlar
Comment[uk]=Параметри безпеки і конфіденційності
Comment[xx]=xxSecurity & Privacy Settingsxx
Comment[zh_CN]=安全和隐私设置
Keywords=kmail,security
Keywords[be]=K Пошта,бясьпека,kmail,security
Keywords[bg]=пощенски, клиент, е-поща, сигурност, конфиденциалност, kmail, security
Keywords[br]=kmail,surentez
Keywords[ca]=kmail,seguretat
Keywords[cs]=kmail,bezpečnost
Keywords[da]=kmail,sikkerhed
Keywords[de]=KMail,Sicherheit
Keywords[el]=kmail,ασφάλεια
Keywords[es]=kmail,seguridad
Keywords[et]=kmail,turvalisus
Keywords[fi]=kmail,turvallisuus
Keywords[fr]=KMail,sécurité,confidentialité
Keywords[gl]=kmail,seguridade
Keywords[hu]=kmail,biztonság
Keywords[is]=kmail,öryggi
Keywords[it]=kmail,sicurezza
Keywords[ja]=kmail,セキュリティ
Keywords[nb]=kmail,sikkerhet
Keywords[nl]=kmail,beveiliging
Keywords[nn]=KMail,tryggleik
Keywords[pl]=kmail,bezpieczeństwo,prywatność
Keywords[pt]=kmail,segurança
Keywords[pt_BR]=kmail,segurança
Keywords[ru]=kmail,security,безопасность
Keywords[sk]=kmail,zabezpečenie
Keywords[sl]=kmail,varnost
Keywords[sr]=kmail,сигурност
Keywords[sr@Latn]=kmail,сигурност
Keywords[sv]=kmail,säkerhet
Keywords[ta]=கேஅஞ்சல்,பாதுகாப்பு
Keywords[tg]=kmail,security,амният
Keywords[tr]=kmail,güvenlik
Keywords[uk]=kmail,безпека
Keywords[xx]=xxkmail,securityxx
Keywords[zh_CN]=kmail,security,安全
