[Desktop Entry]
Encoding=UTF-8
Icon=edit
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_composer
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Composer
Name[ca]=Editor
Name[da]=Brevskriver
Name[es]=Compositor
Name[et]=Koostaja
Name[fr]=Éditeur
Name[he]=עורך
Name[it]=Compositore
Name[nl]=Opsteller
Name[pt]=Compositor
Name[pt_BR]=Editor de Mensagens
Name[sl]=Sestavljalnik
Name[sv]=Brevfönster
Name[ta]=கம்போசர்
Name[xx]=xxComposerxx
Name[zh_CN]=编写器
Comment=Phrases & General Behavior
Comment[ca]=Frases i comportament general
Comment[da]=Udtryk & Generel opførsel
Comment[en_GB]=Phrases & General Behaviour
Comment[es]=Frases y comportamiento general
Comment[et]=Väljendud ja üldine käitumine
Comment[it]=Frasi e comportamento generale
Comment[nl]=Zinnen & Algemeen gedrag
Comment[pt_BR]=Frases & Comportamento Geral
Comment[sl]=Fraze in splošno obnašanje
Comment[sv]=Fraser och allmänt uppträdande
Comment[ta]=சொற்றொடர்கள் & பொதுவான நடப்பு
Comment[xx]=xxPhrases & General Behaviorxx
Comment[zh_CN]=短语和一般行为
Keywords=kmail,composer
Keywords[ca]=kmail,editor
Keywords[da]=kmail,brevskriver
Keywords[es]=kmail,compositor
Keywords[et]=kmail,koostaja
Keywords[fr]=kmail,éditeur
Keywords[it]=kmail,compositore
Keywords[nl]=kmail,opsteller
Keywords[pt]=kmail,compositor
Keywords[pt_BR]=kmail,editor de mensagens
Keywords[sl]=kmail,composer,sestavljalnik
Keywords[sv]=kmail,brevfönster
Keywords[ta]=கேஅஞ்சல்,கம்போசர்
Keywords[xx]=xxkmail,composerxx
Keywords[zh_CN]=kmail,composer, 编写器
