[Desktop Entry]
Encoding=UTF-8
Name=KMail
Name[eo]=Retpoŝto
Name[lv]=KPasts
Name[mk]=КПошта
Name[ne]=केडीई मेल
Name[pa]=ਕੇ-ਪੱਤਰ
Name[sv]=Kmail
Name[ta]=Kஅஞ்சல்
Name[x-test]=xxKMailxx
Name[zh_TW]=KMail 郵件軟體
Type=Application
Exec=kmail --view %u
Icon=kmail
DocPath=kmail/index.html
NoDisplay=true
MimeType=message/rfc822;application/mbox;application/x-mimearchive;

X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kmail
