[Desktop Entry]
Encoding=UTF-8
Icon=misc
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_misc
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Misc
Name[be]=Рознае
Name[da]=Diverse
Name[el]=Διάφορα
Name[es]=Varios
Name[et]=Muud
Name[fr]=Divers
Name[nl]=Diversen
Name[pt_BR]=Extras
Name[sl]=Razno
Name[sv]=Diverse
Name[ta]=இதர
Name[xx]=xxMiscxx
Comment=Settings that don't fit elsewhere
Comment[da]=Indstillinger der ikke passer ind andre steder
Comment[el]=Ρυθμίσεις που δεν ταιριάζουν κάπου αλλού
Comment[es]=Opciones que no encajan en ningún otro sitio
Comment[et]=Seadistused, mis kuhugi mujale ei sobi
Comment[fr]=Paramètres qui ne rentrent dans aucune autre catégorie
Comment[nl]=Iets dat nergens echt past
Comment[pt_BR]=Preferências que não se encaixam em outros lugares
Comment[sl]=Nastavitve, ki ne spadajo drugam
Comment[sv]=Inställningar som inte passar någon annanstans
Comment[ta]=அமைப்புகள் எந்த இடத்திலும் பொருந்தவில்லை
Comment[xx]=xxSettings that don't fit elsewherexx
Comment[zh_CN]=其它设置
Keywords=kmail,misc
Keywords[be]=K Пошта,рознае,kmail,misc
Keywords[da]=kmail,diverse
Keywords[el]=kmail,διάφορα
Keywords[es]=kmail,varios
Keywords[et]=kmail,muud
Keywords[fr]=kmail,divers
Keywords[nl]=kmail,diversen
Keywords[pt_BR]=kmail, extras
Keywords[sl]=kmail,razno
Keywords[sv]=kmail,diverse
Keywords[ta]=கேஅஞ்சல், இதர
Keywords[xx]=xxkmail,miscxx
