[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=attachfolder;

[Desktop Action attachfolder]
Icon=kmail
Name=Send Directory as Email Attachment
Exec=kmail --attach %F
