[Desktop Entry]
Name=KMail view
Type=Application
Exec=kmail --view %u
Icon=kmail
X-DocPath=kmail/index.html
NoDisplay=true
MimeType=message/rfc822;application/mbox;application/x-mimearchive;

X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kmail
