[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=sendto;

[Desktop Action sendto]
Icon=kmail
Name=Send as Email Attachment
Name[de]=Als E-Mail-Anhang versenden
Name[nb]=Send som e-postvedlegg
Name[pt]=Enviar como Anexo do E-Mail
Name[pt_BR]=Enviar como anexo de e-mail
Name[sv]=Skicka som e-postbilaga
Name[uk]=Надіслати у долученні до листа
Name[x-test]=xxSend as Email Attachmentxx
Exec=kmail --attach %F
