[Desktop Entry]
Encoding=UTF-8
Icon=network
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kmail
X-KDE-FactoryName=kmail_config_accounts
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail

Name=Accounts
omment=Setup for Sending and Receiving Messages
Comment[bg]=Настройки на мрежата, сървърите и сметките
Comment[ca]=Configuració per enviar i rebre missatges
Comment[cs]=Nastavení odesílání a přijímání zpráv
Comment[da]=Opsætning til at sende og modtage breve
Comment[de]=Einstellungen zum Senden und Empfangen von Nachrichten
Comment[el]=Ρύθμιση για αποστολή και λήψη μηνυμάτων
Comment[es]=Configuración para el envío y recepción de mensajes
Comment[et]=Kirjade saatmise ja saamise seadistused
Comment[fr]=Configuration de l'envoi et de la réception de messages
Comment[hu]=Küldési és fogadási beállítások
Comment[it]=Impostazioni per spedire e ricevere messaggi
Comment[nb]=Oppset for mottak og sending av meldinger
Comment[nl]=Instellingen voor het verzenden en ontvangen van berichten
Comment[pl]=Ustawienia wysyłania i odbierania wiadomości
Comment[pt]=Configuração de Envio e Recepção de Mensagens
Comment[pt_BR]=Configura o Envio e Recebimento de Mensagens
Comment[ru]=Настройка отправки и получения сообщений
Comment[sl]=Nastavitve za pošiljanje in prejemanje sporočil
Comment[sr]=Подешавање слања и примања порука
Comment[sr@Latn]=Подешавање слања и примања порука
Comment[sv]=Inställningar för att skicka och ta emot post
Comment[ta]=அனுப்புதல் மற்றும் பெறுதல் தகவல்களுக்கான அமைப்பு
Comment[tg]=Танзимоти фиристодан ва қабул кардани иттилоот
Comment[xx]=xxSetup for Sending and Receiving Messagesxx
Comment[zh_CN]=收发邮件设置
Keywords=kmail,accounts
Keywords[be]=K Пошта,сетка,kmail,network
Keywords[bg]=пощенски, клиент, е-поща, мрежа, сървър, сметка, kmail, network
Keywords[ca]=kmail,xarxa
Keywords[cs]=kmail,síť
Keywords[da]=kmail,netværk
Keywords[de]=KMail,Netzwerk
Keywords[el]=kmail,δίκτυο
Keywords[es]=kmail,red
Keywords[et]=kmail,võrk
Keywords[fr]=kmail,réseau
Keywords[gl]=kmail,rede
Keywords[hu]=kmail,hálózat
Keywords[nb]=kmail,nettverk
Keywords[nl]=kmail,netwerk
Keywords[pl]=kmail,sieć,ustawienia sieci
Keywords[pt]=kmail,rede
Keywords[pt_BR]=kmail,rede
Keywords[ru]=kmail,network,сеть
Keywords[sl]=kmail,omrežje
Keywords[sr]=kmail,мрежа
Keywords[sr@Latn]=kmail,мрежа
Keywords[sv]=kmail,nätverk
Keywords[ta]=கேஅஞ்சல்,பிணையம்
Keywords[tg]=kmail,network,шабақа
Keywords[xx]=xxkmail,networkxx
Keywords[zh_CN]=kmail,network,网络
