<!DOCTYPE kpartgui ><kpartgui version="25" name="kmcomposer" >
 <MenuBar>
  <Menu noMerge="1" name="file" >
   <text>&amp;Message</text>
   <Action name="new_composer" />
   <Action name="open_mailreader" />
   <Separator/>
   <Action name="send_default" />
   <Action name="send_alternative" />
   <Action name="save_in_drafts" />
   <Separator/>
   <Action name="insert_file" />
   <Action name="insert_file_recent" />
   <Action name="file_print" />
   <Separator/>
   <Action name="file_close" />
  </Menu>
  <Menu name="edit" >
   <text>&amp;Edit</text>
   <Action name="paste_quoted" append="edit_paste_merge"/>
   <Action name="paste_att" append="edit_paste_merge"/>
   <Action name="clean_spaces" />
   <Separator/>
   <Action name="tools_quote"/>
   <Action name="tools_unquote"/>
  </Menu>
  <Menu noMerge="1" name="options" >
   <text>&amp;Options</text>
   <Action name="urgent" />
   <Action name="options_request_mdn" />
   <Separator/>
   <Action name="sign_message" />
   <Action name="encrypt_message" />
   <Separator/>
   <Action name="options_select_crypto" />
   <Action name="html"/>
   <Action name="charsets" />
   <Action name="wordwrap" />
   <Action name="options_auto_spellchecking" />
  </Menu>
  <Menu noMerge="1" name="view" >
   <text>&amp;View</text>
   <Action name="show_all_fields" />
   <Separator/>
   <Action name="show_identity" />
   <Action name="show_dictionary" />
   <Action name="show_fcc" />
   <Action name="show_transport" />
   <Separator/>
   <Action name="show_from" />
   <Action name="show_reply_to" />
   <Action name="show_to" />
   <Action name="show_cc" />
   <Action name="show_bcc" />
   <Action name="show_subject" />
   <Separator/>
   <Action name="toggle_fixedfont" />
  </Menu>
  <Menu name="attach" >
   <text>&amp;Attach</text>
   <Action name="append_signature" />
   <Action name="attach_public_key" />
   <Action name="attach_my_public_key" />
   <Separator/>
   <Action name="attach" />
   <Action name="remove" />
   <Action name="attach_save" />
   <Action name="attach_properties" />
  </Menu>
  <Menu name="tools">
   <Action name="spellcheck" />
   <Action name="select_recipients"/>
   <Action name="addressbook"/>
   <Action name="save_distribution_list"/>
  </Menu>
  <Menu name="settings" >
   <text>&amp;Settings</text>
   <Action name="setup_spellchecker" append="save_merge"/>
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" fullWidth="true" ><text>Main Toolbar</text>
  <Action name="send_default" />
  <Action name="send_alternative" />
  <Separator/>
  <Action name="attach" />
  <Separator/>
  <Action name="edit_cut" />
  <Action name="edit_copy" />
  <Action name="edit_paste" />
  <Separator/>
  <Action name="sign_message" />
  <Action name="encrypt_message" />
  <Action name="options_select_crypto" />
 </ToolBar>
 <ToolBar noMerge="1" enable="0" name="htmlToolBar" ><text>HTML Toolbar</text>
  <Action name="text_list" />
  <Action name="text_font" />
  <Action name="text_size" />
  <Action name="format_reset" />
  <Action name="text_bold" />
  <Action name="text_italic" />
  <Action name="text_under" />
  <Action name="format_color" />
  <Action name="align_left" />
  <Action name="align_center" />
  <Action name="align_right" />
 </ToolBar>
</kpartgui>
