[Desktop Entry]
Icon=user-identity
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kpimidentities
X-KDE-FactoryName=kcm_kpimidentities
X-KDE-HasReadOnlyMode=false
X-DocPath=kmail/index.html#configure-identity

Name=Identities
Name[af]=Identities
Name[ar]=الهويات
Name[be]=Увасабленні
Name[bg]=Самоличност
Name[br]=Anvelezhioù
Name[bs]=Identiteti
Name[ca]=Identitats
Name[ca@valencia]=Identitats
Name[cs]=Identity
Name[da]=Identiteter
Name[de]=Identitäten
Name[el]=Ταυτότητες
Name[en_GB]=Identities
Name[eo]=Identoj
Name[es]=Identidades
Name[et]=Identiteedid
Name[eu]=Identitateak
Name[fa]=هویتها
Name[fi]=Henkilöydet
Name[fr]=Identités
Name[fy]=Identiteiten
Name[ga]=Aitheantais
Name[gl]=Identidades
Name[he]=זהויות
Name[hu]=Profilok
Name[ia]=Identitates
Name[is]=Auðkenni
Name[it]=Identità
Name[ja]=個人情報
Name[ka]=პროფილები
Name[kk]=Іс-әлпеттері
Name[km]=អត្តសញ្ញាណ
Name[ko]=프로필
Name[lt]=Tapatybės
Name[lv]=Identitātes
Name[mk]=Идентитети
Name[mr]=ओळखी
Name[ms]=Identiti
Name[nb]=Identiteter
Name[nds]=Identiteten
Name[ne]=परिचय
Name[nl]=Identiteiten
Name[nn]=Identitetar
Name[pa]=ਪਛਾਣ
Name[pl]=Tożsamości
Name[pt]=Identidades
Name[pt_BR]=Identidades
Name[ro]=Identități
Name[ru]=Профили
Name[se]=Identitehtat
Name[sk]=Identity
Name[sl]=Istovetnosti
Name[sr]=Идентитети
Name[sr@ijekavian]=Идентитети
Name[sr@ijekavianlatin]=Identiteti
Name[sr@latin]=Identiteti
Name[sv]=Identiteter
Name[ta]=அடையாளங்கள்
Name[tg]=Профилҳо
Name[th]=การแสดงตัว
Name[tr]=Kimlikler
Name[ug]=كىملىك
Name[uk]=Профілі
Name[uz]=Shaxsiyatlar
Name[uz@cyrillic]=Шахсиятлар
Name[wa]=Idintités
Name[x-test]=xxIdentitiesxx
Name[zh_CN]=身份
Name[zh_TW]=身份
Comment=Manage Identities
Comment[af]=Bestuur identiteite
Comment[ar]=أدِر الهويات
Comment[be]=Кіраванне увасабленнямі
Comment[bg]=Настройки на самоличността
Comment[br]=Merañ an anvelezhioù
Comment[bs]=Upravljanje identitetima
Comment[ca]=Gestiona les identitats
Comment[ca@valencia]=Gestiona les identitats
Comment[cs]=Správa identit
Comment[da]=Håndtering af identiteter
Comment[de]=Identitäten verwalten
Comment[el]=Διαχείριση ταυτοτήτων
Comment[en_GB]=Manage Identities
Comment[eo]=Mastrumi identojn
Comment[es]=Gestionar las identidades
Comment[et]=Identiteetide haldus
Comment[eu]=Identitateak kudeatu
Comment[fa]=مدیریت هویتها
Comment[fi]=Henkilöysasetukset
Comment[fr]=Gestion des identités
Comment[fy]=Identiteiten beheare
Comment[ga]=Bainistiú na nAitheantas
Comment[gl]=Xestionar as identidades
Comment[he]=ניהול זהויות
Comment[hu]=Az azonosítók kezelése
Comment[ia]=Administra identitates
Comment[is]=Stjórna auðkennum
Comment[it]=Gestisce le identità
Comment[ja]=個人情報の管理
Comment[ka]=პროფილების მართვა
Comment[kk]=Іс-әлпеттерді басқару
Comment[km]=គ្រប់គ្រង​អត្តសញ្ញាណ
Comment[ko]=프로필 관리
Comment[lt]=Tvarkyti tapatybes
Comment[lv]=Pārvaldīt identitiātes
Comment[mk]=Менаџирајте ги идентитетите
Comment[mr]=ओळखींचे व्यवस्थापन करा
Comment[ms]=Uruskan identiti
Comment[nb]=Identitetsbehandling
Comment[nds]=Identiteten plegen
Comment[ne]=परिचय प्रबन्ध गर्नुहोस्
Comment[nl]=Identiteiten beheren
Comment[nn]=Handter identitetar
Comment[pa]=ਪਛਾਣ ਪਰਬੰਧ
Comment[pl]=Zarządzanie tożsamościami
Comment[pt]=Gerir as Identidades
Comment[pt_BR]=Gerencia identidades
Comment[ro]=Gestionează identitățile
Comment[ru]=Управление профилями
Comment[se]=Gieđahala identitehtaid
Comment[sk]=Správa identít
Comment[sl]=Upravljanje z istovetnostmi
Comment[sr]=Управљање идентитетима
Comment[sr@ijekavian]=Управљање идентитетима
Comment[sr@ijekavianlatin]=Upravljanje identitetima
Comment[sr@latin]=Upravljanje identitetima
Comment[sv]=Hantera identiteter
Comment[ta]=அடையாளங்களை நிர்வகி
Comment[tg]=Идоракунӣ бо профилҳо
Comment[th]=จัดการการแสดงตัว
Comment[tr]=Kimlikleri Yönet
Comment[uk]=Керування профілями
Comment[wa]=Manaedjî les idintités
Comment[x-test]=xxManage Identitiesxx
Comment[zh_CN]=管理身份
Comment[zh_TW]=管理身份
X-KDE-Keywords=kmail,identity
X-KDE-Keywords[bs]=kmail, identitet
X-KDE-Keywords[ca]=kmail,identitat
X-KDE-Keywords[ca@valencia]=kmail,identitat
X-KDE-Keywords[cs]=kmail,identita
X-KDE-Keywords[da]=kmail,identitet
X-KDE-Keywords[de]=KMail,Identitäten
X-KDE-Keywords[el]=kmail,ταυτότητα
X-KDE-Keywords[en_GB]=kmail,identity
X-KDE-Keywords[es]=kmail,identidad
X-KDE-Keywords[et]=kmail,identiteet
X-KDE-Keywords[fi]=kmail, identity, henkilöys, henkilöllisyys
X-KDE-Keywords[fr]=kmail,identité
X-KDE-Keywords[ga]=kmail,aitheantas
X-KDE-Keywords[gl]=kmail,identidade
X-KDE-Keywords[hu]=kmail,azonosító
X-KDE-Keywords[ia]=kmail,identitate
X-KDE-Keywords[it]=kmail,identità
X-KDE-Keywords[kk]=kmail,identity
X-KDE-Keywords[km]=kmail អត្តសញ្ញាណ
X-KDE-Keywords[ko]=kmail,identity,프로필
X-KDE-Keywords[lt]=kmail,tapatybė
X-KDE-Keywords[mr]=के-मेल,ओळख
X-KDE-Keywords[nb]=kmail,identitet
X-KDE-Keywords[nds]=KMail,Persoon,Identiteet
X-KDE-Keywords[nl]=kmail,identiteit
X-KDE-Keywords[pa]=ਕੇਮੇਲ,ਪਛਾਣ
X-KDE-Keywords[pl]=kmail,tożsamość
X-KDE-Keywords[pt]=kmail,identidade
X-KDE-Keywords[pt_BR]=kmail,identidade
X-KDE-Keywords[ro]=kmail,identitate
X-KDE-Keywords[ru]=kmail,identity,профиль
X-KDE-Keywords[sk]=kmail,identita
X-KDE-Keywords[sl]=kmail,identiteta,istovetnost
X-KDE-Keywords[sr]=kmail,identity,К‑пошта,идентитет
X-KDE-Keywords[sr@ijekavian]=kmail,identity,К‑пошта,идентитет
X-KDE-Keywords[sr@ijekavianlatin]=kmail,identity,K‑pošta,identitet
X-KDE-Keywords[sr@latin]=kmail,identity,K‑pošta,identitet
X-KDE-Keywords[sv]=kmail,identitet
X-KDE-Keywords[tr]=kmail,kimlik
X-KDE-Keywords[uk]=kmail,identity,профіль
X-KDE-Keywords[wa]=kmail,idintité
X-KDE-Keywords[x-test]=xxkmailxx,xxidentityxx
X-KDE-Keywords[zh_CN]=kmail,identity,身份
X-KDE-Keywords[zh_TW]=kmail,identity
