[Desktop Entry]
Name=Followup Reminder Agent
Comment=Followup Reminder Agent allows to remind you when an email was not answered.
Type=AkonadiAgent
Exec=akonadi_followupreminder_agent
Icon=kmail
X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_followupreminder_agent
X-DocPath=akonadi_followupreminder_agent/index.html
