[Desktop Entry]
Name=KMail Refresh Settings
Name[ca]=Actualització dels ajustaments del KMail
Name[cs]=Obnovení nastavení KMailu
Name[de]=Erneuerung der Einstellungen für KMail
Name[en_GB]=KMail Refresh Settings
Name[es]=Preferencias de refresco de KMail
Name[et]=KMaili värskendamise seadistused
Name[fi]=KMailin asetusten virkistys
Name[fr]=Rafraîchissement des paramètres de KMail
Name[gl]=Configuración de actualización de KMail
Name[it]=Rinnovo delle impostazioni di KMail
Name[nl]=Vernieuwen van instellingen van KMail
Name[pl]=Odświeżanie ustawień KMaila
Name[pt]=Actualização da Configuração do KMail
Name[pt_BR]=Atualizar configurações do KMail
Name[sk]=KMail Obnoviť Nastavenia
Name[sv]=Kmail uppdatera inställningar
Name[uk]=Оновлення параметрів KMail
Name[x-test]=xxKMail Refresh Settingsxx
Type=Application
Exec=kmail-refresh-settings -qwindowtitle %c %u
Icon=kmail
X-DocPath=kmail2/index.html
GenericName=KMail refresh settings
GenericName[ca]=Actualització dels ajustaments del KMail
GenericName[cs]=Obnovení nastavení KMailu
GenericName[de]=Erneuerung der Einstellungen für KMail
GenericName[en_GB]=KMail refresh settings
GenericName[es]=Preferencias de refresco de KMail
GenericName[et]=KMaili värskendamise seadistused
GenericName[fi]=KMailin asetusten virkistys
GenericName[fr]=Rafraîchissement des paramètres de KMail
GenericName[gl]=Configuración de actualización de KMail
GenericName[it]=Rinnovo delle impostazioni di KMail
GenericName[nl]=Instellingen van vernieuwen KMail
GenericName[pl]=Odświeżanie ustawień KMaila
GenericName[pt]=Actualização da Configuração do KMail
GenericName[pt_BR]=Atualizar configurações do KMail
GenericName[sk]=KMail obnoviť nastavenia
GenericName[sv]=Kmail uppdatera inställningar
GenericName[uk]=Оновити параметри KMail
GenericName[x-test]=xxKMail refresh settingsxx
Comment=Refresh KMail settings
Comment[ca]=Actualitza els ajustaments del KMail
Comment[cs]=Obnovit nastavení KMailu
Comment[de]=Erneuerung der Einstellungen für KMail
Comment[en_GB]=Refresh KMail settings
Comment[es]=Refrescar preferencias de KMail
Comment[et]=KMaili seadistuste värskendamine
Comment[fi]=Virkistä KMail-asetukset
Comment[fr]=Rafraîchir les paramètres de KMail
Comment[gl]=Configuración de actualización de KMail
Comment[it]=Rinnova le impostazioni di KMail
Comment[nl]=KMail-instellingen vernieuwen
Comment[pl]=Ustawienia odświeżania KMaila
Comment[pt]=Actualizar a configuração do KMail
Comment[pt_BR]=Atualizar configurações do KMail
Comment[sk]=Obnoviť KMail nastavenia
Comment[sv]=Uppdatera Kmail-inställningar
Comment[uk]=Оновлення параметрів KMail
Comment[x-test]=xxRefresh KMail settingsxx
Terminal=false
StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kmail-refresh-settings
Categories=Qt;KDE;Office;Network;Email;
InitialPreference=10
Hidden=true
