[Desktop Entry]
Name=KMail Refresh Settings
Type=Application
Exec=kmail-refresh-settings -qwindowtitle %c %u
Icon=kmail
X-DocPath=kmail2/index.html
GenericName=KMail refresh settings
Comment=Refresh KMail settings
SingleMainWindow=true
Version=1.5
StartupNotify=true
Categories=Qt;KDE;Office;Network;Email;
InitialPreference=10
NoDisplay=true
