[Desktop Entry]
Name=Mail Filter Agent
Name[ar]=عميل ترشيح البريد
Name[az]=Poçt süzgəci vasitəsi
Name[be]=Агент фільтравання пошты
Name[bg]=Агент за филтриране на поща
Name[bs]=Agent poštanskog filtera
Name[ca]=Agent de filtre de correu
Name[ca@valencia]=Agent de filtre de correu
Name[cs]=Agent filtrování pošty
Name[da]=Mailfilteragent
Name[de]=Agent zur E-Mail-Filterung
Name[el]=Πράκτορας φιλτραρίσματος αλληλογραφίας
Name[en_GB]=Mail Filter Agent
Name[eo]=Poŝtfiltra Agento
Name[es]=Agente de filtro de correo
Name[et]=Kirjade filtreerimise agent
Name[eu]=Posta iragazteko agentea
Name[fi]=Sähköpostisuodatin
Name[fr]=Agent de filtrage de messages
Name[gl]=Axente de filtrado de correo
Name[he]=סוכן סינון דוא״ל
Name[hu]=Levélszűrő ügynök
Name[ia]=Agente de filtro de posta
Name[it]=Agente per il filtraggio della posta
Name[ka]=ელფოსტის ფილტრის აგენტ
Name[kk]=Пошта сүзгіш агенті
Name[km]=ភ្នាក់ងារ​ត្រង​សំបុត្រ
Name[ko]=메일 필터 마법사
Name[lt]=El. pašto filtravimo agentas
Name[lv]=Pasta filtrēšanas aģents
Name[mr]=मेल गाळणी प्रतिनिधी
Name[nb]=E-post filteragent
Name[nds]=Nettpostfilter-Hölper
Name[nl]=E-mail filteragent
Name[pl]=Usługa filtrowania poczty
Name[pt]=Agente de Filtragem de E-mail
Name[pt_BR]=Agente de filtros de e-mail
Name[ro]=Agent de filtrare a mesajelor
Name[ru]=Агент почтовых фильтров
Name[sa]=मेल फ़िल्टर एजेण्ट्
Name[sk]=Agent filtrovania pošty
Name[sl]=Posrednik za filtriranje pošte
Name[sr]=Агент филтрирања поште
Name[sr@ijekavian]=Агент филтрирања поште
Name[sr@ijekavianlatin]=Agent filtriranja pošte
Name[sr@latin]=Agent filtriranja pošte
Name[sv]=Postfiltreringsmodul
Name[ta]=அஞ்சல் வடிகட்டி சேவை
Name[tr]=Posta Süzgeç Aracısı
Name[uk]=Агент фільтрування пошти
Name[wa]=Adjint passete d' emile
Name[zh_CN]=邮件过滤代理
Name[zh_TW]=郵件過濾代理程式
Comment=Extension to filter emails
Comment[ar]=امتداد لترشيح البريد
Comment[az]=Məktubların süzgəclənməsi uzantısı
Comment[be]=Пашырэнне для фільтравання электроннай пошты
Comment[bg]=Разширение за филтриране на имейлите
Comment[bs]=Proširenje za filtriranje elektronske pošte
Comment[ca]=Extensió per a filtrar correus
Comment[ca@valencia]=Extensió per a filtrar correus
Comment[cs]=Rozšíření pro filtrování e-mailů
Comment[da]=Udvidelse til at filtrere e-mails
Comment[de]=Erweiterung zur Filterung von E-Mails
Comment[el]=Επέκταση φιλτραρίσματος αλληλογραφίας
Comment[en_GB]=Extension to filter emails
Comment[eo]=Etendaĵo por filtri retpoŝtojn
Comment[es]=Extensión para filtrar correos
Comment[et]=Laiendus e-kirjade filtreerimiseks
Comment[eu]=E-posta iragazteko luzapena
Comment[fi]=Sähköpostien suodatuslaajennus
Comment[fr]=Extension pour filtrer les courriels
Comment[gl]=Extensión para filtrar correos
Comment[he]=הרחבה לסינון הודעות
Comment[hu]=Kiegészítő e-mailek szűrésére
Comment[ia]=Extension per filtrar messages de e-posta
Comment[it]=Estensione per filtrare i messaggi di posta elettronica
Comment[ka]=გაფართოება ელფოსტების გასაფილტრად
Comment[kk]=Эл.поштаны сузгілеу модулі
Comment[km]=ផ្នែក​បន្ថែម​សម្រាប់​ត្រង​អ៊ីមែល
Comment[ko]=메일을 필터하는 확장 기능
Comment[lt]=Papildinys el. laiškų filtravimui
Comment[lv]=Paplašinājums vēstuļu filtrēšanai
Comment[mr]=इमेल्स गाळणी करण्याकरिता विस्तारण
Comment[nb]=Utvidelse som filtrerer e-poster
Comment[nds]=Verwiedern för't Filtern vun Nettbreven
Comment[nl]=Uitbreiding om e-mails te filteren
Comment[pl]=Rozszerzenie do filtrowania poczty
Comment[pt]=Extensão para filtrar as mensagens de e-mail
Comment[pt_BR]=Extensão para filtros de e-mails
Comment[ro]=Extensie de filtrat scrisori
Comment[ru]=Расширение для фильтрации писем
Comment[sa]=ईमेल-पत्राणि छानयितुं विस्तारः
Comment[sk]=Rozšírenie pre filtrovanie e-mailov
Comment[sl]=Razširitev za filtriranje sporočil
Comment[sr]=Проширење за филтрирање е‑поште
Comment[sr@ijekavian]=Проширење за филтрирање е‑поште
Comment[sr@ijekavianlatin]=Proširenje za filtriranje e‑pošte
Comment[sr@latin]=Proširenje za filtriranje e‑pošte
Comment[sv]=Utökning för att filtrera e-post
Comment[ta]=அஞ்சல்களை வடிகட்டும் துணை நிரல்
Comment[tr]=E-postaları süzmek için uzantı
Comment[uk]=Додаток для фільтрування поштових повідомлень
Comment[wa]=Stindaedje po passer les emiles al passete
Comment[zh_CN]=过滤邮件的扩展
Comment[zh_TW]=過濾電子郵件的延伸程式
Type=AkonadiAgent
Exec=akonadi_mailfilter_agent
Icon=view-filter

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_mailfilter_agent
