[Desktop Entry]
Name=Mail Filter Agent
Comment=Extension to filter emails
Type=AkonadiAgent
Exec=akonadi_mailfilter_agent
Icon=view-filter

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_mailfilter_agent
