[Desktop Entry]
Name=KTnef
Name[ca]=KTnef
Name[nl]=KTnef
GenericName=TNEF File Viewer (proprietary format used by outlook)
GenericName[ca]=Visualitzador de fitxers TNEF (format usat per l'Outlook)
GenericName[nl]=TNEF Bestandsviewer (formaat met eigendomsrechten gebruikt door outlook)
Exec=ktnef %f
Icon=ktnef
Type=Application
X-DocPath=ktnef/index.html
Comment=A viewer/extractor for TNEF files
Comment[ca]=Un visualitzador/extractor per als fitxers TNEF
Comment[nl]=Een viewer/extractor voor TNEF-bestanden
MimeType=application/ms-tnef;
Categories=Qt;KDE;X-KDE-Utilities-PIM;Office;Network;Email;

