[Desktop Entry]
Name=KTnef
GenericName=TNEF File Viewer (proprietary format used by outlook)
Exec=ktnef %f
Icon=ktnef
Type=Application
X-DocPath=ktnef/index.html
Comment=A viewer/extractor for TNEF files
MimeType=application/ms-tnef;
Categories=Qt;KDE;X-KDE-Utilities-PIM;Office;Network;Email;

