[KMail Profile]
Name=HTML
Name[af/messages/kdenetwork/desktop_kdenetwork.po]=html
Name[he/messages/kdenetwork/desktop_kdenetwork.po]=עם HTML
Name[xx/messages/kdenetwork/desktop_kdenetwork.po]=xx
Comment=Standard profile with HTML preview enabled - less secure!
Comment[af/messages/kdenetwork/desktop_kdenetwork.po]=standaard profiel met html voorskou geaktiveer - minder beveilig!
Comment[ar/messages/kdenetwork/desktop_kdenetwork.po]=تشكيل قياسي مع تمكين استعراض HTML - أقل أمانا!
Comment[az/messages/kdenetwork/desktop_kdenetwork.po]=HTML nümayişli standard - ən az etibarlı!
Comment[bs/messages/kdenetwork/desktop_kdenetwork.po]=Standardni profil sa omogućenim HTML pregledom - manje siguran!
Comment[cs/messages/kdenetwork/desktop_kdenetwork.po]=Standardní profil s povoleným náhledem HTML souborů - méně bezpečné!
Comment[da/messages/kdenetwork/desktop_kdenetwork.po]=Standardprofil med HTML-forhåndsvisning aktiveret - mindre sikkert!
Comment[de/messages/kdenetwork/desktop_kdenetwork.po]=Standardprofil mit aktivierter HTML-Vorschau - weniger sicher
Comment[el/messages/kdenetwork/desktop_kdenetwork.po]=Προκαθορισμένο προφίλ με την προεπισκόπηση HTML ενεργοποιημένη - λιγότερο ασφαλής!
Comment[eo/messages/kdenetwork/desktop_kdenetwork.po]=Apriora agordo, kun ŝaltita HTML-antaŭrigardo - malpli sekura!
Comment[es/messages/kdenetwork/desktop_kdenetwork.po]=Perfil estándar con previsualizaión HTML activada - menos seguro
Comment[et/messages/kdenetwork/desktop_kdenetwork.po]=Standardne profiil HTML eelvaatlusega - pole nii turvaline!
Comment[fi/messages/kdenetwork/desktop_kdenetwork.po]=Normaali profiili HTML esikatselua käyttäville - vähemmän turvallinen!
Comment[fr/messages/kdenetwork/desktop_kdenetwork.po]=Profil standard avec l'aperçu HTML activé - Moins sécurisé !
Comment[he/messages/kdenetwork/desktop_kdenetwork.po]=הפרופיל הסטנדרטי עם תצוגה מקדימה של HTML - פחות בטוח
Comment[hr/messages/kdenetwork/desktop_kdenetwork.po]=Standardni profil sa uključenim pregledom HTML sadržaja - manje sigurno!
Comment[hu/messages/kdenetwork/desktop_kdenetwork.po]=Normál profil HTML-előnézettel - biztonsági kockázatot jelent!
Comment[it/messages/kdenetwork/desktop_kdenetwork.po]=Profilo standard con l'anteprima HTML abilitata - meno sicuro!
Comment[ja/messages/kdenetwork/desktop_kdenetwork.po]=HTMLプレビューを有効にしたスタンダードプロファイル - 安全度は下がります!
Comment[lt/messages/kdenetwork/desktop_kdenetwork.po]=Standartinis profilis su HTML peržiūra – mažiau saugus!
Comment[lv/messages/kdenetwork/desktop_kdenetwork.po]=Standarta profils ar atļautu HTML apskati - nedrošāks!
Comment[nl/messages/kdenetwork/desktop_kdenetwork.po]=Standaardprofiel met HTML-voorbeeld geactiveerd - minder veilig !
Comment[nn/messages/kdenetwork/desktop_kdenetwork.po]=Standardprofil med HTML-førehandsvising - mindre trygt!
Comment[pl/messages/kdenetwork/desktop_kdenetwork.po]=Profil standardowy z włączonym podglądem HTML (mniej bezpieczne !)
Comment[pt/messages/kdenetwork/desktop_kdenetwork.po]=Perfil padrão com antevisão de HTML activada - menos segura!
Comment[ro/messages/kdenetwork/desktop_kdenetwork.po]=Profil standard cu previzualizare HTML activată (securitate scăzută!)
Comment[ru/messages/kdenetwork/desktop_kdenetwork.po]=Предпочтение HTML - понижает защиту!
Comment[sk/messages/kdenetwork/desktop_kdenetwork.po]=Štandardný profil pre povolený náhlad HTML - menej bezpečné!
Comment[sl/messages/kdenetwork/desktop_kdenetwork.po]=Standardni profil z vključenim ogledom HTML - manj varno!
Comment[sv/messages/kdenetwork/desktop_kdenetwork.po]=Standardprofil med HTML-förhandsgranskning aktiverad - mindre säker!
Comment[th/messages/kdenetwork/desktop_kdenetwork.po]=โปรไฟล์มาตรฐานพร้อมกับแสดงตัวอย่าง HTML - ความปลอดภัยน้อย !
Comment[tr/messages/kdenetwork/desktop_kdenetwork.po]=HTML ön izleme aktif standart profil - daha az güvenli!
Comment[uk/messages/kdenetwork/desktop_kdenetwork.po]=Окремий профіль з ввімкненим переглядом HTML - менш безпечний!
Comment[vi/messages/kdenetwork/desktop_kdenetwork.po]=Hồ sơ chuẩn cho phép xem trước HTML - I't bảo mật hơn !
Comment[xh/messages/kdenetwork/desktop_kdenetwork.po]=Imboniselo yabucala esezantsi nge HTML imboniso yenziwe - ukhuseleko oluncinane!
Comment[xx/messages/kdenetwork/desktop_kdenetwork.po]=xx
Comment[zu/messages/kdenetwork/desktop_kdenetwork.po]=Yenza ngokulingeneyo iprofayela nge HTML okokukhombisa ngaphambili kwenzeliwe - okuncane ukuvikeleka!

[Reader]
BackgroundColor=255,255,255
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
FlagMessage=0,127,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=true
htmlLoadExternal=false

[Fonts]
body-font=Helvetica,10,-1,5,50,0,0,0,0,0
defaultFonts=false
folder-font=Helvetica,10,-1,5,50,0,0,0,0,0
list-date-font=Helvetica,10,-1,5,50,0,0,0,0,0
list-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote1-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote2-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote3-font=Helvetica,10,-1,5,50,0,0,0,0,0

[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true
showCryptoIcons=false

[Behaviour]
LoopOnGotoUnread=true
