[KMail Profile]
Name=High Contrast
Name[bg]=Висок контраст
Name[bs]=Visoki kontrast
Name[ca]=Alt contrast
Name[cs]=Vysoký kontrast
Name[cy]=Cyferbyniad Gref
Name[da]=Høj kontrast
Name[de]=Starker Kontrast
Name[el]=Μεγάλη αντίθεση
Name[es]=Alto contraste
Name[et]=Suur kontrast
Name[fi]=Korkea kontrasti
Name[fr]=Contraste élevé
Name[ga]=Ardchodarsnacht
Name[gl]=Alto contraste
Name[hi]=उच्च कंट्रास्ट
Name[hr]=Visoki kontrast
Name[hu]=Kontrasztos
Name[is]=Mikil birtuskil
Name[it]=Alto contrasto
Name[ja]=ハイコントラスト
Name[nb]=Høy kontrast
Name[nl]=Hoog contrast
Name[nn]=Høg kontrast
Name[pl]=Wysoki kontrast
Name[pt]=Alto Contraste
Name[pt_BR]=Alto Contraste
Name[ro]=Contrast mare
Name[ru]=Высокий контраст
Name[sk]=Vysoký kontrast
Name[sl]=Velik kontrast
Name[sr]=Високи контраст
Name[sr@Latn]=Visoki kontrast
Name[sv]=Hög kontrast
Name[ta]=அதிக அடர்த்தி
Name[tg]=Тазоди баланд
Name[tr]=Yüksek Kontrast
Name[uk]=Висока контрастність
Name[xx]=xxHigh Contrastxx
Name[zh_CN]=高对比
Comment=Increased font sizes for visually impaired users
Comment[ar]=خطوط بأحجام أكبر لضعاف البصر
Comment[az]=Görmə pozuqluğu olanlar üçün böyüdülmüş yazı növləri
Comment[bg]=Увеличаване на размера на шрифта за потребители със зрителни увреждания
Comment[bs]=Povećane dimenzije fontova za korisnike sa vizuelnim nedostacima
Comment[ca]=Incrementa les mides de font per als usuaris amb deficiències visuals
Comment[cs]=Zvětší velikost písma pro zrakově postižené uživatele
Comment[cy]=Meintiau wynebfathau wedi'u cynyddu ar gyfer defnyddwyr â nam gweledol 
Comment[da]=Forøgede skrifttypestørrelser for brugere med svagt syn
Comment[de]=Größere Schriften für sehbehinderte Benutzer
Comment[el]=Αυξημένα μεγέθη γραμματοσειρών για χρήστες με προβλήματα όρασης
Comment[eo]=Pligrandigitaj tiparoj por vidhandikapitoj
Comment[es]=Tamaños grandes de tipografía para usuarios con deficiencias visuales
Comment[et]=Suured fondid halva nägemisega kasutajatele
Comment[fi]=Suurennettu kirjasinkoko näkövammaisille käyttäjille
Comment[fr]=Des polices de caractères plus grandes pour les malvoyants
Comment[gl]=Tamaños de fonte aumentados para usuarios con discapacidade visual
Comment[hi]=कम दिखाई देने वाले उपयोक्ताओं के लिए फ़ॉन्ट आकार बढ़ाएँ
Comment[hr]=Povećana pisma za korisnike sa slabijim vidom
Comment[hu]=Nagyobb betűméretek látáscsökkent felhasználóknak
Comment[is]=Stærra letur fyrir notendur með slæma sjón
Comment[it]=Dimensioni più grandi dei caratteri per chi ha problemi di vista
Comment[ja]=視力障害者のためにフォントサイズを増加
Comment[lt]=Padidinti šriftų dydžiai blogai matantiems vartotojams
Comment[lv]=Palielināti fontu izmēri lietotājiem ar redzes traucējumiem
Comment[nb]=Økte skriftstørrelser for svaksynte brukere
Comment[nl]=Groter lettertype voor slechtziende gebruikers
Comment[nn]=Auka skriftstorleik for synshemma brukarar
Comment[pl]=Zwiększone rozmiary czcionek dla osób mających problemy ze wzrokiem
Comment[pt]=Tamanhos de letra aumentados para utilizadores com problemas visuais
Comment[pt_BR]=Fontes de tamanho maior para usuários com visão reduzida
Comment[ro]=Mărimi de font mari pentru utilizatori cu handicap
Comment[ru]=Увеличенные размеры шрифтов для людей с ослабленным зрением
Comment[sk]=Zväčšená veľkosť písma pre zrakovo postihnutých používateľov
Comment[sl]=Povečane velikosti pisav za uporabnike s slabšim vidom
Comment[sr]=Повећани фонтови за кориснике са лошијим видом
Comment[sr@Latn]=Povećani fontovi za korisnike sa lošijim vidom
Comment[sv]=Större teckenstorlek för användare med synproblem
Comment[ta]=பார்வையற்ற பயனர்களுக்கான பெரிதுப்படுத்தப்பட்ட எழுத்துரு அளவுகள்
Comment[tg]=Ҳуруфҳои андозаашон калон барои одамҳои бо чашми хира
Comment[th]=เพิ่มขนาดตัวอักษรสำหรับผู้ที่สายตาไม่ดี
Comment[tr]=Görsel engelli kullanıcılar için arttırılmış yazı tipi boyutu
Comment[uk]=Збільшений розмір шрифтів для людей з поганим зором
Comment[ven]=Saizi ya fontu yo engedzhwaho uitela vhashumisi vha zwauvhona
Comment[vi]=Tăng cỡ font cho người dùng tàn tật 
Comment[xh]=Ubungakanani bobukhulu begama bunyusiwe kubasebenzisi ababonayo
Comment[xx]=xxIncreased font sizes for visually impaired usersxx
Comment[zh_CN]=对有视觉障碍的用户增加字体大小
Comment[zu]=Abakhushululiweyo osayizi befont kwabantu abayizimpumputhe

[Reader]
BackgroundColor=250,235,215
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
FlagMessage=0,127,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=false

[Fonts]
body-font=Helvetica,14,-1,5,75,0,0,0,0,0
defaultFonts=false
folder-font=Helvetica,14,-1,5,75,0,0,0,0,0
list-date-font=Helvetica,14,-1,5,75,0,0,0,0,0
list-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote1-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote2-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote3-font=Helvetica,14,-1,5,75,0,0,0,0,0

# should this profile be restricted to font and color changes?
[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true
showCryptoIcons=false

[MDN]
quote-message=0
default-policy=0
