[KMail Profile]
Name=Most Secure
Name[de]=Sicherste Variante
Comment=Sets all necessary options to achieve maximum security
Comment[de]=Aktivierung aller nötigen Einstellungen für die höchste Sicherheitsstufe

[Composer]
pgp-auto-sign=true
pgp-auto-encrypt=true

[Reader]
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
defaultColors=false
showColorbar=true
htmlMail=false
htmlLoadExternal=false

[General]
send-receipts=false
showCryptoIcons=true

[MDN]
quote-message=0
default-policy=0
