[KMail Profile]
Name=Most secure
Name[af/messages/kdenetwork/desktop_kdenetwork.po]=mees beveilig
Name[ar/messages/kdenetwork/desktop_kdenetwork.po]=الأكثر أمنا
Name[az/messages/kdenetwork/desktop_kdenetwork.po]=Ən etibarlı
Name[bg/messages/kdenetwork/desktop_kdenetwork.po]=Повече сигурност
Name[bs/messages/kdenetwork/desktop_kdenetwork.po]=Najsigurniji
Name[cs/messages/kdenetwork/desktop_kdenetwork.po]=Nejbezpečnější
Name[da/messages/kdenetwork/desktop_kdenetwork.po]=Mest sikker
Name[de/messages/kdenetwork/desktop_kdenetwork.po]=Höchste Sicherheit
Name[el/messages/kdenetwork/desktop_kdenetwork.po]=Το πιο ασφαλές
Name[eo/messages/kdenetwork/desktop_kdenetwork.po]=Plej sekura
Name[es/messages/kdenetwork/desktop_kdenetwork.po]=Lo más seguro
Name[et/messages/kdenetwork/desktop_kdenetwork.po]=Kõige turvalisem
Name[fi/messages/kdenetwork/desktop_kdenetwork.po]=Turvallisin
Name[fr/messages/kdenetwork/desktop_kdenetwork.po]=Sécurisé
Name[he/messages/kdenetwork/desktop_kdenetwork.po]=אבטחה מירבית
Name[hr/messages/kdenetwork/desktop_kdenetwork.po]=Najsigurnije
Name[hu/messages/kdenetwork/desktop_kdenetwork.po]=Maximális biztonság
Name[it/messages/kdenetwork/desktop_kdenetwork.po]=Massima sicurezza
Name[ja/messages/kdenetwork/desktop_kdenetwork.po]=最も安全
Name[lt/messages/kdenetwork/desktop_kdenetwork.po]=Saugiausias
Name[lv/messages/kdenetwork/desktop_kdenetwork.po]=Vissdrošāks
Name[nl/messages/kdenetwork/desktop_kdenetwork.po]=Meest veilig
Name[nn/messages/kdenetwork/desktop_kdenetwork.po]=Tryggast
Name[pl/messages/kdenetwork/desktop_kdenetwork.po]=Najbezpieczniejszy
Name[pt/messages/kdenetwork/desktop_kdenetwork.po]=Mais seguro
Name[ro/messages/kdenetwork/desktop_kdenetwork.po]=Foarte securizat
Name[ru/messages/kdenetwork/desktop_kdenetwork.po]=Самый безопасный
Name[sk/messages/kdenetwork/desktop_kdenetwork.po]=Najbezpečnejšie
Name[sl/messages/kdenetwork/desktop_kdenetwork.po]=Najvarneje
Name[sv/messages/kdenetwork/desktop_kdenetwork.po]=Säkrast
Name[th/messages/kdenetwork/desktop_kdenetwork.po]=ความปลอดภัยสูง
Name[tr/messages/kdenetwork/desktop_kdenetwork.po]=En güvenli
Name[uk/messages/kdenetwork/desktop_kdenetwork.po]=Найбільш безпечний
Name[vi/messages/kdenetwork/desktop_kdenetwork.po]=Bảo mật nhất
Name[xh/messages/kdenetwork/desktop_kdenetwork.po]=Ukhuseleko olukhulu
Name[xx/messages/kdenetwork/desktop_kdenetwork.po]=xx
Name[zu/messages/kdenetwork/desktop_kdenetwork.po]=Okukhulu ukuvikeleka
Comment=Sets all necessary options to achieve maximum security
Comment[af/messages/kdenetwork/desktop_kdenetwork.po]=verstel alle nodige opsies aan bereik maksimum sekuriteit
Comment[bs/messages/kdenetwork/desktop_kdenetwork.po]=Postavlja sve potrebne opcije radi maksimalne sigurnosti
Comment[da/messages/kdenetwork/desktop_kdenetwork.po]=Sætter alle nødvendige tilvalg for at opnå den højst mulige sikkerhed
Comment[es/messages/kdenetwork/desktop_kdenetwork.po]=Establece todas las opciones necesarias para conseguir un máximo de seguridad
Comment[fi/messages/kdenetwork/desktop_kdenetwork.po]=Asettaa kaikki tarvittavat asetukset suurimman turvallisuuden saavuttamiseksi
Comment[ja/messages/kdenetwork/desktop_kdenetwork.po]=最大のセキュリティ確保のために必要な全てのオプションをセットします
Comment[sv/messages/kdenetwork/desktop_kdenetwork.po]=Ställer in alla nödvändiga alternativ för att uppnå maximal säkerhet
Comment[tr/messages/kdenetwork/desktop_kdenetwork.po]=En fazla güvenlik için gerekli bütün seçenekleri seçer

[Composer]
pgp-auto-sign=true
pgp-auto-encrypt=true

[Reader]
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
defaultColors=false
showColorbar=true
htmlMail=false
htmlLoadExternal=false

[General]
send-receipts=false
showCryptoIcons=true
