[KMail Profile]
Name=High contrast
Name[af/messages/kdenetwork/desktop_kdenetwork.po]=hoog kontras
Name[ar/messages/kdenetwork/desktop_kdenetwork.po]=تناقض عالي
Name[az/messages/kdenetwork/desktop_kdenetwork.po]=Yüksək təzad
Name[bg/messages/kdenetwork/desktop_kdenetwork.po]=Висок контраст
Name[bs/messages/kdenetwork/desktop_kdenetwork.po]=Visoki kontrast
Name[cs/messages/kdenetwork/desktop_kdenetwork.po]=Vysoký kontrast
Name[da/messages/kdenetwork/desktop_kdenetwork.po]=Høj kontrast
Name[de/messages/kdenetwork/desktop_kdenetwork.po]=Starker Kontrast
Name[el/messages/kdenetwork/desktop_kdenetwork.po]=Υψηλή αντίθεση
Name[eo/messages/kdenetwork/desktop_kdenetwork.po]=Forta kontrasto
Name[es/messages/kdenetwork/desktop_kdenetwork.po]=Alto contraste
Name[et/messages/kdenetwork/desktop_kdenetwork.po]=Kontrastne
Name[fi/messages/kdenetwork/desktop_kdenetwork.po]=Korkea kontrasti
Name[fr/messages/kdenetwork/desktop_kdenetwork.po]=Contraste élevé
Name[he/messages/kdenetwork/desktop_kdenetwork.po]=חדות גבוהה
Name[hr/messages/kdenetwork/desktop_kdenetwork.po]=Jaki kontrast
Name[hu/messages/kdenetwork/desktop_kdenetwork.po]=Erősen kontrasztos
Name[it/messages/kdenetwork/desktop_kdenetwork.po]=Alto contrasto
Name[ja/messages/kdenetwork/desktop_kdenetwork.po]=ハイコントラスト
Name[lt/messages/kdenetwork/desktop_kdenetwork.po]=Didelis kontrastas
Name[lv/messages/kdenetwork/desktop_kdenetwork.po]=Augsts kontrasts
Name[nl/messages/kdenetwork/desktop_kdenetwork.po]=Hoog contrast
Name[nn/messages/kdenetwork/desktop_kdenetwork.po]=Høgkontrast
Name[pl/messages/kdenetwork/desktop_kdenetwork.po]=Silny kontrast
Name[pt/messages/kdenetwork/desktop_kdenetwork.po]=Alto contraste
Name[ro/messages/kdenetwork/desktop_kdenetwork.po]=Contrast mare
Name[ru/messages/kdenetwork/desktop_kdenetwork.po]=Высокая контрастность
Name[sk/messages/kdenetwork/desktop_kdenetwork.po]=Vysoký kontrast
Name[sl/messages/kdenetwork/desktop_kdenetwork.po]=Visok kontrast
Name[sv/messages/kdenetwork/desktop_kdenetwork.po]=Hög kontrast
Name[th/messages/kdenetwork/desktop_kdenetwork.po]=ความขัดแย้งสูง
Name[tr/messages/kdenetwork/desktop_kdenetwork.po]=Yüksek karşıtlık
Name[uk/messages/kdenetwork/desktop_kdenetwork.po]=Висока контрастність
Name[vi/messages/kdenetwork/desktop_kdenetwork.po]=Tương phản cao
Name[xx/messages/kdenetwork/desktop_kdenetwork.po]=xx
Name[zu/messages/kdenetwork/desktop_kdenetwork.po]=Ukungafani Okuphezulu
Comment=Increased font sizes for visually impaired users
Comment[af/messages/kdenetwork/desktop_kdenetwork.po]=verhoogde skrif tipe grotes vir virueel gestrem gebruikers
Comment[ar/messages/kdenetwork/desktop_kdenetwork.po]=خطوط بأحجام أكبر لضعاف البصر
Comment[az/messages/kdenetwork/desktop_kdenetwork.po]=Görmə pozuqluğu olanlar üçün böyüdülmüş yazı növləri
Comment[bs/messages/kdenetwork/desktop_kdenetwork.po]=Povećane dimenzije fontova za korisnike sa vizuelnim nedostacima
Comment[cs/messages/kdenetwork/desktop_kdenetwork.po]=Zvětší velikost písma pro zrakově postižené uživatele
Comment[da/messages/kdenetwork/desktop_kdenetwork.po]=Forøgede skriftstørrelser for brugere med synsbesvær
Comment[de/messages/kdenetwork/desktop_kdenetwork.po]=Größere Schriften für sehbehinderte Benutzer
Comment[el/messages/kdenetwork/desktop_kdenetwork.po]=Αυξημένα μεγέθη γραμματοσειρών για τους χρήστες με προβλήματα όρασης
Comment[eo/messages/kdenetwork/desktop_kdenetwork.po]=Pligrandigitaj tiparoj por vidhandikapitoj
Comment[es/messages/kdenetwork/desktop_kdenetwork.po]=Tamaños aumentados de fuentes para minusválidos visuales
Comment[et/messages/kdenetwork/desktop_kdenetwork.po]=Suured fondid halva nägemisega kasutajatele
Comment[fi/messages/kdenetwork/desktop_kdenetwork.po]=Suurennettu kirjasinkoko näkövammaisille käyttäjille
Comment[fr/messages/kdenetwork/desktop_kdenetwork.po]=Des polices de caractères plus grandes pour les malvoyants
Comment[he/messages/kdenetwork/desktop_kdenetwork.po]=גופנים מוגדלים למשתמשים לקויי ראייה
Comment[hr/messages/kdenetwork/desktop_kdenetwork.po]=Povećana pisma za korisnike sa slabijim vidom
Comment[hu/messages/kdenetwork/desktop_kdenetwork.po]=Megnövelt betűméretek a csökkent látóképességűek számára
Comment[it/messages/kdenetwork/desktop_kdenetwork.po]=Dimensioni più grandi dei caratteri per chi ha problemi di vista
Comment[ja/messages/kdenetwork/desktop_kdenetwork.po]=フォントサイズを増加
Comment[lt/messages/kdenetwork/desktop_kdenetwork.po]=Padidinti šriftų dydžiai blogai matantiems vartotojams
Comment[lv/messages/kdenetwork/desktop_kdenetwork.po]=Palielināti fontu izmēri lietotājiem ar redzes traucējumiem
Comment[nl/messages/kdenetwork/desktop_kdenetwork.po]=Groter lettertype voor visueel gehinderde gebruikers
Comment[nn/messages/kdenetwork/desktop_kdenetwork.po]=Auka skriftstorleik for visuelt handikappa brukarar
Comment[pl/messages/kdenetwork/desktop_kdenetwork.po]=Większe czcionki dla użytkowników o słabszym wzroku
Comment[pt/messages/kdenetwork/desktop_kdenetwork.po]=Tamanhos de letra maiores para as pessoas com visão limitada
Comment[ro/messages/kdenetwork/desktop_kdenetwork.po]=Mărimi de font mari pentru utilizatori cu handicap
Comment[ru/messages/kdenetwork/desktop_kdenetwork.po]=Увеличенные шрифты для пользователей с дефектами зрения
Comment[sk/messages/kdenetwork/desktop_kdenetwork.po]=Zväčší velkosť písma pre zrakovo postihnutých používatelov
Comment[sl/messages/kdenetwork/desktop_kdenetwork.po]=Povečane velikosti pisav za slabovidne uporabnike
Comment[sv/messages/kdenetwork/desktop_kdenetwork.po]=Större teckenstorlek för användare med nedsatt syn
Comment[th/messages/kdenetwork/desktop_kdenetwork.po]=เพิ่มขนาดตัวอักษรสำหรับผู้ที่สายตาไม่ดี
Comment[tr/messages/kdenetwork/desktop_kdenetwork.po]=Görsel engelli kullanıcılar için arttırılmış yazı tipi boyutu
Comment[uk/messages/kdenetwork/desktop_kdenetwork.po]=Збільшений розмір шрифтів для людей з поганим зором
Comment[vi/messages/kdenetwork/desktop_kdenetwork.po]=Tăng cỡ font cho người dùng tàn tật 
Comment[xh/messages/kdenetwork/desktop_kdenetwork.po]=Ubungakanani bobukhulu begama bunyusiwe kubasebenzisi ababonayo
Comment[xx/messages/kdenetwork/desktop_kdenetwork.po]=xx
Comment[zu/messages/kdenetwork/desktop_kdenetwork.po]=Abakhushululiweyo osayizi befont kwabantu abayizimpumputhe

[Reader]
BackgroundColor=250,235,215
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
FlagMessage=0,127,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=false

[Fonts]
body-font=Helvetica,14,-1,5,75,0,0,0,0,0
defaultFonts=false
folder-font=Helvetica,14,-1,5,75,0,0,0,0,0
list-date-font=Helvetica,14,-1,5,75,0,0,0,0,0
list-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote1-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote2-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote3-font=Helvetica,14,-1,5,75,0,0,0,0,0

# should this profile be restricted to font and color changes?
[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true
showCryptoIcons=false
