[KMail Profile]
Name=Default
Name[ar]=افتراضي
Name[az]=Əsas
Name[be]=Па ўмаўчаньні
Name[bg]=Стандартен
Name[br]=Dre ziouer
Name[ca]=Omissió
Name[cs]=Implicitní
Name[cy]=Rhagosod
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[eo]=Apriora
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[eu]=Aurremugatua
Name[fi]=Oletus
Name[fr]=Défaut
Name[ga]=Réamhshocrú
Name[gl]=Por Omisión
Name[hi]=डिफ़ॉल्ट
Name[hr]=Uobičajeno
Name[hu]=Alapértelmezés
Name[id]=Standar
Name[is]=Sjálfgefið
Name[it]=Predefinito
Name[ja]=標準
Name[lt]=Numatytasis
Name[lv]=Noklusētais
Name[mk]=Вообичаено
Name[mt]=Normali
Name[nb]=Standard
Name[nl]=Standaard
Name[nn]=Standard
Name[pl]=Domyślny
Name[pt]=Por Omissão
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[se]=Standárda
Name[sk]=Štandarné
Name[sl]=Privzeto
Name[sr]=Подразумевано
Name[sr@Latn]=Podrazumevano
Name[sv]=Standard
Name[ta]=முன்னிருப்பு
Name[tg]=Пешфарзӣ
Name[th]=ค่าปริยาย
Name[tr]=Öntanımlı
Name[uk]=Типовий
Name[uz]=Андоза
Name[ven]=Zwi si zwavhudi
Name[vi]=Mặc định 
Name[xh]=Engagqibekanga
Name[xx]=xxDefaultxx
Name[zh_CN]=默认
Name[zu]=Engaqedekanga
Comment=Standard profile
Comment[ar]=التشكيل القياسي
Comment[az]=Standard profil
Comment[be]=Стандартны профіль
Comment[bg]=Стандартен профил
Comment[bs]=Standardni profil
Comment[ca]=Perfil estàndard
Comment[cs]=Standardní profil
Comment[cy]=Proffil safonol
Comment[da]=Standard-profil
Comment[de]=Standardprofil
Comment[el]=Τυπικό προφίλ
Comment[eo]=Apriora agordo
Comment[es]=Perfil estándar
Comment[et]=Standardprofiil
Comment[eu]=Profila Standarra
Comment[fi]=Normaali profiili
Comment[fr]=Profil standard
Comment[gl]=Perfil Estándar
Comment[hi]=मानक प्रोफ़ाइल
Comment[hr]=Standardni profil
Comment[hu]=Standard profil
Comment[is]=Venjulegt snið
Comment[it]=Profilo standard
Comment[ja]=標準プロファイル
Comment[lt]=Standartinis profilis
Comment[lv]=Standarta profils
Comment[nb]=Standardprofil
Comment[nl]=Standaard profiel
Comment[nn]=Standardprofil
Comment[pl]=Profil standardowy
Comment[pt]=O perfil-padrão
Comment[pt_BR]=Perfil padrão
Comment[ro]=Profil standard
Comment[ru]=Обычный профиль
Comment[se]=Standárdprofiila
Comment[sk]=Štandardný profil
Comment[sl]=Običajen profil
Comment[sr]=Стандардни профил
Comment[sr@Latn]=Standardni profil
Comment[sv]=Standardprofil
Comment[ta]=நிலையான சுருக்கக்குறிப்பு
Comment[tg]=Профили оддӣ
Comment[th]=โปรไฟล์มาตรฐาน
Comment[tr]=Standart profil
Comment[uk]=Типовий профіль
Comment[uz]=Андоза профили
Comment[ven]=Zwithu zwo doweleaho
Comment[vi]=Hồ sơ chuẩn
Comment[xh]=Imboniselo yabucala esezantsi
Comment[xx]=xxStandard profilexx
Comment[zh_CN]=标准配置文件
Comment[zu]=Iprofayela Elingeneyo

[Reader]
BackgroundColor=255,255,255
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
FlagMessage=0,127,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=false

[Fonts]
body-font=Helvetica,10,-1,5,50,0,0,0,0,0
defaultFonts=false
folder-font=Helvetica,10,-1,5,50,0,0,0,0,0
list-date-font=Helvetica,10,-1,5,50,0,0,0,0,0
list-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote1-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote2-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote3-font=Helvetica,10,-1,5,50,0,0,0,0,0

[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true
showCryptoIcons=false

[Behaviour]
LoopOnGotoUnread=true

[MDN]
quote-message=0
default-policy=0
