[KMail Profile]
Name=HTML
Comment=Standard profile with HTML preview enabled - less secure!
Comment[de]=Standardprofil mit aktivierter HTML-Vorschau - weniger sicher

[Reader]
BackgroundColor=255,255,255
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=true
htmlLoadExternal=false

[Fonts]
defaultFonts=true

[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true
showCryptoIcons=false

[Behaviour]
LoopOnGotoUnread=true

[MDN]
quote-message=0
default-policy=0
