[KMail Profile]
Name=High Contrast
Name[af]=Hoog Kontras
Name[bg]=Висок Контраст
Name[bs]=Visoki kontrast
Name[ca]=Alt constrast
Name[cs]=Vysoký kontrast
Name[da]=Høj kontrast
Name[de]=Starker Kontrast
Name[el]=Υψηλή αντίθεση
Name[eo]=Forta kontrasto
Name[es]=Alto contraste
Name[et]=Suur kontrast
Name[fi]=Korkea kontrasti
Name[fr]=Contraste élevé
Name[he]=חדות גבוהה
Name[hu]=Erősen kontrasztos
Name[it]=Alto contrasto
Name[ja]=ハイコントラスト
Name[lt]=Didelis kontrastas
Name[nb]=Høy kontrast
Name[nl]=Hoog contrast
Name[nn]=Høg kontrast
Name[nso]=Phapano ya Godimo
Name[pl]=Silny kontrast
Name[pt]=Alto Contraste
Name[pt_BR]=Alto Contraste
Name[ru]=Высокая контрастность
Name[sk]=Vysoký kontrast
Name[sl]=Visok kontrast
Name[sv]=Hög kontrast
Name[uk]=Висока контрастність
Name[ven]=U fanyisa ha ntha
Name[xh]=Ukugqama kombala Okuphezulu
Name[zh_CN]=高对比度
Name[zh_TW]=高反差
Name[zu]=Uhluko Lwezinto Luphezulu
Comment=Increased font sizes for visually impaired users
Comment[af]=Verhoogde skrif tipe grotes vir virueel gestrem gebruikers
Comment[ar]=خطوط بأحجام أكبر لضعاف البصر
Comment[az]=Görmə pozuqluğu olanlar üçün böyüdülmüş yazı növləri
Comment[bg]=Увеличава Размера на Шрифт за хора с повредено зрение
Comment[bs]=Povećane dimenzije fontova za korisnike sa vizuelnim nedostacima
Comment[ca]=Incrementar la mides de les fonts per als minusvàlids visuals
Comment[cs]=Zvětší velikost písma pro zrakově postižené uživatele
Comment[da]=Forøgede skriftstørrelser for brugere med synsbesvær
Comment[de]=Größere Schriften für sehbehinderte Benutzer
Comment[el]=Αυξημένα μεγέθη γραμματοσειρών για τους χρήστες με προβλήματα όρασης
Comment[eo]=Pligrandigitaj tiparoj por vidhandikapitoj
Comment[es]=Tamaños aumentados de fuentes para minusválidos visuales
Comment[et]=Suured fondid halva nägemisega kasutajatele
Comment[fi]=Suurennettu kirjasinkoko näkövammaisille käyttäjille
Comment[fr]=Des polices de caractères plus grandes pour les malvoyants
Comment[he]=גופנים מוגדלים למשתמשים לקויי ראייה
Comment[hr]=Povećana pisma za korisnike sa slabijim vidom
Comment[hu]=Megnövelt betűméretek a csökkent látóképességűek számára
Comment[it]=Dimensioni più grandi dei caratteri per chi ha problemi di vista
Comment[ja]=フォントサイズを増加
Comment[lt]=Padidinti šriftų dydžiai blogai matantiems vartotojams
Comment[lv]=Palielināti fontu izmēri lietotājiem ar redzes traucējumiem
Comment[mt]=Żid id-daqsijiet tal-fonts għal min ibati biex jara
Comment[nb]=Store skriftstørrelser for synshemmede brukere
Comment[nl]=Groter lettertype voor visueel gehinderde gebruikers
Comment[nn]=Auka skriftstorleik for visuelt handikappa brukarar
Comment[nso]=Mabogolo a difonto ao a okeleditswego badirisi bao basa bonego gabotse
Comment[pl]=Większe czcionki dla użytkowników o słabszym wzroku
Comment[pt]=Tamanhos de letra maiores para as pessoas com visão limitada
Comment[pt_BR]=Melhora tamanho das fontes para usuários com deficiência visual
Comment[ro]=Mărimi de font mari pentru utilizatori cu handicap
Comment[ru]=Увеличенные шрифты для пользователей с дефектами зрения
Comment[sk]=Zväčší velkosť písma pre zrakovo postihnutých používatelov
Comment[sl]=Povečane velikosti pisav za slabovidne uporabnike
Comment[sv]=Större teckenstorlek för användare med nedsatt syn
Comment[th]=เพิ่มขนาดตัวอักษรสำหรับผู้ที่สายตาไม่ดี
Comment[tr]=Görsel engelli kullanıcılar için arttırılmış yazı tipi boyutu
Comment[uk]=Збільшений розмір шрифтів для людей з поганим зором
Comment[ven]=Saizi ya fontu yo engedzhwaho uitela vhashumisi vha zwauvhona
Comment[vi]=Tăng cỡ font cho người dùng tàn tật 
Comment[xh]=Yandisele abasebenzisi abangaboni kakuhle bobungakanani bamagama
Comment[zh_CN]=增加字体大小以方便视力不好的用户
Comment[zh_TW]=增加字體大小以方便視力不好的使用者
Comment[zu]=Abakhushululiweyo osayizi befont kwabantu abayizimpumputhe

[Reader]
BackgroundColor=250,235,215
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
FlagMessage=0,127,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=false

[Fonts]
body-font=Helvetica,14,-1,5,75,0,0,0,0,0
defaultFonts=false
folder-font=Helvetica,14,-1,5,75,0,0,0,0,0
list-date-font=Helvetica,14,-1,5,75,0,0,0,0,0
list-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote1-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote2-font=Helvetica,14,-1,5,75,0,0,0,0,0
quote3-font=Helvetica,14,-1,5,75,0,0,0,0,0

# should this profile be restricted to font and color changes?
[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true
showCryptoIcons=false

[MDN]
quote-message=0
default-policy=0
