[KMail Profile]
Name=Default
Name[af]=Standaard
Name[be]=Прадвызначаны
Name[bg]=Стандартен
Name[br]=Dre ziouer
Name[ca]=Omissió
Name[cs]=Implicitní
Name[cy]=Rhagosod
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[eo]=Apriora
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[eu]=Lehenetsia
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Défaut
Name[fy]=Standert
Name[ga]=Réamhshocrú
Name[gl]=Por Omisión
Name[he]=ברירת מחדל
Name[hr]=Uobičajeno
Name[hu]=Alapértelmezés
Name[is]=Sjálfgefið
Name[it]=Predefinito
Name[ja]=標準
Name[ka]=ნაგულისხმევი
Name[kk]=Әдетті
Name[km]=លំនាំដើម
Name[ko]=기본값
Name[lt]=Numatytasis
Name[lv]=Noklusētais
Name[mk]=Стандарден
Name[ms]=Piawai
Name[nb]=Standard
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[oc]=Defaut
Name[pa]=ਡਿਫਾਲਟ
Name[pl]=Domyślny
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[se]=Standárda
Name[sk]=Štandarné
Name[sl]=Privzeto
Name[sr]=Подразумевано
Name[sr@latin]=Podrazumevano
Name[sv]=Standard
Name[ta]=முன்னிருப்பு
Name[tg]=Пешфарзӣ
Name[tr]=Öntanımlı
Name[uk]=Типовий
Name[uz]=Андоза
Name[vi]=Mặc định 
Name[x-test]=xxDefaultxx
Name[xh]=Engagqibekanga
Name[zh_CN]=默认
Name[zh_TW]=預設
Comment=Standard profile
Comment[af]=Standaard profiel
Comment[be]=Стандартны профіль
Comment[bg]=Стандартен профил
Comment[ca]=Perfil estàndard
Comment[cs]=Standardní profil
Comment[cy]=Proffil safonol
Comment[da]=Standard-profil
Comment[de]=Standardprofil
Comment[el]=Τυπικό προφίλ
Comment[eo]=Apriora agordo
Comment[es]=Perfil estándar
Comment[et]=Standardprofiil
Comment[eu]=Profil estandarra
Comment[fa]=profile استاندارد
Comment[fi]=Normaali profiili
Comment[fr]=Profil standard
Comment[fy]=Standert profyl
Comment[ga]=Próifíl chaighdeánach
Comment[gl]=Perfil Estándar
Comment[he]=פרופיל ברירת מחדל
Comment[hr]=Standardni profil
Comment[hu]=Standard profil
Comment[is]=Venjulegt snið
Comment[it]=Profilo standard
Comment[ja]=標準プロファイル
Comment[ka]=სტანდარტული პროფილი
Comment[kk]=Стандартты профилі
Comment[km]=ទម្រង់​ខ្នាត​គំរូ
Comment[ko]=표준 프로필
Comment[lt]=Standartinis profilis
Comment[lv]=Standarta profils
Comment[mk]=Стандарден профил
Comment[ms]=Profail Standard
Comment[nb]=Standardprofil
Comment[nds]=Standardprofil
Comment[ne]=मानक प्रोफाइल
Comment[nl]=Standaard profiel
Comment[pa]=ਸਟੈਂਡਰਡ ਪਰੋਫਾਇਲ
Comment[pl]=Profil standardowy
Comment[pt]=O perfil-padrão
Comment[pt_BR]=Perfil padrão
Comment[ro]=Profil standard
Comment[ru]=Обычный профиль
Comment[se]=Standárdprofiila
Comment[sk]=Štandardný profil
Comment[sl]=Običajen profil
Comment[sr]=Стандардни профил
Comment[sr@latin]=Standardni profil
Comment[sv]=Standardprofil
Comment[ta]=நிலையான சுருக்கக்குறிப்பு
Comment[tg]=Профили оддӣ
Comment[tr]=Standart profil
Comment[uk]=Типовий профіль
Comment[uz]=Андоза профили
Comment[vi]=Hồ sơ chuẩn
Comment[x-test]=xxStandard profilexx
Comment[xh]=Imboniselo yabucala esezantsi
Comment[zh_CN]=标准配置文件
Comment[zh_TW]=標準設定

[Reader]
BackgroundColor=255,255,255
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
FlagMessage=0,127,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=false

[Fonts]
defaultFonts=true

[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true
showCryptoIcons=false

[Behaviour]
LoopOnGotoUnread=true

[MDN]
quote-message=0
default-policy=0
