[KMail Profile]
Name=Purist
Name[af]=Suiwerheid
Name[bg]=Пурист
Name[bs]=Za čistunce
Name[ca]=Purista
Name[cs]=Puristický
Name[de]=Puristisch
Name[el]=Καθαρό
Name[eo]=Puristo
Name[es]=Purista
Name[fi]=Puristi
Name[fr]=Puriste
Name[he]=טהור
Name[hr]=Čistunski
Name[hu]=Egyszerű
Name[it]=Purista
Name[lt]=Itin paprastas
Name[lv]=Puritānis
Name[nso]=Mohlwekisi
Name[pl]=Purysta
Name[pt]=Purista
Name[pt_BR]=Purista
Name[ro]=Puritan
Name[ru]=Пурист
Name[sk]=Puristický
Name[sv]=Ren
Name[tr]=Pürist
Name[uk]=Пуристичний
Name[ven]=Zwo kunaho
Name[zh_CN]=简单
Name[zh_TW]=單純
Name[zu]=Okuhlanzekileyo
Comment=Most features turned off, KDE global settings are used
Comment[af]=Mees funksies geskakel af, Kde globale instellings word gebruik word
Comment[ar]=أغلب الميزات غبر عاملة, سيتم استخدام اعدادات KDE العامة
Comment[az]=Bir çox xüsusiyyət açıq deyil, KDE qlobal qurğuları işlədilir
Comment[bg]=Повечето възможности са изключени, използват се глобални настройки на KDE 
Comment[bs]=Većina mogućnosti je isključena, koriste se KDE globalne postavke
Comment[ca]=La majoria de les característiques desactivadas, s'usaran en les opcions globals del KDE
Comment[cs]=Většina funkcí je vypnuta a použije se globální nastavení KDE
Comment[da]=De fleste egenskaber slået fra, KDE's globale opsætning brugt
Comment[de]=Die meisten Funktionen werden zugunsten von KDE-Voreinstellungen deaktiviert
Comment[el]=Τα πιο πολλά χαρακτηριστικά απενεργοποιημένα, οι γενικές ρυθμίσεις του KDE χρησιμοποιούνται
Comment[eo]=Plej multaj funkcioj malŝaltitaj, malloka agordo de KDE estas uzata
Comment[es]=La mayor parte de las propiedades desactivadas, se utilizan las opciones globales de KDE
Comment[et]=Võimaluste enamus välja lülitatud, KDE seadistuste kasutamine
Comment[fi]=Suurin osa ominaisuuksia poissa päältä, KDE:n jjärjestelmänlaajuisia asetuksia käytetään
Comment[fr]=Presque toutes les fonctionnalités désactivées, utilisation de la configuration globale de KDE
Comment[he]=רוב התכונות כבויות, שימוש בהגדרות הגלובליות של KDE
Comment[hr]=Većina mogućnosti isključena, KDE globalne postavke bivaju korištene
Comment[hu]=A legtöbb csingilingi kikapcsolva, a KDE globális beállításait használja
Comment[it]=La maggior parte delle funzioni sono disabilitate, vengono usate le impostazioni globali di KDE
Comment[ja]=ほとんどの機能はオフで、KDEのグローバルセッティングが使用されます
Comment[lt]=Dauguma savybių išjungta, naudojami globalūs KDE nustatymai
Comment[lv]=Vairums īpašību izslēgtas, tiek izmantoti KDE globālie uzstādījumi
Comment[mt]=Ħafna faċilitajiet mitfija; setings globali tal-KDE użati
Comment[nb]=De fleste finesser slått av, KDEs globale oppsett er brukt
Comment[nl]=Meeste mogelijkheden uitgezet, de globale KDE-instellingen worden gebruikt
Comment[nn]=Dei fleste funksjonane er av, globale KDE-innstillingar vert brukt
Comment[nso]=Dika tse ntshi di timilwe, dipeakanyo tsa boditshabatshaba tsa KDE dia somiswa
Comment[pl]=Większość efektów wyłączona, używane domyślne ustawienia KDE
Comment[pt]=A maioria das funcionalidades desligada, são usadas as opções globais do KDE
Comment[pt_BR]=A maioria das funcionalidades desligadas, configuração global do KDE é usada
Comment[ro]=Multe caracteristici dezactivate; sînt utilizate setările KDE
Comment[ru]=Большинство дополнительных возможностей отключено, используются глобальные настройки KDE
Comment[sk]=Väčšina funkcií vypnutá a použije sa globálne nastavenie KDE
Comment[sl]=Večina možnosti izključenih, uporabljene splošne nastavitve KDE
Comment[sv]=De flesta funktioner avstängda, KDE:s allmänna inställningar används
Comment[th]=คุณสมบัติส่วนมากถูกปิดการใช้ และใช้ค่าทั่วไปของ KDE แทน
Comment[tr]=Bir çok özellik kapatılmış, KDE'nin küresel ayarları kullanılır
Comment[uk]=Більшість функцій вимкнено, вживаються глобальні установки KDE
Comment[ven]=Zwithu zwinzhi zwo tsimiwa, mavhekanyelo a KDE a hothe na hothe a khu shumiswa
Comment[vi]=Hầu hết các chức năng tắt, Thiết lập toàn cục của KDE được dùng 
Comment[xh]=Iinkangeleko zangaphandle ezininzi ziyekisiwe, Izicwangciso zelizwe lonke ze KDE zisetyenzisiwe
Comment[zh_CN]=大多数特征都关闭，使用 KDE 全局设置
Comment[zh_TW]=大部分的特性都會關閉，只使用 KDE 的全域設定
Comment[zu]=Eziningi izinto azikhanyiswanga, ezezizwe izilungiselo ze KDE ziyasetshenziswa

[Reader]
defaultColors=true
showColorbar=false
htmlMail=false

[Fonts]
defaultFonts=true

# should this profile be restricted to font and color changes?
[Geometry]
nestedMessages=false
longFolderList=true

[General]
dateDisplay=ctime
showMessageSize=false
showCryptoIcons=false
