[KMail Profile]
Name=Most secure
Name[af]=mees beveilig
Name[ar]=الأكثر أمنا
Name[az]=Ən etibarlı
Name[bg]=Повече сигурност
Name[bs]=Najsigurniji
Name[cs]=Nejbezpečnější
Name[da]=Mest sikker
Name[de]=Höchste Sicherheit
Name[el]=Το πιο ασφαλές
Name[eo]=Plej sekura
Name[es]=Lo más seguro
Name[et]=Kõige turvalisem
Name[eu]=Seguruena
Name[fi]=Turvallisin
Name[fr]=Sécurisé
Name[he]=אבטחה מירבית
Name[hr]=Najsigurnije
Name[hu]=Maximális biztonság
Name[it]=Massima sicurezza
Name[ja]=最も安全
Name[lt]=Saugiausias
Name[lv]=Vissdrošāks
Name[nl]=Meest veilig
Name[nn]=Tryggast
Name[pt]=Mais seguro
Name[pt_BR]=Menos seguro
Name[ro]=Foarte securizat
Name[ru]=Самый безопасный
Name[sk]=Najbezpečnejšie
Name[sl]=Najvarneje
Name[sv]=Säkrast
Name[th]=ความปลอดภัยสูง
Name[tr]=En güvenli
Name[uk]=Найбільш безпечний
Name[ven]=Zwo tsireledzhwaho
Name[vi]=Bảo mật nhất
Name[xh]=Ukhuseleko olukhulu
Name[xx]=xx
Name[zh_CN]=最安全
Name[zh_TW]=最安全
Name[zu]=Okukhulu ukuvikeleka
Comment=Sets all necessary options to achieve maximum security
Comment[ar]=تقوم بتغيير كل الخيارات لتحقيق أعلى أمان
Comment[az]=Maksimal təhlükəsizlik üçün bütün mümkün seçənəyi həyata keçirir
Comment[bs]=Postavlja sve potrebne opcije radi maksimalne sigurnosti
Comment[cs]=Zapne všechny volby nutné k dosažení nejvyšší bezpečnosti
Comment[da]=Sætter alle nødvendige tilvalg til højest mulige sikkerhed
Comment[de]=Aktivierung aller nötigen Optionen für die höchste Sicherheitsstufe
Comment[el]=Ρυθμίζει όλες τις απαραίτητες επιλογές για τη επίτευξη της μέγιστης ασφάλειας
Comment[eo]=Agordas la necesajn opciojn por atingi maksimuman sekurecon
Comment[es]=Establece todas las opciones necesarias para conseguir un máximo de seguridad
Comment[et]=Kõik võimalused maksimaalse turvalisuse tagamiseks
Comment[fi]=Asettaa kaikki tarvittavat asetukset suurimman turvallisuuden saavuttamiseksi
Comment[fr]=Règle les options pour une sécurité maximale
Comment[he]=מגדיר את כל האפשרויות הנחוצות על מנת להשיג אבטחה מירבית
Comment[hr]=Podešava sve opcije da postigne najbolju sigurnost
Comment[hu]=Az összes, adatvédelmi kockázatot jelentő lehetőség kikapcsolva
Comment[it]=Imposta tutte le opzioni necessario per ottenere la massima sicurezza
Comment[ja]=最大のセキュリティ確保のために必要な全てのオプションをセットします
Comment[lt]=Nustato visas būtinas maksimaliam saugumui parinktis
Comment[lv]=Uzstāda visas nepieciešamās opcijas maksimālas drošības iegūšanai
Comment[nl]=Stelt alle benodigde opties in om de maximale veiligheid te verkrijgen.
Comment[nn]=Gjer alle naudsynte innstillingar for så stor tryggleik som råd
Comment[pt]=Configura todas as opções necessárias para uma maior segurança
Comment[pt_BR]=Configura todas as opções necessárias para conseguir segurança máxima
Comment[ro]=Setează toate opţiunile necesare pentru a atinge o securitate maximă
Comment[ru]=Устанавливает все параметры, необходимые для достижения максимальной безопасности
Comment[sk]=Zapne všetky nutné možnosti pre dosiahnutie najvyššej bezpečnosti
Comment[sl]=Nastavi vse potrebne možnosti za največjo varnost
Comment[sv]=Ställer in alla nödvändiga alternativ för att uppnå maximal säkerhet
Comment[th]=ตั้งค่าตัวเลือกที่จำเป็นทั้งหมด เพื่อความปลอดภัยสูงสุด
Comment[tr]=En fazla güvenlik için gerekli bütün seçenekleri seçer
Comment[uk]=Встановлює всі необхідні параметри для забезпечення максимальної безпеки
Comment[ven]=Vhekanyani manangwa othe u swikelela vhutsireledzi ho khwathaho
Comment[vi]=Đặt mọi tuỳ chọn cần thiết để có bảo mật tối đa 
Comment[xh]=Icwangcisa zonke iinketho eziyimfuneko ukufumana ukhuseleko olukhulu
Comment[xx]=xx
Comment[zh_CN]=设置所有必要的选项以获得最大的安全性
Comment[zh_TW]=設定所有必須的選項以達到最大安全性
Comment[zu]=Ilunga zonke izinketho ezibalulekile ukuthola okukhulu ukuvikeleka

[Composer]
pgp-auto-sign=true
pgp-auto-encrypt=true

[Reader]
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
defaultColors=false
showColorbar=true
htmlMail=false
htmlLoadExternal=false

[General]
send-receipts=false
