[KMail Profile]
Name=Purist
Comment=Most features turned off, KDE global settings are used
Comment[de]=Die meisten Funktionen werden zugunsten von KDE-Voreinstellungen deaktiviert

[Reader]
defaultColors=true
showColorbar=false
htmlMail=false

[Fonts]
defaultFonts=true

# should this profile be restricted to font and color changes?
[Geometry]
nestedMessages=false
longFolderList=true

[General]
dateDisplay=ctime
showMessageSize=false
showCryptoIcons=false

[MDN]
quote-message=0
default-policy=0
