[KMail Profile]
Name=HTML
Name[af]=html
Name[he]=עם HTML
Name[xx]=xx
Comment=Standard profile with HTML preview enabled - less secure!
Comment[af]=standaard profiel met html voorskou geaktiveer - minder beveilig!
Comment[ar]=تشكيل قياسي مع تمكين استعراض HTML - أقل أمانا!
Comment[az]=HTML nümayişli standard - ən az etibarlı!
Comment[da]=Standard-profil med HTML-forhåndsvisning aktiveret - mindre sikkert!
Comment[de]=Standardprofil mit aktivierter HTML-Vorschau - weniger sicher
Comment[es]=Perfil estándar con previsualizaión HTML activada - menos seguro
Comment[fi]=Normaali profiili HTML esikatselua käyttäville - vähemmän turvallinen!
Comment[fr]=Profil standard avec l'aperçu HTML activé - Moins sécurisé !
Comment[he]=הפרופיל הסטנדרטי עם תצוגה מקדימה של HTML - פחות בטוח
Comment[hu]=Normál profil HTML-előnézettel - biztonsági kockázatot jelent!
Comment[lt]=Standartinis profilis su HTML peržiūra – mažiau saugus!
Comment[lv]=Standarta profils ar atļautu HTML apskati - nedrošāks!
Comment[nl]=standaardprofiel met HTML -oorbeeld geactiveerd - minder veilig !
Comment[pt]=Perfil padrão com antevisão de HTML activada - menos segura!
Comment[pt_BR]=Perfil padrão com antevisão de HTML activada - menos segura!
Comment[sk]=Štandardný profil pre povolený náhlad HTML - menej bezpečné!
Comment[sl]=Standardni profil z vključenim ogledom HTML - manj varno!
Comment[sv]=Standardprofil med HTML-förhandsgranskning aktiverad - mindre säker!
Comment[xh]=Imboniselo yabucala esezantsi nge HTML imboniso yenziwe - ukhuseleko oluncinane!
Comment[xx]=xx

[Reader]
BackgroundColor=255,255,255
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
FlagMessage=0,127,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=true
htmlLoadExternal=false

[Fonts]
body-font=Helvetica,10,-1,5,50,0,0,0,0,0
defaultFonts=false
folder-font=Helvetica,10,-1,5,50,0,0,0,0,0
list-date-font=Helvetica,10,-1,5,50,0,0,0,0,0
list-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote1-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote2-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote3-font=Helvetica,10,-1,5,50,0,0,0,0,0

[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true

[Behaviour]
LoopOnGotoUnread=true
