[KMail Profile]
Name=Default
Name[af/messages/kdebase/desktop_kdebase.po]=verstek
Name[ar/messages/kdebase/desktop_kdebase.po]=افتراضي
Name[az/messages/kdebase/desktop_kdebase.po]=Əsas
Name[be/messages/kdebase/desktop_kdebase.po]=Па ўмаўчаньні
Name[bg/messages/kdebase/desktop_kdebase.po]=По подразбиране
Name[br/messages/kdebase/desktop_kdebase.po]=Dre ziouer
Name[ca/messages/kdebase/desktop_kdebase.po]=Omissió
Name[cs/messages/kdebase/desktop_kdebase.po]=Implicitní
Name[da/messages/kdebase/desktop_kdebase.po]=Standard
Name[de/messages/kdebase/desktop_kdebase.po]=Standard
Name[el/messages/kdebase/desktop_kdebase.po]=Προκαθορισμένο
Name[eo/messages/kdebase/desktop_kdebase.po]=Apriora
Name[es/messages/kdebase/desktop_kdebase.po]=Predeterminado
Name[et/messages/kdebase/desktop_kdebase.po]=Vaikimisi
Name[eu/messages/kdebase/desktop_kdebase.po]=Aurremugatua
Name[fi/messages/kdebase/desktop_kdebase.po]=Oletus
Name[fo/messages/kdebase/desktop_kdebase.po]=Forsettur
Name[fr/messages/kdebase/desktop_kdebase.po]=Défaut
Name[gl/messages/kdebase/desktop_kdebase.po]=Por Omisión
Name[he/messages/kdebase/desktop_kdebase.po]=ברירת מחדל
Name[hr/messages/kdebase/desktop_kdebase.po]=Uobičajeno
Name[hu/messages/kdebase/desktop_kdebase.po]=Alapértelmezett
Name[id/messages/kdebase/desktop_kdebase.po]=Standar
Name[is/messages/kdebase/desktop_kdebase.po]=Sjálfgefið
Name[it/messages/kdebase/desktop_kdebase.po]=Predefinito
Name[ja/messages/kdebase/desktop_kdebase.po]=標準
Name[ko/messages/kdebase/desktop_kdebase.po]=기본
Name[lt/messages/kdebase/desktop_kdebase.po]=Nutylima
Name[lv/messages/kdebase/desktop_kdebase.po]=Noklusētais
Name[mk/messages/kdebase/desktop_kdebase.po]=Вообичаено
Name[mt/messages/kdebase/desktop_kdebase.po]=Normali
Name[nb/messages/kdebase/desktop_kdebase.po]=Standard
Name[nl/messages/kdebase/desktop_kdebase.po]=Standaard
Name[nn/messages/kdebase/desktop_kdebase.po]=Standard
Name[oc/messages/kdebase/desktop_kdebase.po]=Omission
Name[pl/messages/kdebase/desktop_kdebase.po]=Domyślnie
Name[pt/messages/kdebase/desktop_kdebase.po]=Por Omissão
Name[ro/messages/kdebase/desktop_kdebase.po]=Implicit
Name[ru/messages/kdebase/desktop_kdebase.po]=По умолчанию
Name[sk/messages/kdebase/desktop_kdebase.po]=Štandardný
Name[sl/messages/kdebase/desktop_kdebase.po]=Privzeto
Name[sr/messages/kdebase/desktop_kdebase.po]=Predefinisano
Name[sv/messages/kdebase/desktop_kdebase.po]=Förval
Name[ta/messages/kdebase/desktop_kdebase.po]=¦¸¡¼¡¿¢¨Ä
Name[th/messages/kdebase/desktop_kdebase.po]=ค่าปริยาย
Name[tr/messages/kdebase/desktop_kdebase.po]=Öntanımlı
Name[uk/messages/kdebase/desktop_kdebase.po]=Типовий
Name[ven/messages/kdebase/desktop_kdebase.po]=Zwi si zwavhudi
Name[vi/messages/kdebase/desktop_kdebase.po]=Mặc định 
Name[wa/messages/kdebase/desktop_kdebase.po]=Prémetou
Name[xh/messages/kdebase/desktop_kdebase.po]=Engagqibekanga
Name[xx/messages/kdebase/desktop_kdebase.po]=xx
Name[zu/messages/kdebase/desktop_kdebase.po]=Engaqedekanga
Name[af/messages/kdenetwork/desktop_kdenetwork.po]=verstek
Name[ar/messages/kdenetwork/desktop_kdenetwork.po]=افتراضي
Name[az/messages/kdenetwork/desktop_kdenetwork.po]=Əsas
Name[be/messages/kdenetwork/desktop_kdenetwork.po]=Па ўмаўчаньні
Name[bg/messages/kdenetwork/desktop_kdenetwork.po]=По подразбиране
Name[br/messages/kdenetwork/desktop_kdenetwork.po]=Dre ziouer
Name[ca/messages/kdenetwork/desktop_kdenetwork.po]=Omissió
Name[cs/messages/kdenetwork/desktop_kdenetwork.po]=Implicitní
Name[da/messages/kdenetwork/desktop_kdenetwork.po]=Standard
Name[de/messages/kdenetwork/desktop_kdenetwork.po]=Standard
Name[el/messages/kdenetwork/desktop_kdenetwork.po]=Προκαθορισμένο
Name[eo/messages/kdenetwork/desktop_kdenetwork.po]=Apriora
Name[es/messages/kdenetwork/desktop_kdenetwork.po]=Predeterminado
Name[et/messages/kdenetwork/desktop_kdenetwork.po]=Vaikimisi
Name[fi/messages/kdenetwork/desktop_kdenetwork.po]=Oletus
Name[fo/messages/kdenetwork/desktop_kdenetwork.po]=Forsettur
Name[fr/messages/kdenetwork/desktop_kdenetwork.po]=Défaut
Name[he/messages/kdenetwork/desktop_kdenetwork.po]=ברירת מחדל
Name[hr/messages/kdenetwork/desktop_kdenetwork.po]=Uobičajeno
Name[hu/messages/kdenetwork/desktop_kdenetwork.po]=Alapértelmezett
Name[id/messages/kdenetwork/desktop_kdenetwork.po]=Standar
Name[is/messages/kdenetwork/desktop_kdenetwork.po]=Sjálfgefið
Name[it/messages/kdenetwork/desktop_kdenetwork.po]=Predefinito
Name[ja/messages/kdenetwork/desktop_kdenetwork.po]=標準
Name[ko/messages/kdenetwork/desktop_kdenetwork.po]=기본
Name[lt/messages/kdenetwork/desktop_kdenetwork.po]=Nutylima
Name[lv/messages/kdenetwork/desktop_kdenetwork.po]=Noklusētais
Name[mk/messages/kdenetwork/desktop_kdenetwork.po]=Вообичаено
Name[mt/messages/kdenetwork/desktop_kdenetwork.po]=Normali
Name[nb/messages/kdenetwork/desktop_kdenetwork.po]=Standard
Name[nl/messages/kdenetwork/desktop_kdenetwork.po]=Standaard
Name[nn/messages/kdenetwork/desktop_kdenetwork.po]=Standard
Name[pl/messages/kdenetwork/desktop_kdenetwork.po]=Domyślnie
Name[pt/messages/kdenetwork/desktop_kdenetwork.po]=Por Omissão
Name[ro/messages/kdenetwork/desktop_kdenetwork.po]=Implicit
Name[ru/messages/kdenetwork/desktop_kdenetwork.po]=По умолчанию
Name[sk/messages/kdenetwork/desktop_kdenetwork.po]=Štandardný
Name[sl/messages/kdenetwork/desktop_kdenetwork.po]=Privzeto
Name[sr/messages/kdenetwork/desktop_kdenetwork.po]=Predefinisano
Name[sv/messages/kdenetwork/desktop_kdenetwork.po]=Förval
Name[ta/messages/kdenetwork/desktop_kdenetwork.po]=¦¸¡¼¡¿¢¨Ä
Name[th/messages/kdenetwork/desktop_kdenetwork.po]=ค่าปริยาย
Name[tr/messages/kdenetwork/desktop_kdenetwork.po]=Öntanımlı
Name[uk/messages/kdenetwork/desktop_kdenetwork.po]=Типовий
Name[vi/messages/kdenetwork/desktop_kdenetwork.po]=Mặc định 
Name[wa/messages/kdenetwork/desktop_kdenetwork.po]=Prémetou
Name[xh/messages/kdenetwork/desktop_kdenetwork.po]=Engagqibekanga
Name[xx/messages/kdenetwork/desktop_kdenetwork.po]=xx
Name[zu/messages/kdenetwork/desktop_kdenetwork.po]=Engaqedekanga
Comment=Standard profile
Comment[af/messages/kdenetwork/desktop_kdenetwork.po]=standaard profiel
Comment[ar/messages/kdenetwork/desktop_kdenetwork.po]=التشكيل القياسي
Comment[az/messages/kdenetwork/desktop_kdenetwork.po]=Standard profil
Comment[be/messages/kdenetwork/desktop_kdenetwork.po]=Стандартны профіль
Comment[bg/messages/kdenetwork/desktop_kdenetwork.po]=Стандартен профил
Comment[bs/messages/kdenetwork/desktop_kdenetwork.po]=Standardni profil
Comment[cs/messages/kdenetwork/desktop_kdenetwork.po]=Standardní profil
Comment[da/messages/kdenetwork/desktop_kdenetwork.po]=Standardprofil
Comment[de/messages/kdenetwork/desktop_kdenetwork.po]=Standardprofil
Comment[el/messages/kdenetwork/desktop_kdenetwork.po]=Προκαθορισμένο προφίλ
Comment[eo/messages/kdenetwork/desktop_kdenetwork.po]=Apriora agordo
Comment[es/messages/kdenetwork/desktop_kdenetwork.po]=Pérfil de estandár
Comment[et/messages/kdenetwork/desktop_kdenetwork.po]=Standardne profiil
Comment[fi/messages/kdenetwork/desktop_kdenetwork.po]=Normaali profiili
Comment[fr/messages/kdenetwork/desktop_kdenetwork.po]=Profil standard
Comment[he/messages/kdenetwork/desktop_kdenetwork.po]=פרופיל סטנדרטי
Comment[hr/messages/kdenetwork/desktop_kdenetwork.po]=Standardni profil
Comment[hu/messages/kdenetwork/desktop_kdenetwork.po]=Alapértelmezett profil
Comment[it/messages/kdenetwork/desktop_kdenetwork.po]=Profilo standard
Comment[ja/messages/kdenetwork/desktop_kdenetwork.po]=標準プロファイル
Comment[lt/messages/kdenetwork/desktop_kdenetwork.po]=Standartinis profilis
Comment[lv/messages/kdenetwork/desktop_kdenetwork.po]=Standarta profils
Comment[nl/messages/kdenetwork/desktop_kdenetwork.po]=Standaard profiel
Comment[nn/messages/kdenetwork/desktop_kdenetwork.po]=Standardprofil
Comment[pl/messages/kdenetwork/desktop_kdenetwork.po]=Profil standardowy
Comment[pt/messages/kdenetwork/desktop_kdenetwork.po]=Perfil predefinido
Comment[ro/messages/kdenetwork/desktop_kdenetwork.po]=Profil standard
Comment[ru/messages/kdenetwork/desktop_kdenetwork.po]=Стандартный профиль
Comment[sk/messages/kdenetwork/desktop_kdenetwork.po]=Štandardný profil
Comment[sl/messages/kdenetwork/desktop_kdenetwork.po]=Standardni profil
Comment[sv/messages/kdenetwork/desktop_kdenetwork.po]=Standardprofil
Comment[th/messages/kdenetwork/desktop_kdenetwork.po]=โปรไฟล์มาตรฐาน
Comment[tr/messages/kdenetwork/desktop_kdenetwork.po]=Standart profil
Comment[uk/messages/kdenetwork/desktop_kdenetwork.po]=Типовий профіль
Comment[vi/messages/kdenetwork/desktop_kdenetwork.po]=Hồ sơ chuẩn
Comment[xh/messages/kdenetwork/desktop_kdenetwork.po]=Imboniselo yabucala esezantsi
Comment[xx/messages/kdenetwork/desktop_kdenetwork.po]=xx
Comment[zu/messages/kdenetwork/desktop_kdenetwork.po]=Iprofayela Elingeneyo

[Reader]
BackgroundColor=255,255,255
ColorbarHTML=255,64,64
ColorbarPGP=128,255,128
ColorbarPlain=255,255,128
FlagMessage=0,127,0
FollowedColor=255,0,255
ForegroundColor=0,0,0
LinkColor=84,112,152
NewMessage=255,0,0
PGPMessageEncr=0,128,255
PGPMessageErr=255,0,0
PGPMessageOkKeyBad=255,255,64
PGPMessageOkKeyOk=64,255,64
PGPMessageWarn=255,255,64
QuotedText1=0,127,0
QuotedText2=0,111,0
QuotedText3=0,95,0
FlagMessage=0,127,0
UnreadMessage=0,0,255
defaultColors=false
showColorbar=false
htmlMail=false

[Fonts]
body-font=Helvetica,10,-1,5,50,0,0,0,0,0
defaultFonts=false
folder-font=Helvetica,10,-1,5,50,0,0,0,0,0
list-date-font=Helvetica,10,-1,5,50,0,0,0,0,0
list-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote1-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote2-font=Helvetica,10,-1,5,50,0,0,0,0,0
quote3-font=Helvetica,10,-1,5,50,0,0,0,0,0

[Geometry]
nestedMessages=true
longFolderList=true

[General]
dateDisplay=fancyDate
showMessageSize=true
showCryptoIcons=false

[Behaviour]
LoopOnGotoUnread=true
