[Desktop Entry]
Name=Snooze Agent
Name[ar]=وكيل التأجيل
Name[bg]=Агент за отлагане
Name[ca]=Agent de posposament
Name[ca@valencia]=Agent de posposament
Name[cs]=Agent pro odložení
Name[es]=Agente para posponer
Name[fr]=Agent de répétition
Name[he]=סוכן נודניק
Name[ia]=Agente de Postponer  (dormettar)
Name[ka]=ჩაჩუმების აგენტი
Name[nl]=Agent voor indutten
Name[pt_BR]=Agente de Adiamento
Name[ru]=Агент отложенных писем
Name[sl]=Agent za dremež
Name[sv]=Uppskjutningsmodul
Name[tr]=Erteleme Aracısı
Name[uk]=Агент відкладення
Comment=Snooze Agent
Comment[ar]=وكيل التأجيل
Comment[bg]=Агент за отлагане
Comment[ca]=Agent de posposament
Comment[ca@valencia]=Agent de posposament
Comment[cs]=Agent pro odložení
Comment[es]=Agente para posponer
Comment[fr]=Agent de répétition
Comment[he]=סוכן נודניק
Comment[ia]=Agente de Postponer  (dormettar)
Comment[ka]=ჩაჩუმების აგენტი
Comment[nl]=Agent voor indutten
Comment[pt_BR]=Agente de Adiamento
Comment[ru]=Агент отложенных писем
Comment[sl]=Agent za dremež
Comment[sv]=Uppskjutningsmodul
Comment[tr]=Erteleme aracısı
Comment[uk]=Агент відкладення
Type=AkonadiAgent
Exec=akonadi_snooze_agent
Icon=kmail
X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_snooze_agent
