[Desktop Entry]
Icon=kontact
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kontactsummary
X-KDE-FactoryName=kontactsummary
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary
X-KDE-Weight=1

Name=Summaries
Name[ar]=الملخّصات
Name[ast]=Sumarios
Name[bs]=Kratki sadržaji
Name[ca]=Resums
Name[ca@valencia]=Resums
Name[cs]=Souhrny
Name[da]=Oversigter
Name[de]=Übersichten
Name[el]=Συνόψεις
Name[en_GB]=Summaries
Name[es]=Resúmenes
Name[et]=Kokkuvõtted
Name[fi]=Yhteenvedot
Name[fr]=Résumés
Name[ga]=Achoimrí
Name[gl]=Resumos
Name[hu]=Áttekintők
Name[ia]=Summarios
Name[it]=Sommari
Name[ja]=要約
Name[kk]=Мазмұндамалар
Name[km]=សេចក្ដីសង្ខេប
Name[ko]=요약
Name[lt]=Santraukos
Name[lv]=Kopsavilkumi
Name[mr]=सारांश
Name[nb]=Sammendrag
Name[nds]=Tosamenfaten
Name[nl]=Overzichten
Name[nn]=Samandrag
Name[pa]=ਸੰਖੇਪ
Name[pl]=Podsumowania
Name[pt]=Resumos
Name[pt_BR]=Resumos
Name[ro]=Sumare
Name[ru]=Дайджесты
Name[sk]=Súhrny
Name[sl]=Povzetki
Name[sr]=Сажеци
Name[sr@ijekavian]=Сажеци
Name[sr@ijekavianlatin]=Sažeci
Name[sr@latin]=Sažeci
Name[sv]=Översikter
Name[th]=สรุป
Name[tr]=Özetler
Name[ug]=قىسقىچە مەزمۇنى
Name[uk]=Резюме
Name[wa]=Racourtis
Name[x-test]=xxSummariesxx
Name[zh_CN]=摘要
Name[zh_TW]=摘要
Comment=Summary Selection
Comment[ar]=اختيار الملخّصات
Comment[bs]=Odabir kratkih sadržaja
Comment[ca]=Selecció del resum
Comment[ca@valencia]=Selecció del resum
Comment[cs]=Výběr souhrnu
Comment[da]=Valg af oversigt
Comment[de]=Zusammenstellung der Übersicht
Comment[el]=Επιλογή σύνοψης
Comment[en_GB]=Summary Selection
Comment[es]=Selección de resumen
Comment[et]=Kokkuvõtete valik
Comment[fi]=Yhteenvedon valinta
Comment[fr]=Sélection des résumés
Comment[ga]=Roghnú Achoimrí
Comment[gl]=Selección de resumos
Comment[hu]=Áttekintőválasztó
Comment[ia]=Selection de summario
Comment[it]=Selezione sommario
Comment[ja]=表示する要約を選択
Comment[kk]=Мазмұндаманы таңдау
Comment[km]=ជម្រើស​សេចក្ដី​សង្ខេប
Comment[ko]=요약 선택
Comment[lt]=Santraukos pasirinkimas
Comment[lv]=Kopsavilkuma izvēle
Comment[mr]=सारांश निवड
Comment[nb]=Sammendragsutvalg
Comment[nds]=Tosamenfaten utsöken
Comment[nl]=Overzichtselectie
Comment[nn]=Samandragsutval
Comment[pa]=ਸੰਖੇਪ ਚੋਣ
Comment[pl]=Wybór podsumowania
Comment[pt]=Selecção de Resumos
Comment[pt_BR]=Seleção do resumo
Comment[ro]=Selecție sumar
Comment[ru]=Выбор дайджестов
Comment[sk]=Súhrnný výber
Comment[sl]=Izbira povzetkov
Comment[sr]=Избор сажетка
Comment[sr@ijekavian]=Избор сажетка
Comment[sr@ijekavianlatin]=Izbor sažetka
Comment[sr@latin]=Izbor sažetka
Comment[sv]=Översiktsval
Comment[th]=การเลือกรายงานสรุป
Comment[tr]=Özet Seçimi
Comment[uk]=Вибір резюме
Comment[wa]=Tchoes des racourtis
Comment[x-test]=xxSummary Selectionxx
Comment[zh_CN]=摘要选择
Comment[zh_TW]=摘要選取
