[Desktop Entry]
Type=Service
Icon=kontact
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_summaryplugin
X-KDE-KontactPluginVersion=10

X-KDE-PluginInfo-Name=kontact_summaryplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact SummaryView Plugin
Comment[af]=Kontact opsomming aansig inprop module
Comment[ar]=ملحقة «منظور الملخّصات» لِ‍«متراسلك»
Comment[bg]=Приставка за обобщен преглед
Comment[bs]=Kontakt IzgledRezimea Dodatak
Comment[ca]=Connector de la vista de resum del Kontact
Comment[ca@valencia]=Connector de la vista de resum del Kontact
Comment[cs]=Modul souhrnu pro aplikaci Kontact
Comment[cy]=Ategyn Golwg Grynodeb Kontact
Comment[da]=Kontact SummaryView-plugin
Comment[de]=Übersichts-Modul für Kontact
Comment[el]=Πρόσθετο προβολής σύνοψης του Kontact
Comment[en_GB]=Kontact SummaryView Plugin
Comment[es]=Complemento de vista de resumen para Kontact
Comment[et]=Kontakti kokkuvõttevaate plugin
Comment[eu]=Kontact-en SummaryView plugin-a
Comment[fa]=وصله نمای خلاصه Kontact
Comment[fi]=Kontactin yhteenvetonäkymän liitännäinen
Comment[fr]=Module de vue résumée pour Kontact
Comment[fy]=Kontact SummaryView-plugin
Comment[ga]=Breiseán Amharc Achoimre Kontact
Comment[gl]=Complemento de VistaResumo para Kontact
Comment[hu]=Kontact bővítőmodul a névjegyek áttekintéséhez
Comment[ia]=Plug-in pro Kontact SummaryView
Comment[is]=Kontact yfirlitssýnar íforrit
Comment[it]=Estensione vista sommario per Kontact 
Comment[ja]=Kontact 要約ビュープラグイン
Comment[ka]=Kontact დაიჯესტი
Comment[kk]=Kontact-тың іс мазмұндамасын қарау плагині
Comment[km]=កម្មវិធី​ជំនួយ​ទិដ្ឋភាព​សង្ខេប​ក្នុង Kontact
Comment[ko]=Kontact 요약 보기 플러그인
Comment[lt]=Kontact Santraukos vaizdo papildinys
Comment[lv]=Kontact kopsavilkuma skata spraudnis
Comment[mk]=Приклучок за преглед во Контакт
Comment[mr]=कॉन्टेक्ट सारांश दृश्य प्लगइन
Comment[ms]=Plugin Paparan Ringkasan Kontact 
Comment[nb]=Kontact programtillegg for sammendragsvisning
Comment[nds]=Översichtansicht-Moduul för Kontact
Comment[ne]=सारांश दृश्य प्लगइनमा सम्पर्क गर्नुहोस्
Comment[nl]=Kontact SummaryView-plug-in
Comment[nn]=Kontakt-tillegg for samandragsvising
Comment[pl]=Wtyczka Kontact do wyświetlania podsumowania
Comment[pt]='Plugin' do SummaryView do Kontact
Comment[pt_BR]=Plugin de Visualização do resumo do Kontact
Comment[ru]=Просмотр дайджеста
Comment[se]=Kontact, čoahkkáigeassočájeheami lassemoduvla
Comment[sk]=Modul súhrnu pre Kontact
Comment[sl]=Vstavek pogleda povzetkov za Kontact
Comment[sr]=Прикључак Контакта за приказ сажетка
Comment[sr@ijekavian]=Прикључак Контакта за приказ сажетка
Comment[sr@ijekavianlatin]=Priključak Kontacta za prikaz sažetka
Comment[sr@latin]=Priključak Kontacta za prikaz sažetka
Comment[sv]=Kontact-insticksprogram för översikt
Comment[ta]=சுருக்கக்காட்சி சொருகுப்பொருளை தொடர்புகொள்
Comment[tg]=Модули дайджести Kontact
Comment[tr]=Kontact Özet Gösterim Eklentisi
Comment[uk]=Додаток Kontact для перегляду резюме
Comment[wa]=Module del vuwe des racourtis di Kontact
Comment[x-test]=xxKontact SummaryView Pluginxx
Comment[zh_CN]=Kontact 摘要视图插件
Comment[zh_TW]=Kontact 摘要檢視外掛程式
Name=Summary
Name[af]=Opsomming
Name[ar]=الملخّص
Name[bg]=Summary
Name[br]=Diverrañ
Name[bs]=Rezime
Name[ca]=Resum
Name[ca@valencia]=Resum
Name[cs]=Souhrn
Name[cy]=Crynodeb
Name[da]=Oversigt
Name[de]=Übersicht
Name[el]=Σύνοψη
Name[en_GB]=Summary
Name[eo]=Resumo
Name[es]=Resumen
Name[et]=Kokkuvõte
Name[eu]=Laburpena
Name[fa]=خلاصه
Name[fi]=Yhteenveto
Name[fr]=Résumé
Name[fy]=Oersicht
Name[ga]=Achoimre
Name[gl]=Resumo
Name[he]=תקציר
Name[hu]=Áttekintő
Name[ia]=Summario
Name[is]=Yfirlit
Name[it]=Sommario
Name[ja]=要約
Name[ka]=დაიჯესტი
Name[kk]=Мазмұндама
Name[km]=សង្ខេប
Name[ko]=요약
Name[ku]=Kurte
Name[lt]=Santrauka
Name[lv]=Kopsavilkums
Name[mai]=सारांश
Name[mk]=Преглед
Name[mr]=सारांश
Name[ms]=Ringkasan
Name[nb]=Sammendrag
Name[nds]=Översicht
Name[ne]=सारांश
Name[nl]=Overzicht
Name[nn]=Samandrag
Name[pa]=ਸੰਖੇਪ
Name[pl]=Podsumowanie
Name[pt]=Resumo
Name[pt_BR]=Resumo
Name[ro]=Sumar
Name[ru]=Дайджест
Name[se]=Čoahkkáigeassu
Name[sk]=Súhrn
Name[sl]=Povzetek
Name[sr]=Сажетак
Name[sr@ijekavian]=Сажетак
Name[sr@ijekavianlatin]=Sažetak
Name[sr@latin]=Sažetak
Name[sv]=Översikt
Name[ta]=சுருக்கம்
Name[tg]=Дайджест
Name[th]=รายงานสรุป
Name[tr]=Özet
Name[ug]=ئۈزۈندى
Name[uk]=Резюме
Name[uz]=Hisobot
Name[uz@cyrillic]=Ҳисобот
Name[wa]=Racourti
Name[x-test]=xxSummaryxx
Name[zh_CN]=摘要
Name[zh_TW]=摘要
#Always last
InitialPreference=0
