[Desktop Entry]
Icon=accessories-text-editor
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmail
X-KDE-FactoryName=kmail_config_composer
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail
X-KDE-Weight=400
X-DocPath=kmail/index.html#configure-composer

Name=Composer
Name[af]=Composer
Name[ar]=المؤلف
Name[bg]=Редактор
Name[br]=Skridaozer
Name[bs]=Composer
Name[ca]=Editor
Name[ca@valencia]=Editor
Name[cs]=Editor
Name[cy]=Cyfansoddydd
Name[da]=Brevskriver
Name[de]=E-Mail-Editor
Name[el]=Σύνταξη μηνυμάτων
Name[en_GB]=Composer
Name[es]=Editor
Name[et]=Koostaja
Name[eu]=Editorea
Name[fa]=مؤلف
Name[fi]=Kirjoittaminen
Name[fr]=Éditeur
Name[fy]=Opsteller
Name[ga]=Cumadóir
Name[gl]=Compositor
Name[he]=עורך
Name[hu]=Szerkesztő
Name[ia]=Compositor
Name[is]=Composer
Name[it]=Compositore
Name[ja]=メール作成
Name[ka]=წერილების რედაქტორი
Name[kk]=Құрастарғыш
Name[km]=កម្មវិធី​តែង
Name[ko]=작성기
Name[lt]=Redaktorius
Name[lv]=Ziņu rakstītājs
Name[mk]=Составувач
Name[mr]=संपादक
Name[ms]=Penggubah
Name[nb]=Komposer
Name[nds]=Nettbreef-Editor
Name[ne]=कम्पोजर
Name[nl]=Opsteller
Name[nn]=Skrivevindauge
Name[oc]=Compositor
Name[pa]=ਕੰਪੋਜ਼ਰ
Name[pl]=Edytor
Name[pt]=Compositor
Name[pt_BR]=Compositor
Name[ro]=Compozitor
Name[ru]=Редактор писем
Name[se]=Čállinprográmma
Name[sk]=Editor správ
Name[sl]=Sestavljalnik
Name[sr]=Састављач
Name[sr@ijekavian]=Састављач
Name[sr@ijekavianlatin]=Sastavljač
Name[sr@latin]=Sastavljač
Name[sv]=Brevfönster
Name[ta]=கம்போசர்
Name[tg]=Муҳаррири мактубҳо
Name[th]=เขียนจดหมาย
Name[tr]=Düzenleyici
Name[ug]=مۇزىكىسىنى ئىشلىگۈچى
Name[uk]=Редактор листів
Name[wa]=Finiesse po scrire
Name[x-test]=xxComposerxx
Name[zh_CN]=撰写器
Name[zh_TW]=編寫器
Comment=Message Composer Settings
Comment[ar]=إعدادات مؤلف الرسائل
Comment[bs]=Postvake pisača poruka
Comment[ca]=Arranjament de l'editor de missatges
Comment[ca@valencia]=Arranjament de l'editor de missatges
Comment[cs]=Nastavení editoru zpráv
Comment[da]=Indstiling af brevskriver
Comment[de]=Einstellungen für den E-Mail-Editor
Comment[el]=Ρυθμίσεις σύνθεσης μηνύματος
Comment[en_GB]=Message Composer Settings
Comment[es]=Preferencias del editor de mensajes
Comment[et]=Kirjakoostaja seadistused
Comment[fi]=Viestimuokkaimen asetukset
Comment[fr]=Configuration de l'éditeur de messages
Comment[gl]=Configuracións do compositor de mensaxes
Comment[hu]=Az üzenetszerkesztő beállításai
Comment[ia]=Preferentias de compositor de messages
Comment[it]=Impostazioni compositore messaggi
Comment[ja]=メール作成の設定
Comment[kk]=Хат құрастарғышын баптау
Comment[km]=ការ​កំណត់​កម្មវិធី​តែង​សារ
Comment[ko]=메시지 작성기 설정
Comment[lt]=Laiškų rengyklės nustatymai
Comment[lv]=Vēstuļu rastītāja iestatījumi
Comment[mr]=संदेश संपादक संयोजना
Comment[nb]=Innstillinger for meldingskomposer
Comment[nds]=Narichteneditor instellen
Comment[nl]=Berichtenopsteller-instellingen
Comment[nn]=Innstillingar for skrivevindauge
Comment[pa]=ਸੁਨੇਹਾ ਕੰਪੋਜ਼ਰ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia kompozytora wiadomości
Comment[pt]=Configuração do Compositor de Mensagens
Comment[pt_BR]=Configurações do compositor de mensagens
Comment[ro]=Configurări compunere mesaj
Comment[ru]=Настройка редактора писем
Comment[sk]=Nastavenia editora správ
Comment[sl]=Nastavitve sestavljalnika sporočil
Comment[sr]=Поставке састављача порука
Comment[sr@ijekavian]=Поставке састављача порука
Comment[sr@ijekavianlatin]=Postavke sastavljača poruka
Comment[sr@latin]=Postavke sastavljača poruka
Comment[sv]=Inställningar av brevfönster
Comment[tr]=İleti Oluşturucu Ayarları
Comment[uk]=Параметри засобу створення повідомлень
Comment[wa]=Apontiaedjes del finiesse po scrire
Comment[x-test]=xxMessage Composer Settingsxx
Comment[zh_CN]=信件撰写器设置
Comment[zh_TW]=訊息編寫器設定
X-KDE-Keywords=kmail,composer
X-KDE-Keywords[bs]=kmail, composer
X-KDE-Keywords[ca]=kmail,editor
X-KDE-Keywords[ca@valencia]=kmail,editor
X-KDE-Keywords[da]=kmail,brevskriver
X-KDE-Keywords[de]=KMail,Komposer,Editor
X-KDE-Keywords[el]=kmail,σύνταξη
X-KDE-Keywords[en_GB]=kmail,composer
X-KDE-Keywords[es]=kmail,editor
X-KDE-Keywords[et]=kmail,koostaja
X-KDE-Keywords[fi]=kmail,composer, kirjoittaminen
X-KDE-Keywords[fr]=kmail,éditeur
X-KDE-Keywords[ga]=kmail,cumadóir
X-KDE-Keywords[gl]=kmail,compositor
X-KDE-Keywords[hu]=kmail,szerkesztő
X-KDE-Keywords[ia]=kmail,compositor
X-KDE-Keywords[it]=kmail,compositore
X-KDE-Keywords[kk]=kmail,composer
X-KDE-Keywords[km]=kmail កម្មវិធី​តែង
X-KDE-Keywords[ko]=kmail,composer,작성기
X-KDE-Keywords[lt]=kmail,redaktorius
X-KDE-Keywords[mr]=के-मेल,संपादक
X-KDE-Keywords[nb]=kmail,komposer
X-KDE-Keywords[nds]=KMail,Nettbreef-Editor
X-KDE-Keywords[nl]=kmail,opsteller
X-KDE-Keywords[pl]=kmail,edytor,kompozytor
X-KDE-Keywords[pt]=kmail,compositor
X-KDE-Keywords[pt_BR]=kmail,compositor
X-KDE-Keywords[ro]=komposer,compunere
X-KDE-Keywords[ru]=kmail,composer,письмо,создать
X-KDE-Keywords[sk]=kmail,editor
X-KDE-Keywords[sl]=kmail,sestavljalnik,sestavljanje
X-KDE-Keywords[sr]=kmail,composer,К‑пошта,састављач
X-KDE-Keywords[sr@ijekavian]=kmail,composer,К‑пошта,састављач
X-KDE-Keywords[sr@ijekavianlatin]=kmail,composer,K‑pošta,sastavljač
X-KDE-Keywords[sr@latin]=kmail,composer,K‑pošta,sastavljač
X-KDE-Keywords[sv]=kmail,brevfönster
X-KDE-Keywords[tr]=kmail,yeni e-posta yaz
X-KDE-Keywords[uk]=kmail,composer,редактор,лист,повідомлення
X-KDE-Keywords[wa]=kmail,compôzeu,finiesse po scrire,purnea po scrire,aspougneu des messaedjes
X-KDE-Keywords[x-test]=xxkmailxx,xxcomposerxx
X-KDE-Keywords[zh_CN]=kmail,composer,撰写器
X-KDE-Keywords[zh_TW]=kmail,composer
