[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmail
X-KDE-FactoryName=kmail_config_misc
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail
X-KDE-Weight=600
X-DocPath=kmail/index.html#configure-misc

Name=Misc
Name[af]=Allerlei
Name[ar]=متفرقات
Name[be]=Рознае
Name[bg]=Разни
Name[br]=A bep seurt
Name[bs]=Razno
Name[ca]=Miscel·lània
Name[ca@valencia]=Miscel·lània
Name[cs]=Různé
Name[cy]=Amrywiol
Name[da]=Diverse
Name[de]=Diverses
Name[el]=Διάφορα
Name[en_GB]=Misc
Name[es]=Varios
Name[eu]=Miszelanea
Name[fi]=Muut
Name[fr]=Divers
Name[fy]=Ferskate
Name[ga]=Éagsúil
Name[gl]=Diversos
Name[he]=כללי
Name[hu]=Egyéb
Name[ia]=Misc
Name[is]=Ýmislegt
Name[it]=Varie
Name[ja]=オプション
Name[ka]=სხვადასხვა
Name[kk]=Түрлі
Name[km]=ផ្សេងៗ
Name[ko]=기타
Name[lt]=Įvairūs
Name[lv]=Dažādi
Name[mai]=विविध
Name[mk]=Разно
Name[mr]=किरकोळ
Name[ms]=Pelbagai
Name[nb]=Div
Name[nds]=Anner Saken
Name[ne]=विविध
Name[nl]=Diversen
Name[nn]=Ymse
Name[pa]=ਫੁਟਕਲ
Name[pl]=Różne
Name[pt]=Diversos
Name[pt_BR]=Diversos
Name[ro]=Diverse
Name[ru]=Прочее
Name[se]=Feará mii
Name[sk]=Rôzne
Name[sl]=Razno
Name[sr]=Разно
Name[sr@ijekavian]=Разно
Name[sr@ijekavianlatin]=Razno
Name[sr@latin]=Razno
Name[sv]=Diverse
Name[ta]=இதர
Name[tg]=Ғайра
Name[th]=เบ็ดเตล็ด
Name[tr]=Çeşitli
Name[ug]=ئارىلاش
Name[uk]=Різне
Name[uz]=Har xil
Name[uz@cyrillic]=Ҳар хил
Name[wa]=Totès sôres
Name[x-test]=xxMiscxx
Name[zh_CN]=杂项
Name[zh_TW]=其他
Comment=Settings that don't fit elsewhere
Comment[af]=Opstelling wat nêrens anders pas nie
Comment[ar]=الإعدادات التي لا تندرج في أي مكان آخر
Comment[bg]=Разни настройки
Comment[bs]=Postavke koje ne idu nigdje drugo
Comment[ca]=Opcions que no van bé enlloc
Comment[ca@valencia]=Opcions que no van bé enlloc
Comment[cs]=Nastavení nehodící se jinam
Comment[da]=Indstillinger der ikke passer ind andre steder
Comment[de]=Verschiedene Einstellungen
Comment[el]=Ρυθμίσεις που δεν ταιριάζουν κάπου αλλού
Comment[en_GB]=Settings that don't fit elsewhere
Comment[eo]=Agordoj kiuj apartenas nenie alie
Comment[es]=Preferencias que no encajan en ningún otro sitio
Comment[eu]=Beste inon egokitzen ez diren ezarpenak
Comment[fa]=تنظیماتی که مناسب جای دیگر نیستند
Comment[fi]=Muut asetukset
Comment[fr]=Paramètres qui ne rentrent dans aucune autre catégorie
Comment[fy]=Ynstellings dy't eins nergens passe
Comment[ga]=Socruithe nach bhfuil oiriúnach in aon áit eile
Comment[gl]=Opcións que non cadran noutro sitio
Comment[he]=הגדרות שלא יכולות להיכנס למקום אחר
Comment[hu]=A máshová nem besorolható beállítások
Comment[ia]=Preferentias que non es in altere placias
Comment[is]=Stillingar sem passa ekki annars staðar
Comment[it]=Impostazioni che non rientrano in altre categorie
Comment[ja]=その他の設定
Comment[ka]=პარამეტრები,რომლებიც სხვას არ ერგება
Comment[kk]=Басқа параметрлері
Comment[km]=ការ​កំណត់​ដែល​មិន​ត្រូវ​នឹង​កន្លែង​ផ្សេង
Comment[ko]=어떤 곳에도 어울리지 않는 설정
Comment[lt]=Kiti nustatymai
Comment[lv]=Iestatījumi, kas citur neiederas
Comment[mk]=Поставувања што не се вклопуваат на друго место
Comment[mr]=कोठेही न बसणाऱ्या संयोजना
Comment[ms]=Seting yang tidak muat di tempat lain
Comment[nb]=Innstillinger som ikke passer andre steder
Comment[nds]=Verscheden Instellen
Comment[ne]=कतै पनि नमिल्ने सेटिङ
Comment[nl]=Instellingen die nergens echt passen
Comment[nn]=Innstillingar som ikkje passar andre stader
Comment[pa]=ਸੈਟਿੰਗ, ਜੋ ਹੋਰ ਕਿਤੇ ਫਿੱਟ ਨਾ ਆਵੇ
Comment[pl]=Ustawienia, które nie pasują gdzie indziej
Comment[pt]=Outras configurações
Comment[pt_BR]=Outras configurações
Comment[ro]=Configurări ce nu încap în altă parte
Comment[ru]=Параметры, не вошедшие в другие разделы
Comment[se]=Heivehusat mat eai heive eará báikkiin
Comment[sk]=Nastavenie, ktoré sa inam nehodí
Comment[sl]=Nastavitve, ki ne spadajo drugam
Comment[sr]=Поставке које не припадају другде
Comment[sr@ijekavian]=Поставке које не припадају другдје
Comment[sr@ijekavianlatin]=Postavke koje ne pripadaju drugdje
Comment[sr@latin]=Postavke koje ne pripadaju drugde
Comment[sv]=Inställningar som inte passar någon annanstans
Comment[ta]=அமைப்புகள் எந்த இடத்திலும் பொருந்தவில்லை
Comment[tg]=Дигар танзимотҳо
Comment[tr]=Diğer bölümlere uymayan yapılandırma seçenekleri
Comment[uk]=Інші параметри
Comment[wa]=Apontiaedjes k' on n' sait wice mete d' ôte
Comment[x-test]=xxSettings that don't fit elsewherexx
Comment[zh_CN]=其它设置
Comment[zh_TW]=不屬於任何其他地方的設定
X-KDE-Keywords=kmail,misc
X-KDE-Keywords[bs]=kmail, razno
X-KDE-Keywords[ca]=kmail,misc
X-KDE-Keywords[ca@valencia]=kmail,misc
X-KDE-Keywords[cs]=kmail,různé
X-KDE-Keywords[da]=kmail,diverse
X-KDE-Keywords[de]=KMail,Verschiedenes
X-KDE-Keywords[el]=kmail,διάφορα
X-KDE-Keywords[en_GB]=kmail,misc
X-KDE-Keywords[es]=kmail,miscelánea
X-KDE-Keywords[fi]=kmail,misc,muut
X-KDE-Keywords[fr]=kmail,divers
X-KDE-Keywords[ga]=kmail,éagsúil
X-KDE-Keywords[gl]=kmail,diversos
X-KDE-Keywords[hu]=kmail,egyéb
X-KDE-Keywords[ia]=kmail,misc
X-KDE-Keywords[it]=kmail,varie
X-KDE-Keywords[kk]=kmail,misc
X-KDE-Keywords[km]=kmail ផ្សេងៗ
X-KDE-Keywords[ko]=kmail,misc,기타
X-KDE-Keywords[lt]=kmail,įvairūs
X-KDE-Keywords[mr]=के-मेल,किरकोळ
X-KDE-Keywords[nb]=kmail,,div
X-KDE-Keywords[nds]=KMail,Anner
X-KDE-Keywords[nl]=kmail,overig
X-KDE-Keywords[pl]=kmail,rożne
X-KDE-Keywords[pt]=kmail,diversos
X-KDE-Keywords[pt_BR]=kmail,diversos
X-KDE-Keywords[ro]=kmail,diverse
X-KDE-Keywords[ru]=kmail,misc,прочее,другие
X-KDE-Keywords[sk]=kmail,rôzne
X-KDE-Keywords[sl]=kmail,razno
X-KDE-Keywords[sr]=kmail,misc,К‑пошта,разно
X-KDE-Keywords[sr@ijekavian]=kmail,misc,К‑пошта,разно
X-KDE-Keywords[sr@ijekavianlatin]=kmail,misc,K‑pošta,razno
X-KDE-Keywords[sr@latin]=kmail,misc,K‑pošta,razno
X-KDE-Keywords[sv]=kmail,diverse
X-KDE-Keywords[tr]=kmail,diğer
X-KDE-Keywords[uk]=kmail,misc,різне,інше
X-KDE-Keywords[wa]=kmail,totès sôres,totes sôres
X-KDE-Keywords[x-test]=xxkmail,miscxx
X-KDE-Keywords[zh_CN]=kmail,misc,杂项
X-KDE-Keywords[zh_TW]=kmail,misc
