[Desktop Entry]
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmail
X-KDE-FactoryName=kmail_config_appearance
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail
X-KDE-Weight=300
X-DocPath=kmail/index.html#configure-appearance

Name=Appearance
Name[af]=Appearance
Name[ar]=المظهر
Name[be]=Вонкавы выгляд
Name[bg]=Външен вид
Name[br]=Neuziadur
Name[bs]=Izgled
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[eo]=Prezentado
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Aparencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[ia]=Apparentia
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=იერსახე
Name[kk]=Сыртқы көрінісі
Name[km]=រូបរាង
Name[ko]=모양
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[mr]=दर्शनीयता
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sq]=Paraqitja
Name[sr]=Изглед
Name[sr@ijekavian]=Изглед
Name[sr@ijekavianlatin]=Izgled
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[ug]=كۆرۈنۈشى
Name[uk]=Вигляд
Name[uz]=Koʻrinishi
Name[uz@cyrillic]=Кўриниши
Name[wa]=Rivnance
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀
Comment=Customize Visual Appearance
Comment[af]=Pasmaak die visuele voorkoms
Comment[ar]=تخصيص المظهر المرئي
Comment[bg]=Настройки на външния вид
Comment[bs]=Prilagodi izgled
Comment[ca]=Personalitza l'aparença visual
Comment[ca@valencia]=Personalitza l'aparença visual
Comment[cs]=Nastavení vzhledu
Comment[cy]=Addasu Golwg
Comment[da]=Brugerindstil visuelt udseende
Comment[de]=Erscheinungsbild anpassen
Comment[el]=Προσαρμογή εμφάνισης
Comment[en_GB]=Customise Visual Appearance
Comment[es]=Personalizar la apariencia visual
Comment[et]=Välimuse seadistused
Comment[eu]=Pertsonalizatu itxura
Comment[fa]=سفارشی کردن ظاهر تصویری
Comment[fi]=Mukauta ulkoasua
Comment[fr]=Personnalisation de l'apparence
Comment[fy]=It uterlik oanpasse
Comment[ga]=Saincheap an Chuma
Comment[gl]=Personalizar a aparencia visual
Comment[he]=הגדרת מראה
Comment[hu]=A grafikai megjelenés testreszabása
Comment[ia]=Personalisa le apparentia visual
Comment[is]=Stilla útlit
Comment[it]=Personalizza l'aspetto
Comment[ja]=外観をカスタマイズ
Comment[ka]=ვიზუალური იერსახის დაყენება
Comment[kk]=Сыртқы көрінісін ыңғайлау
Comment[km]=ប្ដូរ​រូបរាង​មើល​ឃើញ​តាម​បំណង
Comment[ko]=보이는 모양 사용자 정의
Comment[lt]=Derinti vizualinę išvaizdą
Comment[lv]=Pielāgot izskatu
Comment[mk]=Приспособете ја визуелната појава
Comment[mr]=दर्शनीयतेत ऐच्छिक बदल करा
Comment[ms]=Suaikan Rupa Visual
Comment[nb]=Tilpass visuelt utseende
Comment[nds]=Utsehn topassen
Comment[ne]=दृश्यात्मक मोहडा अनुकूल गर्नुहोस्
Comment[nl]=Pas het uiterlijk aan
Comment[nn]=Tilpass utsjånad
Comment[pa]=ਦਿੱਖ ਕਸਟਮਾਈਜ਼ ਕਰੋ
Comment[pl]=Zmiana wyglądu
Comment[pt]=Personalizar a Aparência Visual
Comment[pt_BR]=Personaliza a aparência visual
Comment[ro]=Personalizează aspectul vizual
Comment[ru]=Настройка внешнего вида
Comment[se]=Heivet fárdda
Comment[sk]=Prispôsobenie vzhľadu
Comment[sl]=Prilagodi videz
Comment[sr]=Прилагодите изглед
Comment[sr@ijekavian]=Прилагодите изглед
Comment[sr@ijekavianlatin]=Prilagodite izgled
Comment[sr@latin]=Prilagodite izgled
Comment[sv]=Anpassa visuellt uppträdande
Comment[ta]=பார்க்கும் தோற்றத்தை தனிபயனாக்கு
Comment[tg]=Танзимоти намуди зоҳирӣ
Comment[th]=ปรับแต่งรูปลักษณ์ที่เห็นด้วยตนเอง
Comment[tr]=Görsel Görünümü Özelleştir
Comment[uk]=Налаштування зовнішнього вигляду
Comment[wa]=Mete li rivnance veyåve a vosse môde
Comment[x-test]=xxCustomize Visual Appearancexx
Comment[zh_CN]=自定义视觉外观
Comment[zh_TW]=調整視覺顯示
X-KDE-Keywords=kmail,appearance
X-KDE-Keywords[bs]=kmail, izgled
X-KDE-Keywords[ca]=kmail,aparença
X-KDE-Keywords[ca@valencia]=kmail,aparença
X-KDE-Keywords[cs]=kmail,vzhled
X-KDE-Keywords[da]=kmail,udseende
X-KDE-Keywords[de]=KMail,Erscheinungsbild
X-KDE-Keywords[el]=kmail,εμφάνιση
X-KDE-Keywords[en_GB]=kmail,appearance
X-KDE-Keywords[es]=kmail,apariencia
X-KDE-Keywords[et]=kmail,välimus
X-KDE-Keywords[fi]=kmail,appearance,ulkoasu
X-KDE-Keywords[fr]=kmail,apparence
X-KDE-Keywords[ga]=kmail,cuma
X-KDE-Keywords[gl]=kmail,aparencia
X-KDE-Keywords[hu]=kmail,megjelenés
X-KDE-Keywords[ia]=kmail,apparentia
X-KDE-Keywords[it]=kmail,aspetto
X-KDE-Keywords[kk]=kmail,appearance
X-KDE-Keywords[km]=kmail រូបរាង
X-KDE-Keywords[ko]=kmail,appearance,모양
X-KDE-Keywords[lt]=kmail,išvaizda
X-KDE-Keywords[mr]=के-मेल,दर्शनीयता
X-KDE-Keywords[nb]=kmail,utseende
X-KDE-Keywords[nds]=KMail,Utsehn
X-KDE-Keywords[nl]=kmail,uiterlijk
X-KDE-Keywords[pl]=kmail,wygląd
X-KDE-Keywords[pt]=kmail,aparência
X-KDE-Keywords[pt_BR]=kmail,aparência
X-KDE-Keywords[ro]=kmail,aspect
X-KDE-Keywords[ru]=kmail,appearance,внешний вид
X-KDE-Keywords[sk]=kmail,vzhľad
X-KDE-Keywords[sl]=kmail,videz,izgled
X-KDE-Keywords[sr]=kmail,appearance,К‑пошта,изглед
X-KDE-Keywords[sr@ijekavian]=kmail,appearance,К‑пошта,изглед
X-KDE-Keywords[sr@ijekavianlatin]=kmail,appearance,K‑pošta,izgled
X-KDE-Keywords[sr@latin]=kmail,appearance,K‑pošta,izgled
X-KDE-Keywords[sv]=kmail,utseende
X-KDE-Keywords[tr]=kmail,görünüm
X-KDE-Keywords[uk]=kmail,appearance,вигляд
X-KDE-Keywords[wa]=kmail,rivnance
X-KDE-Keywords[x-test]=xxkmail,appearancexx
X-KDE-Keywords[zh_CN]=kmail,appearance,外观
X-KDE-Keywords[zh_TW]=kmail,appearance
