[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=sendto;

[Desktop Action sendto]
Icon=kmail
Name=Send as Email Attachment
Name[bs]=Pošalji kao dodatak elektronske pošte
Name[ca]=Envia com a adjunt a correu
Name[ca@valencia]=Envia com a adjunt a correu
Name[cs]=Odeslat jako přílohu emailu
Name[da]=Send som bilag til e-mail
Name[de]=Als E-Mail-Anhang versenden
Name[el]=Αποστολή μέσω αλληλογραφίας
Name[en_GB]=Send as Email Attachment
Name[es]=Enviar como adjunto de correo
Name[fi]=Lähetä sähköpostin liitteenä
Name[fr]=Envoyer par courriel en pièce jointe
Name[gl]=Enviar como anexo de correo
Name[hu]=Küldés e-mail mellékletként
Name[ia]=Invia como attachamento de e-posta
Name[it]=Invia come allegato di posta elettronica
Name[kk]=Эл.пошта тіркемесі қылып жіберу
Name[km]=ផ្ញើ​ជា​ឯកសារ​ភ្ជាប់​អ៊ីមែល
Name[ko]=메일 첨부 파일로 보내기
Name[lt]=Išsiųsti kaip el. laiško priedą
Name[mr]=इमेल अटॅचमेंट द्वारे पाठवा
Name[nb]=Send som e-postvedlegg
Name[nds]=As Nettpostbilaag loosstüern
Name[nl]=Als e-mailbijlage verzenden
Name[pl]=Wyślij jako załącznik poczty
Name[pt]=Enviar como Anexo do E-Mail
Name[pt_BR]=Enviar como anexo de e-mail
Name[ro]=Trimite ca atașament la scrisoare
Name[ru]=Отправить как вложение
Name[sk]=Poslať ako prílohu e-mailu.
Name[sl]=Pošlji kot prilogo sporočilu
Name[sr]=Пошаљи као прилог е‑поште
Name[sr@ijekavian]=Пошаљи као прилог е‑поште
Name[sr@ijekavianlatin]=Pošalji kao prilog e‑pošte
Name[sr@latin]=Pošalji kao prilog e‑pošte
Name[sv]=Skicka som e-postbilaga
Name[tr]=E-posta Eki Olarak Gönder
Name[uk]=Надіслати у долученні до листа
Name[wa]=Evoyî come ataetchmint a èn emile
Name[x-test]=xxSend as Email Attachmentxx
Name[zh_CN]=作为电子邮件附件发送
Name[zh_TW]=以電子郵件附件傳送
Exec=kmail --attach %F
