[Desktop Entry]
Name=KMail
Name[af]=KMail
Name[ar]=برنامج البريد KMail
Name[be]=KMail
Name[bg]=KMail
Name[br]=KMail
Name[bs]=KMail
Name[ca]=KMail
Name[ca@valencia]=KMail
Name[cs]=KMail
Name[cy]=KMail
Name[da]=KMail
Name[de]=KMail
Name[el]=KMail
Name[en_GB]=KMail
Name[eo]=Retpoŝto
Name[es]=KMail
Name[et]=KMail
Name[eu]=KMail
Name[fi]=KMail
Name[fr]=KMail
Name[fy]=KMail
Name[ga]=KMail
Name[gl]=KMail
Name[he]=KMail
Name[hr]=KMail
Name[hu]=KMail
Name[ia]=KMail
Name[is]=KMail
Name[it]=KMail
Name[ja]=KMail
Name[ka]=KMail
Name[kk]=KMail
Name[km]=KMail
Name[ko]=KMail
Name[lt]=KMail
Name[lv]=KMail
Name[mai]=KMail
Name[mk]=КПошта
Name[mr]=के-मेल
Name[ms]=KMail
Name[nb]=KMail
Name[nds]=KMail
Name[ne]=केडीई पत्र
Name[nl]=KMail
Name[nn]=KMail
Name[pa]=ਕੇ-ਮੇਲ
Name[pl]=KMail
Name[pt]=KMail
Name[pt_BR]=KMail
Name[ro]=KMail
Name[ru]=KMail
Name[se]=KMail
Name[sk]=KMail
Name[sl]=KMail
Name[sr]=К‑пошта
Name[sr@ijekavian]=К‑пошта
Name[sr@ijekavianlatin]=K‑pošta
Name[sr@latin]=K‑pošta
Name[sv]=Kmail
Name[ta]=Kஅஞ்சல்
Name[tg]=KMail
Name[th]=จัดการจดหมาย K
Name[tr]=KMail
Name[ug]=KMail
Name[uk]=KMail
Name[uz]=KMail
Name[uz@cyrillic]=KMail
Name[vi]=KMail
Name[wa]=KMail
Name[xh]=KMail
Name[x-test]=xxKMailxx
Name[zh_CN]=KMail
Name[zh_TW]=郵件管理_KMail
Type=Application
Exec=kmail -caption %c %u
Icon=kmail
X-DocPath=kmail/index.html
GenericName=Mail Client
GenericName[af]=E-pos kliënt
GenericName[ar]=عميل البريد
GenericName[be]=Паштовы кліент
GenericName[bg]=Пощенски клиент
GenericName[br]=Kliant postel
GenericName[bs]=Klijent pošte
GenericName[ca]=Client de correu
GenericName[ca@valencia]=Client de correu
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης αλληλογραφίας
GenericName[en_GB]=Mail Client
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo
GenericName[et]=E-posti klient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارخواه‌نامه
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de courriel
GenericName[fy]=E-portclient
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[he]=לקוח דוא"ל
GenericName[hr]=Program za elektronsku poštu
GenericName[hu]=Levelezőprogram
GenericName[ia]=Cliente de e-posta
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტის კლიენტი
GenericName[kk]=Эл.пошта клиенті
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[ko]=이메일 클라이언트
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta klients
GenericName[mai]=डाकिया
GenericName[mk]=Клиент за електронска пошта
GenericName[mr]=मेल ग्राहक
GenericName[ms]=Pelanggan Mel
GenericName[nb]=E-postklient
GenericName[nds]=Nettpostprogramm
GenericName[ne]=पत्र क्लाइन्ट
GenericName[nl]=E-mailclient
GenericName[nn]=E-postprogram
GenericName[pa]=ਮੇਲ ਕਲਾਇਟ
GenericName[pl]=Program pocztowy
GenericName[pt]=Cliente de E-mail
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Client de poștă
GenericName[ru]=Почтовый клиент
GenericName[se]=E-boastaprográmma
GenericName[sk]=Poštový klient
GenericName[sl]=Poštni odjemalec
GenericName[sr]=Поштански клијент
GenericName[sr@ijekavian]=Поштански клијент
GenericName[sr@ijekavianlatin]=Poštanski klijent
GenericName[sr@latin]=Poštanski klijent
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் பயனர்
GenericName[tg]=Клиенти почтавӣ
GenericName[th]=ไคลเอนต์จัดการจดหมาย
GenericName[tr]=E-Posta İstemcisi
GenericName[ug]=خەت خېرىدارى
GenericName[uk]=Поштовий клієнт
GenericName[uz]=Xat-xabar klienti
GenericName[uz@cyrillic]=Хат-хабар клиенти
GenericName[vi]=Mail Client
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[x-test]=xxMail Clientxx
GenericName[zh_CN]=邮件客户程序
GenericName[zh_TW]=收發信軟體
Comment=Send, receive and manage your mail with KMail
Comment[ca]=Envia, rep i administra el vostre correu amb el KMail
Comment[de]=Senden, empfangen und verwalten Ihrer E-Mails mit KMail
Comment[en_GB]=Send, receive and manage your mail with KMail
Comment[es]=Enviar, recibir y gestionar su correo con KMail
Comment[fi]=Lähetä, vastaanota ja hallitse postiasi KMaililla
Comment[fr]=Envoyez, recevez et gérez vos courriels avec KMail
Comment[gl]=Enviar, recibir e xestionar o correo con KMail.
Comment[it]=Invia, ricevi e gestisci la tua posta con KMail
Comment[nb]=Send. motta og hold styr på e-posten din med KMail
Comment[nl]=Verzend, ontvang en beheer uw e-mail met KMail
Comment[pl]=Wysyłaj, odbieraj i zarządzaj swoją pocztą z KMaila
Comment[pt]=Envie, receba e faça a gestão do seu correio com o KMail
Comment[pt_BR]=Envie, receba e gerencie seus e-mails com o KMail
Comment[sk]=Poslať, prijať a spravovať vašu poštu s KMail
Comment[sr]=Шаљите, примајте и управљајте поштом помоћу К‑поште
Comment[sr@ijekavian]=Шаљите, примајте и управљајте поштом помоћу К‑поште
Comment[sr@ijekavianlatin]=Šaljite, primajte i upravljajte poštom pomoću K‑pošte
Comment[sr@latin]=Šaljite, primajte i upravljajte poštom pomoću K‑pošte
Comment[sv]=Skicka, ta emot och hantera e-post med Kmail
Comment[tr]=E-postanızı KMail ile gönderin, alın ve yönetin
Comment[uk]=Надсилайте і отримуйте пошту та керуйте вашими поштовими повідомленнями за допомогою KMail
Comment[x-test]=xxSend, receive and manage your mail with KMailxx
Comment[zh_TW]=用 KMail 傳送、接收與管理您的郵件
Terminal=false
StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kmail
X-KDE-ServiceTypes=DBUS/Mailer
Categories=Qt;KDE;Office;Network;Email;
MimeType=x-scheme-handler/mailto;
InitialPreference=10
