[Desktop Entry]
Icon=kmail
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmailsummary
X-KDE-FactoryName=kmailsummary
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary
X-KDE-Weight=200

Name=New Messages
Name[ar]=رسائل جديدة
Name[be]=Новыя паведамленні
Name[bg]=MSN
Name[bs]=Nove poruke
Name[ca]=Missatges nous
Name[ca@valencia]=Missatges nous
Name[cs]=Nové zprávy
Name[da]=Nye breve
Name[de]=Neue Nachrichten
Name[el]=Νέα μηνύματα
Name[en_GB]=New Messages
Name[es]=Mensajes nuevos
Name[et]=Uued kirjad
Name[fa]=پیامهای جدید
Name[fi]=Uudet viestit
Name[fr]=Nouveaux messages
Name[ga]=Teachtaireachtaí Nua
Name[gl]=Mensaxes novas
Name[hu]=Új üzenetek
Name[ia]=Nove messages
Name[it]=Nuovi messaggi
Name[ja]=未読メッセージ
Name[kk]=Жаңа хаттар
Name[km]=សារ​ថ្មី
Name[ko]=새 메시지
Name[lt]=Nauji laiškai
Name[lv]=Jaunas vēstules
Name[mr]=नवीन संदेश
Name[nb]=Nye meldinger
Name[nds]=Nieg Narichten
Name[ne]=नयाँ सन्देश
Name[nl]=Nieuwe berichten
Name[nn]=Nye meldingar
Name[pa]=ਨਵੇਂ ਸੁਨੇਹੇ
Name[pl]=Nowe wiadomości
Name[pt]=Novas Mensagens
Name[pt_BR]=Novas mensagens
Name[ro]=Mesaje noi
Name[ru]=Новые письма
Name[sk]=Nové správy
Name[sl]=Nova sporočila
Name[sr]=Нове поруке
Name[sr@ijekavian]=Нове поруке
Name[sr@ijekavianlatin]=Nove poruke
Name[sr@latin]=Nove poruke
Name[sv]=Nya brev
Name[th]=จดหมายใหม่
Name[tr]=Yeni İletiler
Name[ug]=يېڭى ئۇچۇرلار
Name[uk]=Нові повідомлення
Name[wa]=Noveas messaedjes
Name[x-test]=xxNew Messagesxx
Name[zh_CN]=新邮件
Name[zh_TW]=新訊息
Comment=Mail Summary Setup
Comment[af]=Pos opsomming opstelling
Comment[ar]=إعداد ملخّص البريد
Comment[bg]=Настройки на обобщението на писмата
Comment[bs]=Postavke kratkog sadržaja elektronske pošte
Comment[ca]=Configuració del resum pel correu
Comment[ca@valencia]=Configuració del resum pel correu
Comment[cs]=Nastavení souhrnu pošty
Comment[da]=Opsætning af postoversigt
Comment[de]=Mailübersicht-Einstellungen
Comment[el]=Ρύθμιση σύνοψης αλληλογραφίας
Comment[en_GB]=Mail Summary Setup
Comment[es]=Configuración del resumen de correo
Comment[et]=E-posti kokkuvõtte seadistus
Comment[eu]=Postaren laburpenaren konfigurazioa
Comment[fa]=برپایی خلاصه نامه
Comment[fi]=Sähköpostiyhteenvedon asetukset
Comment[fr]=Configuration du résumé du courriel
Comment[fy]=E-post oersichts-ynstellings
Comment[ga]=Socrú Achoimre ar Ríomhphost
Comment[gl]=Configuración do resumo de correo
Comment[he]=הגדרות תקציר דוא"ל
Comment[hu]=A levelek áttekintésének beállításai
Comment[ia]=Configuration de summario de posta
Comment[is]=Uppsetning póstyfirlits
Comment[it]=Impostazioni sommario posta
Comment[ja]=メール要約の設定
Comment[ka]=ფოსტის დაიჯესტის კონფიგურაცია
Comment[kk]=Пошта қортындысын баптау
Comment[km]=រៀបចំ​សេចក្ដី​សង្ខេប​សំបុត្រ
Comment[ko]=메일 요약 설정
Comment[lt]=Pašto santraukos nuostatos
Comment[lv]=Pasta kopsavilkuma iestatījumi
Comment[mk]=Поставување на преглед за е-пошта
Comment[mr]=मेल सारांश संयोजना
Comment[ms]=Setup Ringkasan Mel 
Comment[nb]=E-post sammendragsoppsett
Comment[nds]=Nettpost-Översicht instellen
Comment[ne]=पत्र सारांश सेटअप
Comment[nl]=E-mail Overzichts-instellingen
Comment[nn]=Oppsett av e-postsamandrag
Comment[pa]=ਮੇਲ ਸੰਖੇਪ ਸੈਟਅੱਪ
Comment[pl]=Ustawienia podsumowania poczty
Comment[pt]=Configuração do Resumo de E-mail
Comment[pt_BR]=Configuração do resumo de mensagens
Comment[ro]=Configurare Sumar poștă
Comment[ru]=Настройка дайджеста почты
Comment[se]=Heivet e-boastačoahkkáigeasu
Comment[sk]=Nastavenie súhrnu pošty
Comment[sl]=Nastavitve povzetka pošte
Comment[sr]=Подешавање сажетка поште
Comment[sr@ijekavian]=Подешавање сажетка поште
Comment[sr@ijekavianlatin]=Podešavanje sažetka pošte
Comment[sr@latin]=Podešavanje sažetka pošte
Comment[sv]=Inställning av postöversikt
Comment[ta]=அஞ்சல் சுருக்க அமைப்பு
Comment[tg]=Танзимоти дайджести почта
Comment[th]=ตั้งค่าส่วนสรุปจดหมาย
Comment[tr]=E-posta Özeti Yapılandırması
Comment[uk]=Налаштування підсумку пошти
Comment[wa]=Apontiaedje do racourti des messaedjes
Comment[x-test]=xxMail Summary Setupxx
Comment[zh_CN]=邮件摘要设置
Comment[zh_TW]=郵件摘要設定
X-KDE-Keywords=email, summary, configure, settings
X-KDE-Keywords[ar]=email,summary,configure,settings,بريد,ملخص,ضبط,إعداد,إعدادات
X-KDE-Keywords[bs]=elektronska pošta, rezime, konfiguriranje, postavke
X-KDE-Keywords[ca]=correu electrònic, resum, configura, arranjament
X-KDE-Keywords[ca@valencia]=correu electrònic, resum, configura, arranjament
X-KDE-Keywords[da]=e-mail, oversigt, indstil, indstillinger
X-KDE-Keywords[de]=E-Mail,email,Übersicht,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen
X-KDE-Keywords[el]=αλληλογραφία, σύνοψη, διαμόρφωση, ρυθμίσεις
X-KDE-Keywords[en_GB]=email, summary, configure, settings
X-KDE-Keywords[es]=correo, resumen, configurar, preferencias
X-KDE-Keywords[et]=e-post, meil, kokkuvõte, seadistamine, seadistused
X-KDE-Keywords[fi]=email, sähköposti, summary, yhteenveto, configure, settings, asetukset
X-KDE-Keywords[fr]=courriel,résumé,configuration,paramètres
X-KDE-Keywords[ga]=ríomhphost, achoimre, cumraigh, socruithe
X-KDE-Keywords[gl]=correo, resumo, configurar, opcións
X-KDE-Keywords[hu]=e-mail, összegzés, beállítás, beállítások
X-KDE-Keywords[ia]=e-posta,summario,configura,preferentias
X-KDE-Keywords[it]=posta elettronica, sommario, configurazione, impostazioni
X-KDE-Keywords[kk]=email, summary, configure, settings
X-KDE-Keywords[km]=អ៊ីមែល សង្ខេប កំណត់​រចនាសម្ព័ន្ធ កំណត់
X-KDE-Keywords[ko]=email, summary, configure, settings, 이메일, 요약, 설정
X-KDE-Keywords[lt]=el. paštas, santrauka, konfigūruoti, nuostatos
X-KDE-Keywords[mr]=इमेल, सारांश, संयोजना, संयोजना
X-KDE-Keywords[nb]=e-post,sammendrag,oppsett,innstillinger
X-KDE-Keywords[nds]=Nettbreev,Nettpost,Tosamenfaten,instellen,inrichten
X-KDE-Keywords[nl]=e-mail, samenvatting, instellen, instellingen
X-KDE-Keywords[pl]=email, podsumowanie, konfiguruj, ustawienia
X-KDE-Keywords[pt]=e-mail, resumo, configurar, configuração
X-KDE-Keywords[pt_BR]=e-mail,resumo,configurar,configurações
X-KDE-Keywords[ro]=email, poștă, sumar, configurare, setări, opțiuni
X-KDE-Keywords[ru]=email,summary,configure,settings,настройки,сводка,почта
X-KDE-Keywords[sk]=email, súhrn, nastaviť, nastavenia
X-KDE-Keywords[sl]=e-pošta,pošta,povzetek,nastavi,nastavitve
X-KDE-Keywords[sr]=email,summary,configure,settings,е‑пошта,сажетак,подешавање,подесити,поставке
X-KDE-Keywords[sr@ijekavian]=email,summary,configure,settings,е‑пошта,сажетак,подешавање,подесити,поставке
X-KDE-Keywords[sr@ijekavianlatin]=email,summary,configure,settings,e‑pošta,sažetak,podešavanje,podesiti,postavke
X-KDE-Keywords[sr@latin]=email,summary,configure,settings,e‑pošta,sažetak,podešavanje,podesiti,postavke
X-KDE-Keywords[sv]=e-post, sammanfattning, anpassa, inställningar
X-KDE-Keywords[tr]=e-posta, özet, yapılandır, ayarlar
X-KDE-Keywords[uk]=email,summary,configure,settings,пошта,поштовий,резюме,підсумок,налаштувати,налаштування,параметри
X-KDE-Keywords[wa]=emile, racourti, apontyî, tchuzes, apontiaedjes, apontiaedje
X-KDE-Keywords[x-test]=xxemailxx,xx summaryxx,xx configurexx,xx settingsxx
X-KDE-Keywords[zh_CN]=email, summary, configure, settings, 电子邮件, 摘要, 配置, 设置
X-KDE-Keywords[zh_TW]=email, summary, configure, settings
