[Desktop Entry]
Type=Service
Icon=view-pim-mail
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_kmailplugin
X-KDE-KontactPluginVersion=10
X-KDE-KontactPartLibraryName=kmailpart
X-KDE-KontactPartExecutableName=kmail
X-KDE-KontactPartLoadOnStart=true
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=https://kontact.kde.org/components/kmail.html
X-KDE-PluginInfo-Name=kontact_kmailplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KMail Plugin
Comment[af]=Kontact kMail inprop module
Comment[ar]=ملحقة «بريدك» لِ‍«متراسلك»
Comment[be]=Утулка Kontact KMail
Comment[bg]=Приставка връзка между пощата и адресника
Comment[br]=Lugent Kontact KMail
Comment[bs]=Kontakt KMail Dodatak
Comment[ca]=Connector del KMail per al Kontact
Comment[ca@valencia]=Connector del KMail pel Kontact
Comment[cs]=Modul KMailu pro aplikaci Kontact
Comment[cy]=Ategyn KMail Kontact
Comment[da]=Kontact KMail-plugin
Comment[de]=KMail-Modul für Kontact
Comment[el]=Πρόσθετο KMail του Kontact
Comment[en_GB]=Kontact KMail Plugin
Comment[eo]=Kontact-KMail-kromaĵo
Comment[es]=Complemento de KMail para Kontact
Comment[et]=Kontacti KMaili plugin
Comment[eu]=Kontact-en KMail plugin-a
Comment[fa]=وصله Kontact KMail
Comment[fi]=Kontactin KMail-liitännäinen
Comment[fr]=Module KMail pour Kontact
Comment[fy]=Kontact KMail-plugin
Comment[ga]=Breiseán KMail le haghaidh Kontact
Comment[gl]=Complemento de KMail para Kontact
Comment[he]=תוסף KMail ל-Kontact
Comment[hu]=Kontact KMail-bővítőmodul
Comment[ia]=Plug-in pro Kontact KMail
Comment[is]=Kontact KMail íforrit
Comment[it]=Estensione per Kontact di KMail
Comment[ja]=Kontact KMail プラグイン
Comment[ka]=Kontact KMail მოდული
Comment[kk]=Kontact-тың KMail плагині
Comment[km]=កម្មវិធី​ជំនួយ KMail ក្នុង Kontact
Comment[ko]=Kontact KMail 플러그인
Comment[lt]=Kontact KMail papildinys
Comment[lv]=Kontact KMail spraudnis
Comment[mk]=Приклучок за КПошта во Контакт
Comment[mr]=कॉन्टेक्ट के-मेल प्लगइन
Comment[ms]=Plugin KMail Kontact 
Comment[nb]=Kontact programtillegg for KMail
Comment[nds]=KMail-Moduul för Kontact
Comment[ne]=केडीई मेल प्लगइन सम्पर्क गर्नुहोस्
Comment[nl]=Kontact KMail-plug-in
Comment[nn]=Kontakt-programtillegg for KMail
Comment[pa]=ਸੰਪਰਕ ਕੇਮੇਲ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Kontact do współpracy z KMail
Comment[pt]='Plugin' do KMail para o Kontact
Comment[pt_BR]=Plugin do KMail para o Kontact
Comment[ro]=Modul KMail pentru Kontact
Comment[ru]=Почта
Comment[se]=Kontackt, KMail-lassemoduvla
Comment[sk]=Kontact KMail Plugin
Comment[sl]=Vstavek KMail za Kontact
Comment[sr]=Прикључак Контакта за К‑пошту
Comment[sr@ijekavian]=Прикључак Контакта за К‑пошту
Comment[sr@ijekavianlatin]=Priključak Kontacta za K‑poštu
Comment[sr@latin]=Priključak Kontacta za K‑poštu
Comment[sv]=Kontact-insticksprogram för Kmail
Comment[ta]=கேஅஞ்சல் சொருகுப்பொருளை தொடர்பு கொள்
Comment[tg]=Модули Kontact барои дастрасӣ барои KMail
Comment[tr]=Kontact KMail Eklentisi
Comment[uk]=Додаток електронної пошти Kontact
Comment[uz]=Kontact uchun KMail plagini
Comment[uz@cyrillic]=Kontact учун KMail плагини
Comment[wa]=Module KMail di Kontact
Comment[x-test]=xxKontact KMail Pluginxx
Comment[zh_CN]=Kontact KMail 插件
Comment[zh_TW]=Kontact KMail 外掛程式
Name=Mail
Name[af]=Pos
Name[ar]=البريد
Name[be]=Пошта
Name[bg]=Mail
Name[br]=Lizher
Name[bs]=Elektronska pošta
Name[ca]=Correu
Name[ca@valencia]=Correu
Name[cs]=Pošta
Name[cy]=Ebost
Name[da]=E-mail
Name[de]=E-Mail
Name[el]=Αλληλογραφία
Name[en_GB]=Mail
Name[eo]=Retpoŝto
Name[es]=Correo
Name[et]=E-post
Name[eu]=Posta
Name[fa]=نامه
Name[fi]=Sähköposti
Name[fr]=Messages
Name[fy]=E-post
Name[ga]=Ríomhphost
Name[gl]=Correo electrónico
Name[he]=דוא"ל
Name[hr]=Pošta
Name[hu]=E-mail
Name[ia]=Posta
Name[is]=Póstur
Name[it]=Posta
Name[ja]=メール
Name[ka]=ფოსტა
Name[kk]=Пошта
Name[km]=សំបុត្រ
Name[ko]=이메일
Name[lt]=Paštas
Name[lv]=Pasts
Name[mai]=डाक
Name[mk]=Е-пошта
Name[mr]=मेल
Name[ms]=Mel
Name[nb]=E-post
Name[nds]=Nettpost
Name[ne]=पत्र
Name[nl]=E-mail
Name[nn]=E-post
Name[pa]=ਮੇਲ
Name[pl]=Poczta
Name[pt]=E-mail
Name[pt_BR]=E-mail
Name[ro]=Poștă
Name[ru]=Почта
Name[se]=E-boasta
Name[sk]=Pošta
Name[sl]=Pošta
Name[sr]=Пошта
Name[sr@ijekavian]=Пошта
Name[sr@ijekavianlatin]=Pošta
Name[sr@latin]=Pošta
Name[sv]=Brev
Name[ta]=அஞ்சல்
Name[tg]=Мактуб
Name[th]=จดหมาย
Name[tr]=E-Posta
Name[ug]=خەت
Name[uk]=Пошта
Name[uz]=Xat-xabar
Name[uz@cyrillic]=Хат-хабар
Name[wa]=Emile
Name[x-test]=xxMailxx
Name[zh_CN]=邮寄
Name[zh_TW]=郵件
