[Filter #0]
Applicability=0
AutomaticName=false
ConfigureShortcut=false
ConfigureToolbar=false
Icon=
StopProcessingHere=true
ToolbarName=<<tag>>: AllOf
accounts-set=
actions=0
apply-on=check-mail,manual-filtering
contentsA=Uebercool
contentsB=Cool
fieldA=<tag>
fieldB=<tag>
funcA=contains
funcB=contains
name=<<tag>>: AllOf
operator=and
rules=2
