[Filter #0]
Applicability=0
AutomaticName=false
ConfigureShortcut=false
ConfigureToolbar=false
Icon=
StopProcessingHere=true
ToolbarName=match to exactly
accounts-set=
actions=0
apply-on=check-mail,manual-filtering
contentsA=vkrause@kde.org
fieldA=To
funcA=equals
name=match to exactly
operator=and
rules=1

