[Filter #0]
Applicability=0
AutomaticName=false
ConfigureShortcut=false
ConfigureToolbar=false
Icon=
StopProcessingHere=true
ToolbarName=<<tag>>: TestTag
accounts-set=
actions=0
apply-on=check-mail,manual-filtering
contentsA=TestTag
fieldA=<tag>
funcA=contains
name=<<tag>>: TestTag
operator=and
rules=1

