[Filter #0]
Applicability=0
AutomaticName=false
ConfigureShortcut=false
ConfigureToolbar=false
Icon=
StopProcessingHere=true
ToolbarName=<<status>>: Watched
accounts-set=
actions=0
apply-on=check-mail,manual-filtering
contentsA=Watched
fieldA=<status>
funcA=contains-not
name=<<status>>: Watched
operator=and
rules=1

