[Filter #0]
Applicability=0
AutomaticName=false
ConfigureShortcut=false
ConfigureToolbar=false
Icon=
StopProcessingHere=true
ToolbarName=<<recipients>>: kdab
accounts-set=
actions=0
apply-on=check-mail,manual-filtering
contentsA=kdab
fieldA=<recipients>
funcA=regexp
name=<<recipients>>: kdab
operator=and
rules=1

