[Filter #0]
Applicability=0
AutomaticName=true
ConfigureShortcut=false
ConfigureToolbar=false
Icon=
StopProcessingHere=true
ToolbarName=<Subject>: Test
accounts-set=
actions=0
apply-on=check-mail,manual-filtering
contentsA=Test
fieldA=Subject
funcA=contains
name=<Subject>: Test
operator=and
rules=1

