[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=DBUS/Mailer
Comment=Mail program with a D-Bus interface
Comment[ar]=برنامج البريد بواجهة D-Bus
Comment[bs]=Mail program sa D-Bus sučeljem
Comment[ca]=Un programa de correu amb una interfície de D-Bus
Comment[ca@valencia]=Un programa de correu amb una interfície de D-Bus
Comment[cs]=Poštovní program s DBUS rozhraním
Comment[da]=E-mail-program med en D-BUS-grænseflade
Comment[de]=E-Mail-Programm mit D-Bus-Schnittstelle
Comment[el]=Πρόγραμμα αλληλογραφίας με διασύνδεση D-Bus
Comment[en_GB]=Mail program with a D-Bus interface
Comment[es]=Programa de correo con una interfaz D-Bus
Comment[et]=E-posti rakendus D-Busi liidesega
Comment[fi]=D-Bus-rajapintainen sähköpostiohjelma
Comment[fr]=Programme de messagerie avec une interface D-Bus
Comment[ga]=Clár ríomhphoist a bhfuil comhéadan D-Bus aige
Comment[gl]=Programa de correo electrónico cunha interface D-BUS
Comment[hu]=Levelezőprogram D-Bus-os felülettel
Comment[ia]=Programma de e-posta con interfacie D-Bus
Comment[it]=Programma di posta con un'interfaccia D-Bus
Comment[ja]=D-Bus インターフェースを持つメールクライアント
Comment[kk]=DBUS интерфейсті пошта бағдарламасы
Comment[km]=កម្មវិធី​សំបុត្រ​ដែល​មាន​ចំណុច​ប្រទាក់ D-BUS
Comment[ko]=D-Bus 인터페이스를 사용하는 이메일 프로그램
Comment[lt]=Pašto programa su D-Bus sąsaja
Comment[lv]=Pasta programma ar D-BUS saskarni
Comment[mr]=DBus संवादासहीतचा मेल कार्यक्रम
Comment[nb]=E-postprogram med D-Bus-grensesnitt
Comment[nds]=Nettpostprogramm mit en D-Bus-Koppelsteed
Comment[nl]=E-mailprogramma met een D-Bus-interface
Comment[nn]=E-postprogram med eit D-Bus-grensesnitt
Comment[pa]=ਇੱਕ ਡੀਬੱਸ ਇੰਟਰਫੇਸ ਨਾਲ ਮੇਲ ਪਰੋਗਰਾਮ
Comment[pl]=Program pocztowy z interfejsem D-Bus
Comment[pt]=Um programa de correio electrónico com uma interface D-Bus
Comment[pt_BR]=Programa de e-mail com interface D-Bus
Comment[ro]=Program de poștă cu interfață D-Bus
Comment[ru]=Почтовый клиент с интерфейсом D-Bus
Comment[sk]=Poštový program s D-Bus rozhraním
Comment[sl]=Poštni program z vmesnikom D-Bus
Comment[sr]=Поштански програм са д‑бус сучељем
Comment[sr@ijekavian]=Поштански програм са д‑бус сучељем
Comment[sr@ijekavianlatin]=Poštanski program sa D‑Bus sučeljem
Comment[sr@latin]=Poštanski program sa D‑Bus sučeljem
Comment[sv]=E-postprogram med D-Bus gränssnitt
Comment[tr]=D-Bus arayüzü olan e-posta uygulaması
Comment[uk]=Програма ел. пошти з інтерфейсом D-Bus
Comment[wa]=Programe d' emilaedje avou ene eterface D-Bus
Comment[x-test]=xxMail program with a D-Bus interfacexx
Comment[zh_CN]=具有 D-BUS 接口的邮件程序
Comment[zh_TW]=有 D-Bus 介面的郵件程式
