[Desktop Entry]
Icon=security-high
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmail
X-KDE-FactoryName=kmail_config_security
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail
X-KDE-Weight=500
X-DocPath=kmail2/index.html#configure-security

Name=Security
Name[af]=Sekuriteit
Name[ar]=الأمن
Name[be]=Бяспека
Name[bg]=Сигурност
Name[br]=Surentez
Name[bs]=Sigurnost
Name[ca]=Seguretat
Name[ca@valencia]=Seguretat
Name[cs]=Bezpečnost
Name[cy]=Diogelwch
Name[da]=Sikkerhed
Name[de]=Sicherheit
Name[el]=Ασφάλεια
Name[en_GB]=Security
Name[eo]=Sekureco
Name[es]=Seguridad
Name[et]=Turvalisus
Name[eu]=Sekuritatea
Name[fa]=امنیت
Name[fi]=Turvallisuus
Name[fr]=Sécurité
Name[fy]=Feiligens
Name[ga]=Slándáil
Name[gl]=Seguranza
Name[he]=אבטחה
Name[hu]=Biztonság
Name[ia]=Securitate
Name[is]=Öryggi
Name[it]=Sicurezza
Name[ja]=セキュリティ
Name[ka]=უსაფრთხოება
Name[kk]=Қауіпсіздік
Name[km]=សុវត្ថិភាព
Name[ko]=보안
Name[lt]=Saugumas
Name[lv]=Drošība
Name[mai]=सुरक्षा
Name[mk]=Безбедност
Name[mr]=सुरक्षा
Name[ms]=Keselamatan
Name[nb]=Sikkerhet
Name[nds]=Sekerheit
Name[ne]=सुरक्षा
Name[nl]=Beveiliging
Name[nn]=Tryggleik
Name[pa]=ਸੁਰੱਖਿਆ
Name[pl]=Bezpieczeństwo
Name[pt]=Segurança
Name[pt_BR]=Segurança
Name[ro]=Securitate
Name[ru]=Безопасность
Name[se]=Sihkarvuohta
Name[sk]=Zabezpečenie
Name[sl]=Varnost
Name[sr]=Безбедност
Name[sr@ijekavian]=Безбедност
Name[sr@ijekavianlatin]=Bezbednost
Name[sr@latin]=Bezbednost
Name[sv]=Säkerhet
Name[ta]=பாதுகாப்பு
Name[tg]=Амният
Name[th]=ความปลอดภัย
Name[tr]=Güvenlik
Name[ug]=بىخەتەرلىك
Name[uk]=Безпека
Name[uz]=Xavfsizlik
Name[uz@cyrillic]=Хавфсизлик
Name[wa]=Såvrité
Name[x-test]=xxSecurityxx
Name[zh_CN]=安全
Name[zh_TW]=安全性
Comment=Security & Privacy Settings
Comment[af]=Sekuriteit en provaatheid opstelling
Comment[ar]= إعدادات الأمن و الخصوصية
Comment[be]=Настаўленні бяспекі і прыватнасці
Comment[bg]=Настройки на сигурността
Comment[br]=Kefluniadur surentez ar buhez prevez
Comment[bs]=Postavke sigurnosti i privatnosti
Comment[ca]=Arranjament de seguretat i privadesa
Comment[ca@valencia]=Arranjament de seguretat i privadesa
Comment[cs]=Nastavení soukromí a zabezpečení
Comment[da]=Sikkerheds- & Privathedsindstillinger
Comment[de]=Sicherheit und Privatsphäre
Comment[el]=Ρυθμίσεις Ασφάλειας & Προσωπικού απόρρητου
Comment[en_GB]=Security & Privacy Settings
Comment[eo]=Agordoj pri Sekureco kaj Privateco
Comment[es]=Preferencias de seguridad y privacidad
Comment[et]=Turva- ja privaatsusseadistused
Comment[eu]=Sekuritate & pribakortasun ezarpenak
Comment[fa]=امنیت و تنظیمات محرمانگی
Comment[fi]=Turvallisuus- ja yksityisyysasetukset
Comment[fr]=Paramètres de sécurité et de confidentialité
Comment[fy]=Feiligens- en privacy-ynstellings
Comment[ga]=Socruithe Slándála agus Príobháideachta
Comment[gl]=Opcións de seguranza e privacidade
Comment[he]=הגדרות אבטחה ופרטיות
Comment[hu]=Biztonsági és adatvédelmi beállítások
Comment[ia]=Preferentias de securitate & confidentialitate
Comment[is]=Öryggis & einkalífsstillingar
Comment[it]=Impostazioni sicurezza e privacy
Comment[ja]=セキュリティとプライバシーの設定
Comment[ka]=უსაფრთხოებისა და პირადულობის პარამეტრები
Comment[kk]=Қауіпсіздігі пен Дербестік параметрлері
Comment[km]=ការ​កំណត់​សុវត្ថិភាព & ភាព​ឯកជន
Comment[ko]=보안과 개인 정보 설정
Comment[lt]=Saugumo ir privatumo nustatymai
Comment[lv]=Drošības un privātuma iestatījumi
Comment[mk]=Поставувања за безбедност и приватност
Comment[mr]=सुरक्षा व गुप्तता संयोजना
Comment[ms]=Seting Keselamatan & Peribadi
Comment[nb]=Sikkerhet og personvern-innstillinger
Comment[nds]=Sekerheit- un Privaatrebeet-Instellen
Comment[ne]=सुरक्षा र गोपनियता सेटिङ
Comment[nl]=Beveiligings- en privacy-instellingen
Comment[nn]=Tryggleik og personvern
Comment[pa]=ਸੁਰੱਖਿਆ ਅਤੇ ਪ੍ਰਾਈਵੇਸੀ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia bezpieczeństwa i prywatności
Comment[pt]=Configuração de Segurança e Privacidade
Comment[pt_BR]=Configurações de segurança e privacidade
Comment[ro]=Configurări de securitate și intimitate
Comment[ru]=Настройка безопасности
Comment[se]=Sihkarvuohta- ja iežas suodjalan heivehusat
Comment[sk]=Nastavenie zabezpečenia a súkromia
Comment[sl]=Nastavitve varnosti in zasebnosti
Comment[sr]=Поставке безбедности и приватности
Comment[sr@ijekavian]=Поставке безбедности и приватности
Comment[sr@ijekavianlatin]=Postavke bezbednosti i privatnosti
Comment[sr@latin]=Postavke bezbednosti i privatnosti
Comment[sv]=Inställningar för säkerhet och integritet
Comment[ta]=பாதுகாப்பு & தனிப்பட்ட அமைவுகள்
Comment[tg]=Танзимоти амният
Comment[th]=ตั้งค่าความปลอดภัยและความเป็นส่วนตัว
Comment[tr]=Güvenlik ve Gizlilik Ayarlar
Comment[uk]=Параметри безпеки і конфіденційності
Comment[wa]=Apontiaedjes di såvrité eyet d' privaceye
Comment[x-test]=xxSecurity & Privacy Settingsxx
Comment[zh_CN]=安全和隐私设置
Comment[zh_TW]=安全性與隱私設定
X-KDE-Keywords=kmail,security
X-KDE-Keywords[bs]=kmail, sigurnost
X-KDE-Keywords[ca]=kmail,seguretat
X-KDE-Keywords[ca@valencia]=kmail,seguretat
X-KDE-Keywords[cs]=kmail,bezpečnost
X-KDE-Keywords[da]=kmail,sikkerhed
X-KDE-Keywords[de]=KMail,Sicherheit
X-KDE-Keywords[el]=kmail,ασφάλεια
X-KDE-Keywords[en_GB]=kmail,security
X-KDE-Keywords[es]=kmail,seguridad
X-KDE-Keywords[et]=kmail,turvalisus
X-KDE-Keywords[fi]=kmail,security,turvallisuus
X-KDE-Keywords[fr]=kmail,sécurité
X-KDE-Keywords[ga]=kmail,slándáil
X-KDE-Keywords[gl]=kmail,seguranza
X-KDE-Keywords[hu]=kmail,biztonság
X-KDE-Keywords[ia]=kmail,securitate
X-KDE-Keywords[it]=kmail,sicurezza
X-KDE-Keywords[kk]=kmail,security
X-KDE-Keywords[km]=kmail សុវត្ថិភាព
X-KDE-Keywords[ko]=kmail,security,보안
X-KDE-Keywords[lt]=kmail,saugumas
X-KDE-Keywords[mr]=के-मेल,सुरक्षा
X-KDE-Keywords[nb]=kmail,sikkerhet
X-KDE-Keywords[nds]=KMail,Sekerheit
X-KDE-Keywords[nl]=kmail,beveiliging
X-KDE-Keywords[pl]=kmail,bezpieczeństwo
X-KDE-Keywords[pt]=kmail,segurança
X-KDE-Keywords[pt_BR]=kmail,segurança
X-KDE-Keywords[ro]=kmail,securitate
X-KDE-Keywords[ru]=kmail,security,безопасность
X-KDE-Keywords[sk]=kmail,bezpečnosť
X-KDE-Keywords[sl]=kmail,varnost
X-KDE-Keywords[sr]=kmail,security,К‑пошта,безбедност
X-KDE-Keywords[sr@ijekavian]=kmail,security,К‑пошта,безбедност
X-KDE-Keywords[sr@ijekavianlatin]=kmail,security,K‑pošta,bezbednost
X-KDE-Keywords[sr@latin]=kmail,security,K‑pošta,bezbednost
X-KDE-Keywords[sv]=kmail,säkerhet
X-KDE-Keywords[tr]=kmail,güvenlik
X-KDE-Keywords[uk]=kmail,security,безпека,захист
X-KDE-Keywords[wa]=kmail,såvrité
X-KDE-Keywords[x-test]=xxkmailxx,xxsecurityxx
X-KDE-Keywords[zh_CN]=kmail,security,安全
X-KDE-Keywords[zh_TW]=kmail,security
