[Desktop Entry]
Icon=preferences-plugin
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmail
X-KDE-FactoryName=kmail_config_plugins
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail
X-KDE-Weight=600
X-DocPath=kmail/index.html

Name=Plugins
Name[af]=Inprop modules
Name[ar]=الملحقات
Name[bg]=Приставки
Name[br]=Lugantoù
Name[bs]=Dodaci
Name[ca]=Connectors
Name[ca@valencia]=Connectors
Name[cs]=Moduly
Name[cy]=Ategion
Name[da]=Plugin
Name[de]=Module
Name[el]=Πρόσθετα
Name[en_GB]=Plugins
Name[eo]=Kromaĵoj
Name[es]=Complementos
Name[et]=Pluginad
Name[eu]=Plugin-ak
Name[fa]=وصله‌ها
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[fy]=Plugins
Name[ga]=Breiseáin
Name[gl]=Engadidos
Name[he]=תוספים
Name[hu]=Bővítőmodulok
Name[ia]=Plug-ins
Name[is]=Íforrit
Name[it]=Estensioni
Name[ja]=プラグイン
Name[ka]=მოდულები
Name[kk]=Плагин модульдері
Name[km]=កម្មវិធី​ជំនួយ
Name[ko]=플러그인
Name[lt]=Papildiniai
Name[lv]=Spraudņi
Name[mai]=प्लगिन
Name[mk]=Приклучоци
Name[mr]=प्लगइन्स
Name[ms]=Plugin
Name[nb]=Programtillegg
Name[nds]=Modulen
Name[ne]=प्लगइन
Name[nl]=Plug-ins
Name[pa]=ਪਲੱਗਇਨਾਂ
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plugins
Name[ro]=Extensii
Name[ru]=Модули
Name[sk]=Moduly
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@ijekavian]=Прикључци
Name[sr@ijekavianlatin]=Priključci
Name[sr@latin]=Priključci
Name[sv]=Insticksprogram
Name[ta]=சொருகுப்பொருள்கள்
Name[th]=โปรแกรมเสริม
Name[tr]=Eklentiler
Name[ug]=قىستۇرما
Name[uk]=Додатки
Name[uz]=Plaginlar
Name[uz@cyrillic]=Плагинлар
Name[wa]=Tchôkes-divins
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Comment=Settings Plugins
X-KDE-Keywords=kmail,plugins
