[Desktop Entry]
Name=KMail view
Name[ar]=منظور «بريدك»
Name[bs]=KMail pogled
Name[ca]=Vista del KMail
Name[ca@valencia]=Vista del KMail
Name[cs]=KMail pohled
Name[da]=KMail-visning
Name[de]=KMail-Ansicht
Name[el]=Προβολή KMail
Name[en_GB]=KMail view
Name[es]=Vista KMail
Name[et]=KMaili vaade
Name[eu]=KMail ikuspegia
Name[fi]=KMail-näkymä
Name[fr]=KMail view
Name[ga]=Amharc KMail
Name[gl]=Vista de KMail
Name[hu]=KMail-nézet
Name[ia]=Vista de KMail
Name[it]=Visualizzatore di KMail
Name[ja]=KMail ビュー
Name[kk]=KMail көрінісі
Name[km]=ទិដ្ឋភាព KMail
Name[ko]=KMail 보기
Name[lt]=KMail peržiūra
Name[lv]=KMail skats
Name[mr]=के-मेल दृश्य
Name[nb]=KMail-visning
Name[nds]=KMail-Ansicht
Name[nl]=KMail-weergave
Name[nn]=KMail-vising
Name[pa]=ਕੇ-ਮੇਲ ਝਲਕ
Name[pl]=Widok KMail
Name[pt]=Janela do KMail
Name[pt_BR]=Exibição do KMail
Name[ro]=Vizualizare KMail
Name[ru]=Просмотр в KMail
Name[sk]=Pohľad KMail
Name[sl]=KMailov prikaz
Name[sr]=Приказ К‑поште
Name[sr@ijekavian]=Приказ К‑поште
Name[sr@ijekavianlatin]=Prikaz K‑pošte
Name[sr@latin]=Prikaz K‑pošte
Name[sv]=Kmail-vy
Name[tr]=KMail görünümü
Name[uk]=Перегляд KMail
Name[wa]=Vuwe KMail
Name[x-test]=xxKMail viewxx
Name[zh_CN]=KMail 视图
Name[zh_TW]=KMail 檢視
Type=Application
Exec=kmail --view %u
Icon=kmail
NoDisplay=true
MimeType=message/rfc822;application/mbox;application/x-mimearchive;

X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kmail
