[Desktop Entry]
Icon=preferences-plugin
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kmail
X-KDE-FactoryName=kmail_config_plugins
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kmail
X-KDE-ParentComponents=kmail,kontact_kmailplugin
X-KDE-CfgDlgHierarchy=KMail
X-KDE-Weight=600
X-DocPath=kmail2/index.html

Name=Plugins
Name[af]=Inprop modules
Name[ar]=الملحقات
Name[bg]=Приставки
Name[br]=Lugantoù
Name[bs]=Dodaci
Name[ca]=Connectors
Name[ca@valencia]=Connectors
Name[cs]=Moduly
Name[cy]=Ategion
Name[da]=Plugin
Name[de]=Module
Name[el]=Πρόσθετα
Name[en_GB]=Plugins
Name[eo]=Kromaĵoj
Name[es]=Complementos
Name[et]=Pluginad
Name[eu]=Plugin-ak
Name[fa]=وصله‌ها
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[fy]=Plugins
Name[ga]=Breiseáin
Name[gl]=Engadidos
Name[he]=תוספים
Name[hu]=Bővítőmodulok
Name[ia]=Plug-ins
Name[is]=Íforrit
Name[it]=Estensioni
Name[ja]=プラグイン
Name[ka]=მოდულები
Name[kk]=Плагин модульдері
Name[km]=កម្មវិធី​ជំនួយ
Name[ko]=플러그인
Name[lt]=Papildiniai
Name[lv]=Spraudņi
Name[mai]=प्लगिन
Name[mk]=Приклучоци
Name[mr]=प्लगइन्स
Name[ms]=Plugin
Name[nb]=Programtillegg
Name[nds]=Modulen
Name[ne]=प्लगइन
Name[nl]=Plug-ins
Name[nn]=Programtillegg
Name[pa]=ਪਲੱਗਇਨਾਂ
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plugins
Name[ro]=Extensii
Name[ru]=Модули
Name[se]=Lassemoduvllat
Name[sk]=Moduly
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@ijekavian]=Прикључци
Name[sr@ijekavianlatin]=Priključci
Name[sr@latin]=Priključci
Name[sv]=Insticksprogram
Name[ta]=சொருகுப்பொருள்கள்
Name[th]=โปรแกรมเสริม
Name[tr]=Eklentiler
Name[ug]=قىستۇرما
Name[uk]=Додатки
Name[uz]=Plaginlar
Name[uz@cyrillic]=Плагинлар
Name[wa]=Tchôkes-divins
Name[x-test]=xxPluginsxx
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Comment=Settings Plugins
Comment[ca]=Arranjament dels connectors
Comment[ca@valencia]=Arranjament dels connectors
Comment[cs]=Moduly Nastavení
Comment[da]=Plugins til indstillinger
Comment[de]=Einstellungsmodul
Comment[en_GB]=Settings Plugins
Comment[es]=Preferencias de complementos
Comment[et]=Seadistusplugin
Comment[fi]=Asetusliitännäiset
Comment[it]=Estensioni per le impostazioni
Comment[nl]=Plug-ins voor instellingen
Comment[pl]=Wtyczki ustawień
Comment[pt]='Plugins' de Configuração
Comment[sk]=Pluginy nastavení
Comment[sl]=Nastavi vstavke
Comment[sr]=Прикључци за поставке
Comment[sr@ijekavian]=Прикључци за поставке
Comment[sr@ijekavianlatin]=Priključci za postavke
Comment[sr@latin]=Priključci za postavke
Comment[sv]=Inställningsinsticksprogram
Comment[tr]=Ayarlar Eklentisi
Comment[uk]=Додатки параметрів
Comment[x-test]=xxSettings Pluginsxx
Comment[zh_CN]=设置插件
X-KDE-Keywords=kmail,plugins
X-KDE-Keywords[ca]=kmail,connectors
X-KDE-Keywords[ca@valencia]=kmail,connectors
X-KDE-Keywords[cs]=kmail,moduly
X-KDE-Keywords[da]=kmail,plugins
X-KDE-Keywords[de]=KMail,Module
X-KDE-Keywords[en_GB]=kmail,plugins
X-KDE-Keywords[es]=kmail,complementos
X-KDE-Keywords[et]=kmail,pluginad
X-KDE-Keywords[fi]=kmail,liitännäiset
X-KDE-Keywords[it]=kmail,estensioni
X-KDE-Keywords[nl]=kmail,plug-ins
X-KDE-Keywords[pl]=kmail,wtyczki
X-KDE-Keywords[pt]=kmail,plugins
X-KDE-Keywords[ru]=kmail,plugins,модули,расширения
X-KDE-Keywords[sk]=kmail,pluginy
X-KDE-Keywords[sl]=kmail,vstavki
X-KDE-Keywords[sr]=kmail,plugins,К‑пошта,прикључци
X-KDE-Keywords[sr@ijekavian]=kmail,plugins,К‑пошта,прикључци
X-KDE-Keywords[sr@ijekavianlatin]=kmail,plugins,K‑pošta,priključci
X-KDE-Keywords[sr@latin]=kmail,plugins,K‑pošta,priključci
X-KDE-Keywords[sv]=kmail,insticksprogram
X-KDE-Keywords[tr]=kmail,eklentiler
X-KDE-Keywords[uk]=kmail,plugins,додатки,кмейл
X-KDE-Keywords[x-test]=xxkmailxx,xxpluginsxx
X-KDE-Keywords[zh_CN]=kmail,plugins,插件
