[Desktop Entry]
Name=KMail view
Type=Application
Exec=kmail --view %u
Icon=kmail
NoDisplay=true
MimeType=message/rfc822;application/mbox;application/x-mimearchive;

X-KDE-Protocols=akonadi
StartupNotify=true
